[2020-09-25 12:18] cjh1 commented on #584
@joelvbernier Looks like a mismatch between your version of `matplotlib` and `matplotlib-base`. One is being install from pypi and the other from conda-forge. How did you install this environment?

[2020-09-25 14:05] psavery commented on #545
@saransh13 It looks like we are going to be putting off the mac fixes for now, unfortunately. I want to get to them, but we don't think we'll have time before the demo. I'm going to try to fix the other things, though.

For 5, can you try selecting the row and then typing? That seems to work for me. In Qt, there's a concept called "Edit Triggers" for the table view, and you can see which ones I ha

[2020-09-25 14:20] cjh1 opened #585 "Exception when switching from plolar to raw with mask applied"
[code]

[2020-09-25 15:06] psavery commented on #524
I went with "if the overlay is visible, then include it in the calibration", FYI.

[2020-09-25 15:13] psavery commented on #545
General issues to do:
- [ ] Add minus button to remove atom types
- [ ] Set a max total occupancy of 1
- [ ] Make the total occupancy calculated and un-editable, rather than something that gets set by the user
- [ ] Make a default site that gets created for new materials (don't copy the site from the previously selected material)

Mac issues to do:
- [ ] The add/import/delete material tool button

[2020-09-25 15:36] bnmajor commented on #474
@joelvbernier In working with the masking in each view, masks created in raw view can be applied to polar view without any issues, but applying masks created in polar mode to raw mode has some issues if masks overlap detectors or points are selected outside of a panel (which seems to be exactly what you were explaining in #556). What behavior would you like to see for now? Should raw masks be appl

[2020-09-25 16:04] joelvbernier commented on #584
Ah -- you know, I don't even remember at this point.

[2020-09-25 16:07] joelvbernier opened #586 "RuntimeWarning in overlays preventing rendering of powder overlays?"
I have an unremarkable material selected (BCC with 2.5Å lattice paramter) on a TARDIS instrument, and it wont draw.  THe following is echoed to the terminal:

[code]

This is a mac, so perhaps a Mac issue?

[2020-09-25 16:13] joelvbernier opened #587 "Autosize table to widget in Overlay Manager"
Need same fix as the image load dialog, where the table columns autosize to the embedded widget:
![Screen Shot 2020-09-25 at 9 11 22 AM](https://user-images.githubusercontent.com/1154130/94290567-3959cc00-ff0f-11ea-8e3a-ac1c4000c819.png)

[2020-09-25 16:19] joelvbernier commented on #585
fix with an `np.atleast_2d`?

[2020-09-25 16:20] joelvbernier commented on #582
Sounds good @psavery

[2020-09-25 16:21] psavery commented on #586
[This stackoverflow issue](https://stackoverflow.com/questions/29688168/mean-nanmean-and-warning-mean-of-empty-slice) seems to indicate that happened for them when it was done on a list of `NaN`s (no real values). Maybe the reason it isn't drawing anything is because they are all `NaN` values?

[2020-09-25 16:22] joelvbernier commented on #580
Add LaB6, Silicon, and Forsterite (ambient Pnma) too please.

[2020-09-25 16:24] joelvbernier commented on #561
@psavery -- we need access to the lattice parameter only for the powder overlays.  It might be faster to just update the lattice parameter for the PlaneData object used to draw the overlays (and passed to the optimization) rather than modifying the material itself.  Not necessary for the Laue (Laue is insensitive to unit cell volume...)

[2020-09-25 16:34] joelvbernier commented on #586
shouldn't be -- or rather I can't see how they would be.  All real 2&theta; values in the materials table for the overlay.

[2020-09-25 16:37] joelvbernier commented on #506
I think this is closed with #583 , yes?

[2020-09-25 16:42] saransh13 opened #588 "Update lattice parameter for Materials once WPPF finishes running"
There's two thing that we'd want to improve for the WPPF form.
1. The first one is to create the form with all parameters in the `WPPF.LeBail.params` class. This is an instance of `WPPF.Parameters` class. Currently, it it initialized I imagine from the parameters in the `yaml` file and misses the lattice parameters in the form. The lattice parameters are not specified in that file but read from th

[2020-09-25 16:53] saransh13 commented on #580
Sure.

[2020-09-25 16:54] psavery commented on #506
Maybe! Is this two theta offset the same as one of the three offsets in the powder overlay editor options?

[2020-09-25 16:59] psavery commented on #582
Let me know if you can edit the site names by selecting them and typing.

[2020-09-25 17:37] bnmajor commented on #587
@joelvbernier I wasn't actually able to reproduce this issue but either way #590 should fix the problem.

[2020-09-25 18:53] #587 closed

[2020-09-25 22:54] joelvbernier opened #592 "Overlays in raw mode not updating with change of instrument parameters"
Could be a Mac specific issue?  I am running in a clean env with our special python 3.8.4 on 10.15.7

[2020-09-25 23:10] joelvbernier commented on #592
@saransh13 confirmed the same behavior on 10.14

[2020-09-25 23:23] joelvbernier opened #593 "Panel buffer config not working"
I am trying to apply a npy file as a buffer (couldn't use simple threshold to do it), and first it complains about a size mismatch (there isn't one).  Then, when I try to reopen the 'Configure Panel Buffer' dialog after canceling it, it get the following `KeyError`:
[code]
It also hoses something in the config; attempting to restart `hexrdgui` produces:
[code]
necessitating the use of the `--ignor

[2020-09-26 09:40] psavery commented on #561
Here's what the refinement editor looks like in the powder overlay editor in #568

![image](https://user-images.githubusercontent.com/9558430/94337731-ce65cf00-ffba-11ea-9b56-ba1740407ed0.png)

[2020-09-28 13:24] cjh1 commented on #593
@joelvbernier Looks like when we compared the detector shape we have rows, columns reversed, I will push a fix ...

[2020-09-28 13:34] cjh1 commented on #593
Fixed by #594

[2020-09-28 13:34] #593 closed

[2020-09-28 13:54] cjh1 commented on #492
Closing this, I think the issues are now resolve, or broken off into there own issues.

[2020-09-28 13:54] #492 closed

[2020-09-28 13:58] cjh1 commented on #506
Close reopen if necessary

[2020-09-28 13:58] #506 closed

[2020-09-28 13:59] cjh1 commented on #474
@joelvbernier Can we get the answers to @bnmajor questions?

[2020-09-28 15:10] #585 closed

[2020-09-28 15:19] cjh1 commented on #579
Yes, as @psavery describes. We are not actually performing the log operation on the data, this is all handle by matplotlib. If are going to log the data, we should probably move the log control outside the colormap controls and display the scaled values.

[2020-09-28 15:28] cjh1 commented on #579
Related to #557

[2020-09-28 17:53] #561 closed

[2020-09-28 19:07] #524 closed

[2020-09-28 19:21] cjh1 commented on #557
Just log scale the y axes

[2020-09-28 19:27] cjh1 opened #597 "Ensure extensions directory exists in setup.py"

[2020-09-28 19:28] cjh1 commented on #597
This is a problem with the Windows install.

[2020-09-28 20:58] #588 closed

[2020-09-28 21:16] psavery opened #598 "Remove sglite usage"
This will be done after the demo, most likely.

We are currently using `hexrd.spacegroup` just a little bit in the material editor widget, to get things like the hall symbol, required lattice parameters, etc. We should move away from using that module to other alternatives in the repo, because sglite is going to be removed soon.

[2020-09-28 21:19] psavery commented on #592
This might be a mac-specific issue. I don't think I can reproduce it on Linux.

@saransh13 @joelvbernier If you are still experiencing it, can one of you send a detailed example and/or a gif of how to reproduce it?

[2020-09-28 21:47] joelvbernier commented on #582
@psavery -- editing site labels also doesn't work on windows.

[2020-09-28 21:58] joelvbernier opened #599 "No way to re-raise closed dockable widgets"
Just noticed this, at least on Windows: If I close any of the dockable widgets (colormap, image mode, or the tabbed configuration widget), there doesn't appear to be any way to reopen them without quitting/restarting the GUI.  Can we change this behavior?  Perhaps we can put visibility controls in the "view" menu item?

[2020-09-28 22:03] psavery commented on #599
I think this is a problem for all platforms. We never added a way to bring them back if they are closed.

[2020-09-28 22:15] saransh13 opened #600 "WPPF behavior with spline interpolation as background method"
When spline was chosen as the background from the previous session, clicking on the `WPPF` option in thr `Run` menu directly opens up the `matplotlib` window to pick points. One that is done, then the form appears. GIF below

![out](https://user-images.githubusercontent.com/15834451/94491620-69b69a00-019d-11eb-9c18-b4c0c32da3e0.gif)

[2020-09-28 22:17] psavery commented on #600
I think I know how to fix this. Should be easy.

[2020-09-28 22:26] saransh13 commented on #600
@psavery Theres also a minor issue with the updating of the lattice parameters. The `a` and `c` on the materials panel don't match the corresponding values in `WPPF` form. Attaching image.

![Screen Shot 2020-09-28 at 3 24 10 PM](https://user-images.githubusercontent.com/15834451/94492310-e433e980-019e-11eb-8dd8-eba5f4360175.png)

[2020-09-28 22:32] psavery commented on #600
@saransh13 So, I think this saves the previous settings that were output from WPPF and then just displays those settings again the table. If there were no previous settings, then it uses the value from the material.

But we probably want it to always use the value for the material as the starting value, right?

[2020-09-28 22:42] saransh13 commented on #600
I think the way you have it set up right now is okay. We just need to make sure that the values in `Material` after executing `WPPF` is the same as this form. In the image above value of `a` and `c` are exactly the same, which makes me suspicious that they were not set correctly.

[2020-09-28 23:07] joelvbernier opened #601 "In new Material gen, dmin coming from "limit active" checkbox, not mind-spacing spin box"
Was just generating a new material, and it has the default 1.0Å in the Min d-spacing spin box.  However, when I open the materials table, it shows reflections generated out to the 0.72Å Min d-spacing in the "Limit Active" controller.  Precedence issue?  If I update the space group info dmin spin control, it works -- just a matter of the initial value.

[2020-09-28 23:44] cjh1 commented on #599
@joelvbernier Is this vital for the demo, I don't think we will get to it.

[2020-09-28 23:49] psavery commented on #600
I think if you run WPPF and then after it finishes, open the WPPF options dialog back up, I think the numbers should match exactly. But if, after running WPPF, you modify the material lattice parameters and then open the WPPF dialog back up, it will probably have the output from the first WPPF run set rather than the modified material lattice parameters. So they will be different.

Additionally, i

[2020-09-28 23:52] saransh13 commented on #600
Oh okay, got it now. Yeah that sounds better.

[2020-09-29 00:31] psavery commented on #582
Yes, I can use generic site names like `Site1`, `Site2`, etc.

[2020-09-29 00:56] psavery commented on #545
@saransh13 I think the site names should now be editable because of #603. Can you give it a try on Mac and see if it works?

[2020-09-29 01:03] #600 closed

[2020-09-29 01:12] #582 closed

[2020-09-29 01:50] #557 closed

[2020-09-29 01:53] psavery commented on #601
Yeah, that sounds like maybe the plane data wasn't updated to have a limit of 1.0Å. I haven't been able to reproduce it on a quick try. If you can give us exact steps, let us know.

[2020-09-29 02:55] joelvbernier opened #607 "Polar view not redrawing after changing instrument parameters in Instrument Tree or Form"
Just noticed this.  The overlays change, but the polar image doesn't get updated if you change instrument parameters in the Tree or Form views, just the Slider View.  Simple fix I am sure.

[2020-09-29 03:43] joelvbernier opened #608 "Polar Laue Mask causing exception when switching back to Raw view mode"
While I do not have the std out and error available right now on Windows, application of a Laue mask to the polar is causing an exception and preventing me from returning to the Raw image mode.  If I remove the mask, it works again.

[2020-09-29 04:36] joelvbernier opened #609 "Material reflection table is getting clipped by instrument beam energy"
I noticed that the reflection table for a material is getting clipped by the beam energy specification on the instrument.  I suspect this is because reflections up to a certain dmin specification can have a 2&theta; value of NaN from the arcsin in Bragg's Law (&lambda;/2d >1), which is fine...  the problem with this behavior is that it artificially clips the reflection list needed for the Laue ove

[2020-09-29 04:39] #580 closed

[2020-09-29 04:40] saransh13 commented on #545
Still not editable on Mac for me.

[2020-09-29 06:52] joelvbernier commented on #608
Adding to this: if I am looking a the polar view with a Laue mask applied, and I change, say, the SNIP kernel, the Laue mask doesn't get re-applied.  I need to remove and re-make it.  Sorry but I don't have the terminal output to be more illustrative at the moment (Windows).

[2020-09-29 07:20] joelvbernier commented on #609
Update -- loaded a saved h5 material file and it seems like it doesn't get clipped?

[2020-09-29 13:04] cjh1 commented on #608
This is the exception backtrace:

[code]

[2020-09-29 14:27] bnmajor commented on #608
#610 provides a temporary fix for the exception by not masking Laue spots in the raw view for now.

With regards to the updated Laue mask - the mask is just created from the current ranges when it is applied and there are no signals in place that indicate when a change has been made, so the old mask must be removed and a new one created. This is something that could be changed at some point, but I

[2020-09-29 14:50] joelvbernier commented on #608
Looks like a simple dimensionality problem in the input.  It's complaining that the arg `line` is 3-d;  the `angles_to_cart` method is expecting a vstacked 2-d array of (tth, eta) coordinates.  Looks like some reshaping would solve this.  I'll have to fire up the Linux version, because I don't know how to access the debugger through a WIndows PowerShell...

[2020-09-29 14:58] joelvbernier commented on #601
This is weird -- not reproducing.  Will keep my eyes on the lookout for it...   ¯\_(ツ)_/¯

[2020-09-29 14:58] #601 closed

[2020-09-29 15:00] joelvbernier commented on #599
No -- I'll just mention that it is slated to get fixed in case.  An inconvenience, not an error.  Removing the demo tag.

[2020-09-29 15:08] psavery commented on #607
Which parameters were you changing? The beam vector? It looks like I can reproduce this issue for the beam vector...

[2020-09-29 15:15] joelvbernier commented on #592
Happening on windows too.  Overlays do no update while in the raw view if you change any of the instrument parameter sliders.  Polar view updates, but raw only updates (_i.e._, the overlays) if you re-select the raw view tab after switching to polar or cartesian (where applicable) the switching back.

[2020-09-29 15:15] joelvbernier commented on #607
Any.

[2020-09-29 15:17] joelvbernier commented on #597
pip install, specifically

[2020-09-29 15:21] psavery commented on #607
Yeah, I get the same experience here. Looks like if you have "Show Live Updates" enabled, everything causes an update for me except the beam vector.

[2020-09-29 15:45] joelvbernier commented on #607
Why is that treated differently that the other parameters with regards to the update?

[2020-09-29 15:55] psavery commented on #607
Not sure, I'll take a look

[2020-09-29 16:23] joelvbernier commented on #593
FYI -- a detector class has a `shape` property now to help avoid confusion.  Should probably grab that.

[2020-09-29 16:31] saransh13 commented on #592
![out](https://user-images.githubusercontent.com/15834451/94586709-67ece500-0236-11eb-9a32-7d868f6b84c3.gif)

[2020-09-29 16:45] cjh1 opened #613 "Packaging is failing on master"

[2020-09-29 17:18] psavery commented on #607
So, the raw view and the cartesian view don't need to be redrawn when the beam vector changes, but only the overlays need to be updated. We were accidentally extending that to the polar view as well for the form and tree views. #614 should now always update the polar view no matter where the beam vector gets changed.

[2020-09-29 17:19] #607 closed

[2020-09-29 17:48] #592 closed

[2020-09-29 20:40] #242 closed

[2020-09-29 20:40] #485 closed

[2020-09-29 22:18] joelvbernier opened #618 "Labels for masking options are swapped"
In the Edit &#8594; Masks menu, the labels for options "Apply Mask to Polar" and "Apply Polygon Mask" are a bit misleading.  The former is in fact the hand-drawn polygonal mask, and the latter is the mask by shape (ellipse or rectangle).

I suggest the following renames in the ui form:

- **Apply Mask to Polar &#8594; Apply Polygon to Polar**
- **Apply Polygon Mask &#8594; Apply Ellipse/Rectangle

[2020-09-29 23:01] bnmajor commented on #618
@joelvbernier Sounds good. `Apply Polygon Mask` is available in raw view as well though, would something like `Apply Ellipse/Rectangle Mask` be okay? Or should masking by polygon be toggled off in raw view for now?

[2020-09-30 00:02] bnmajor commented on #618
#619 fixes this using `Apply Ellipse/Rectangle Mask` instead of `Apply Ellipse/Rectangle to Polar` but this can be tweaked if needed, very quick fix.

[2020-09-30 00:31] bnmajor opened #622 "Remove duplicate LineBuilder code"
The bug fix in #620 introduced a duplicate `LineBuilder` class. This needs to be updated to use the [existing class](https://github.com/HEXRD/hexrdgui/blob/master/hexrd/ui/line_picker_dialog.py#L241) in the `LinePickerDialog`.

[2020-09-30 00:38] psavery commented on #622
I was even considering getting rid of the LineBuilder class altogether, because most of its functionality is easy and possibly simpler to implement as part of its owning object. But it's still around for now.

I'll remember in the future that the linebuilder is being used elsewhere in the code (not just in the line picker dialog class).

[2020-09-30 00:43] bnmajor commented on #622
@psavery Sounds good! I'll bring this up again before adding a fix then, but if we decide to keep the class as is it would be easy enough to adapt to.

[2020-09-30 00:52] #618 closed

[2020-09-30 00:57] cjh1 commented on #608
Fixed by #610

[2020-09-30 00:57] #608 closed

[2020-09-30 00:58] cjh1 opened #623 "Laue masks be applied to the raw view."
See #608 for more details

[2020-09-30 19:09] joelvbernier opened #627 "Need I/O method for grain parameters for Laue overlay"
Now that we will be refining grain parameters for Laue overlays, it would be nice to have an I/O method, so the use can apply the refined grain parameters to an overlay after a GUI restart.  Maybe just simple YAML?

[2020-10-01 11:38] psavery commented on #609
So, the number of entries in the materials table is determined solely by the output of [`PlaneData.getHKLs()`](https://github.com/HEXRD/hexrd/blob/68aaecadebbede868b774bed9218ded3c63053bb/hexrd/crystallography.py#L1084) with the exclusions of the plane data all set to `False`. We don't tie the materials table directly to the Laue spots, but the Laue spots are [also generated from a `PlaneData` wit

[2020-10-01 11:55] psavery commented on #609
Note that it looks like where there are NaNs, they still show up in the materials table

![Screenshot from 2020-10-01 07-55-00](https://user-images.githubusercontent.com/9558430/94806124-7adcf200-03bb-11eb-9b9e-377b3cf4dd06.png)

[2020-10-01 14:40] bnmajor opened #632 "Add option to import masks"
Masks can be exported through the mask manager but need the ability to then be imported back in.

[2020-10-01 14:42] psavery opened #633 "Use passed in hkls for calibrating powder overlays"
The PowderCalibrator currently [grabs the hkls from the plane data](https://github.com/HEXRD/hexrdgui/blob/40abd5f8cd6ebef9340e3eee9e66697b46aee6d2/hexrd/ui/calibration/pick_based_calibration.py#L269), rather than using the hkls that get passed (in the `hkls` key for each of the [picks that get passed in](https://github.com/HEXRD/hexrdgui/blob/40abd5f8cd6ebef9340e3eee9e66697b46aee6d2/hexrd/ui/cali

[2020-10-01 21:35] joelvbernier opened #634 "Edit → transform detectors breaks if transform changes detector shape"
In the case of a rectangular detector, the application of transpose, 90, or 270 degree rotations will break compatibility with the corresponding detector on the instrument (exception raised).  The detector row/col spec **must** be updated with the new image shape in these cases.

[2020-10-01 21:40] joelvbernier commented on #634
This is separate from the LLNL workflow...  Based on a general user question about how to apply multiple transforms on import.

[2020-10-01 21:42] joelvbernier commented on #633
I'll make a PR for this today Patrick -- remind me, was the empty list fix merge for the powder so that there is always a 1:1 match between hkls and picks for a detector?

[2020-10-06 21:59] joelvbernier opened #636 "PXRDIP import not working"
@bnmajor -- I was trying to use the import tool for PXRDIP, and hexrdgui hangs.  In this case, I am loading the following tiff file rather than the HDF4.  It is complaining about a zero length imageseries, then dies.  Recall that in this import case (and BBXRD will be the same) all of the detector images are in a single image file.  Image can be foud [here](https://drive.google.com/file/d/1BaGuLym

[2020-10-06 23:32] joelvbernier commented on #636
Also checked, and the HDF4 import isn't working either (using the archive in the same shared Google Drive folder as above).

[2020-10-06 23:33] joelvbernier commented on #609
Not sure how to reproduce this.  I'll reopen if I encounter it again.

[2020-10-06 23:33] #609 closed

[2020-10-07 17:46] joelvbernier commented on #545
Or windows.

[2020-10-07 18:32] joelvbernier commented on #636
Update: I was reminded by @cjh1 that when running in dev mode, `pyhdf` is not installed.  That fixes the HDF4 import; I've raised a separate issue for the fabio tiff import badness in hexrd.  One thing I did notice, however, is that i have to reload the source image for every detector; any way to keep that in memory so we can go back to it without reloading?  Would prevent the user from accidental

[2020-10-07 22:08] saransh13 opened #637 "Error importing tiff files"
I'm trying to import tiff files for a configuration file specified by a yaml file. Tiff file looks fine to me but getting the following error in the console

[code]

the GUI crashes once this error is thrown.

[2020-10-07 22:21] saransh13 commented on #637
If I convert them to png files and try importing them, then I get the following error followed by a GUI crash

[code]

[2020-10-08 03:58] joelvbernier commented on #637
The tiff problem is a fabio problem -- it's tiff reader sucks.  Going to try to add a fallback to `imageio`.

[2020-10-08 07:03] joelvbernier opened #639 "WPPF refinement flags"
Looks like WPPF is refining phase lattice parameters even when I check the "vary" box off. You should check how the flags are being captured by the GUI, as well as the use inside WPPF.

[2020-10-08 17:09] saransh13 commented on #639
This works fine in the command line. I think its because the value of `vary` for each key from this table is not updated in the `LeBail.params[key].vary` . @psavery can you check? Check should correspond to `True` and unchecked should mean `False`.

[2020-10-08 17:24] saransh13 opened #640 "error in hexrdgui: looking for silx package"
This was after a fresh install in a new conda environment. Starting `hexrdgui` for the first time leads to this error. I had to do a `pip install silx` to fix this.

[code]

[2020-10-08 18:06] joelvbernier commented on #640
Are you in dev mode?  @cjh1 is this a problem silimar to `pyhdf`, because I see it is a dependency in the conda recipe as of #611

[2020-10-08 18:10] cjh1 commented on #640
@saransh13 How are you trying to install?

[2020-10-08 18:14] joelvbernier commented on #637
Looks like they pushed a fix to silx-kit/fabio [master](https://github.com/silx-kit/fabio/pull/407).  I'm going to reinstall fabio from there and see if it works.

[2020-10-08 18:18] cjh1 commented on #637
Side note, looks like they are going to cut a [release](https://github.com/silx-kit/fabio/releases) soon.

[2020-10-08 18:27] joelvbernier commented on #637
Yes they are finally!  They said they could give us a tag now without completed documentation etc., to which I replied 'sure'.  Also, tested fabio 0.11.0a1 and was able to load ImageJ tiffs into the GUI.  Not sure about your PNG problem above @saransh13 -- @cjh1 any insight on that?  Send me the images you were trying to load @saransh13, I want to close this tiff-related fabio issue and we can ope

[2020-10-08 18:27] #637 closed

[2020-10-08 20:29] saransh13 commented on #640
Installed using conda. Just followed the recipe on the github page. I'm in dev mode.

[2020-10-08 20:39] joelvbernier commented on #640
Are you installing the latest conda package?  0.8? Or just updating an existing (older) installation live?  @cjh1: it should be packaged with the latest, yes?

[2020-10-08 21:14] cjh1 commented on #640
Yes, its [installed](https://github.com/HEXRD/hexrdgui/blob/master/conda.recipe/meta.yaml#L29) in the latest and 0.8

[2020-10-08 21:17] joelvbernier commented on #640
@saransh13 -- can you verify the package version you installed?  If it was an older release (not the pre-release channel), then it would not have had the silx package.

[2020-10-08 21:58] joelvbernier opened #641 "TypeError on mouse hover over raw image canvas"
Notice this being spit to stdout
[code]

[2020-10-12 19:05] johnkit opened #643 "Exception running fit-grains process"
An error occurs when running grain fitting from hexrdgui. To reproduce:

* Load the multiruby_dexelas images (from the hexrdgui menu)
* Run indexing with min/max values of 7000/7001
* When the Fit Grains Options Dialog appears, click the "Fit Grains" button
* After some time (less than a minute on my MacBook Pro), the following error is written to the console:

[code]

[2020-10-12 19:09] johnkit commented on #643
With an older/dev version of hexrdgui, the error only occurred when the eta-omega maps were generated the in the same hexrdgui session as grain fitting. However the problem now occurs whether the eta-omega maps are generated or loaded.

[2020-10-20 22:21] psavery opened #646 "Ensure hkls of loaded eta omega maps match that in the GUI"
Currently, for the indexing, the user can load eta omega map files that do not have the same HKLs (or maybe not even the same material) as that in the GUI.

With this mismatch, the indexing runs fine, but a key error will occur when the user tries to run grain fitting, that looks like this:
[code]

It might be nice to ensure the HKLs of the loaded eta omega maps match, because this is otherwise a

[2020-10-20 22:40] psavery commented on #643
It looks like it is happening for me because the `culled_results` [here](https://github.com/HEXRD/hexrd/blob/2ee9f3bcb42ed4328b930dd68acf65da7e127125/hexrd/fitgrains.py#L183) for one of the detectors (ff1_0_1) is getting set to an empty list.

The error is complaining that there is no data to concatenate.

[2020-10-20 22:53] psavery commented on #643
I was able to fix it by taking into account that the `presults` might be empty, by inserting the following code [here](https://github.com/HEXRD/hexrd/blob/2ee9f3bcb42ed4328b930dd68acf65da7e127125/hexrd/fitgrains.py#L230):

[code]

However, I should double-check if it is reasonable for `presults` to be empty to begin with.

[2020-10-27 15:06] psavery commented on #370
Looks like all of these are in master now, except for logger output.

[2020-10-27 15:58] johnkit commented on #370
Correct. the progress dialogs are displayed but the logging is not connected.

[2020-10-27 16:04] psavery commented on #459
The axes labels are being added [here](https://github.com/HEXRD/hexrdgui/pull/642/files#diff-55f8cc0141b97b8367966fbf34c8a3aee4467e81b5439487338f8831a4ab9eb9R113-R115), but they are being removed when the axis gets cleared [here](https://github.com/HEXRD/hexrdgui/pull/642/files#diff-55f8cc0141b97b8367966fbf34c8a3aee4467e81b5439487338f8831a4ab9eb9R67). I'm not sure if the axes clearing is necessary

[2020-10-27 18:37] cjh1 commented on #466
Turn stress into cross sectional load

[2020-10-27 19:07] cjh1 opened #648 "Allow user to specify the axes range for the fit grains 3D plot"

[2020-10-27 19:08] cjh1 opened #649 "Add buttons to snap to views/positions"
XY, XZ and ZY

[2020-10-27 19:11] cjh1 opened #650 "A toggle for orthographic project"
Default to perspective off

[2020-10-27 19:13] cjh1 opened #651 "Look at optimizing fit_grain_FF_reduced ( this is in hexrd )"
Simple first step, remove the dump to file system:  https://github.com/HEXRD/hexrd/blob/2ee9f3bcb42ed4328b930dd68acf65da7e127125/hexrd/fitgrains.py#L155-L161

[2020-10-27 19:14] cjh1 opened #652 "Add menu to run fit grains directly"

[2020-10-27 19:17] #643 closed

[2020-10-27 19:18] cjh1 opened #653 "Add table to edit elastic moduli to the material panel"
- Will be used to convert stress to strain
- Add "Properties" tab to panel
- 6 x 6 matrix
- Look at https://github.com/HEXRD/hexrd/blob/master/hexrd/unitcell.py
- Tooltip to warn user to enter using Voigt notation

[2020-10-27 19:21] cjh1 commented on #466
@joelvbernier Can you fill in a little more detail? Thanks!

[2020-10-28 19:48] psavery commented on #649
@joelvbernier Because of the way 3D matplotlib is set up, you can't make the Z axis horizontal. For the third option, I'm making Z vertical for now. We can look into other options later if that isn't desirable.

[2020-10-28 19:50] psavery commented on #458
#653 will be utilized to do this.

[2020-10-29 19:53] psavery commented on #652
@joelvbernier So the grain fitting currently uses the following output from the indexing:

1. Eta omega maps (to generate `min_samples, mean_rpg`).
2. Completeness
3. `qfib`

When we run fit grains without indexing, where do we get these different pieces of info from?

I see that completeness is in the grains.out file. Does qfib come from a file we are currently not writing out in the GUI, like `a

[2020-10-29 19:58] psavery commented on #460
Before the latest matplotlib (3.3.2), only the save button in the navigation bar worked. So that is currently the only one displayed.

However, it looks like for 3.3.2, now the [home, back, and forward buttons work](https://matplotlib.org/3.3.2/users/whats_new.html#home-forward-backward-buttons-now-work-with-3d-axes). Should I add those in?

[2020-10-29 20:03] psavery commented on #633
This was fixed by #638

[2020-10-29 20:03] #633 closed

[2020-10-29 20:59] cjh1 commented on #460
@psavery Yes, lets add the ones that work.

[2020-10-29 22:37] psavery commented on #460
So, I've tried them out with the latest matplotlib. The home/back/forward buttons work better now, but are still buggy. For instance,  the forward button is often enabled when it shouldn't be, and the home button sometimes thinks a different configuration is home that is not. I can put them in with the hope they will be less buggy in the future.

We have a ranges editor now as well (#648). I'll ne

[2020-10-30 18:00] #375 closed

[2020-10-30 18:00] #429 closed

[2020-10-30 18:00] #459 closed

[2020-10-30 18:00] #460 closed

[2020-10-30 18:00] #461 closed

[2020-10-30 18:00] #462 closed

[2020-10-30 18:00] #648 closed

[2020-10-30 18:00] #649 closed

[2020-10-30 18:00] #650 closed

[2020-10-30 19:02] psavery opened #654 "Consider using "draw_idle()" in parts of the code"
The matplotlib `FigureCanvas.draw()` function is currently being used in parts of the code to re-render the canvas. This is good, but we might sometimes call `draw()` two or more times before control is returned to the event loop (and only the last draw will count).

If we use `draw_idle()`, an event to draw is posted to the event loop, and repeated calls to `draw_idle()` only result in one `draw(

[2020-10-30 20:12] psavery commented on #653
@saransh13 For the default values of the stiffness tensor, should we have some kind of reasonable defaults in the `materials.h5` file for each material? Or default to all zeros? Or something else?

[2020-10-30 21:19] saransh13 commented on #653
@psavery I think we can include some default values for each material. This will require addition on an additional data field in the file and digging up those values from a handbook. We could do a check if `stiffnessmatrix` data field is present for a group. If yes, then read from the table, if not then we can just fill zeros. Does that sound reasonable?

[2020-10-30 21:21] psavery commented on #653
Sounds good to me!

[2020-11-09 18:12] psavery opened #655 "Add default stiffness tensors to materials.h5"
See: https://github.com/HEXRD/hexrdgui/issues/653#issuecomment-719804851

[2020-11-09 21:49] psavery commented on #458
@saransh13 Is this the equation we will use to compute the stresses from the strains?
![Screenshot from 2020-11-09 15-47-12](https://user-images.githubusercontent.com/9558430/98600329-0000d400-22a3-11eb-81e8-d8984d937e13.png)

Where `σ` is stress, `ϵ` is strain, and `c` is the compliance tensor?

[2020-11-09 21:55] psavery commented on #458
@saransh13 Actually, this one looks simpler:
![Screenshot from 2020-11-09 15-53-43](https://user-images.githubusercontent.com/9558430/98600861-d5fbe180-22a3-11eb-9869-d70ec0e1f273.png)
![Screenshot from 2020-11-09 15-54-02](https://user-images.githubusercontent.com/9558430/98600870-d7c5a500-22a3-11eb-9868-5da5ada495c9.png)

Taken from [here](https://serc.carleton.edu/NAGTWorkshops/mineralogy/miner

[2020-11-09 23:29] psavery commented on #458
@saransh13 here is how I am currently computing the stress. Please let me know if it is wrong in any way.
[code]

[2020-11-10 00:02] saransh13 commented on #458
@psavery The second one is easier for computation. Your method is correct, but a simpler method would just be `np.dot(compliance, strain_vec)`. Note that strain needs to be specified as a vector in the formula I supplied. If you have strain as a 3x3 matrix, then you can obtain the vector by

`strain_vec = [strain[0,0], strain[1,1], strain[2,2], 2*strain[1,2], 2*strain[0,2], 2*strain[0,1]]`

[2020-11-10 01:44] psavery commented on #458
I've been using the attached columns from the fit grains output.
![Screenshot from 2020-11-09 19-18-18](https://user-images.githubusercontent.com/9558430/98617085-d99f6080-22c3-11eb-911a-0b0518caec17.png)

It looks like the indices match the `strain_vec`. I'm not sure if the last three are scaled by the factor of 2, though.

[2020-11-10 02:00] psavery commented on #429
@joelvbernier @saransh13  Hi Joel.

Does the equation for equivalent strain work for stress as well? Like the following:
[code]

[2020-11-10 14:12] cjh1 commented on #370
Let close this for now as the basics are now in place.

[2020-11-10 14:12] #370 closed

[2020-11-10 18:50] #458 closed

[2020-11-10 18:50] #653 closed

[2020-11-10 19:37] psavery opened #658 "Make disabled stiffness tensor elements easier to read"
For the stiffness tensor in the properties tab of the materials panel, the disabled elements are difficult to read. We should customize the style of the disabled ones so that they are easier to read.

![Screenshot from 2020-11-10 13-27-33](https://user-images.githubusercontent.com/9558430/98724579-91cb1880-2359-11eb-90a8-e196bcab4358.png)

[2020-11-11 20:33] saransh13 opened #659 "Display density in Materials Tab"
Can we add a field that displays the density in the material tab. This value can be found in `Material.unitcell.density` property. The value is recomputed when spacegroup or lattice parameter is changed.
PR 137 in hexrd does this update. ('don't know how to tag a PR in a different repo).

@note: density should also be updated when `Material.unitcell.atom_type`, `Material.unitcell.atom_ntype' or `M

[2020-11-11 22:19] joelvbernier commented on #429
For stress it is 3/2 instead of 2/3.  There is one other thing, however; the variable `m` should be the deviator of the stress.

Sent from my iPhone

[2020-11-18 01:44] #658 closed

[2020-11-18 01:59] psavery commented on #659
You can tag PRs in other repos like `owner/repo_name#num`. So, in this case, hexrd/hexrd#137.

If you have permissions to edit people's comments on a GitHub repo, you can also see their markdown "source" so you can see how they did it.

[2020-11-18 02:00] psavery commented on #429
@joelvbernier Can you show us how to make `m` the deviator of the stress?

[2020-11-18 02:35] psavery commented on #659
@saransh13 I think this could either go in the general tab or the properties tab. Although, there is definitely more room in the properties tab. Let me know if you have a preference.

General Tab
==========
![Screenshot from 2020-11-17 20-20-08](https://user-images.githubusercontent.com/9558430/99475398-13034c00-2914-11eb-8871-69878e0169fe.png)

Properties Tab
===========
![Screenshot from 2020-11

[2020-11-18 12:53] psavery commented on #651
So, those lines of code actually *load* an overlap table from the file system.

I wonder if the overlap table is actually even being dumped to the filesystem now. That looks like the only place in the code where that file is being used.
[code]

I wonder if we should either:
1. Just remove the `overlap_table` block of code entirely.
2. Add a way to pass the overlap table as an argument to the funct

[2020-11-18 13:41] donald-e-boyce commented on #429
To make the deviator, you subtract the spherical/dilational part so that
the trace becomes zero.

m = \sigma -  (1/3) trace(\sigma) I

where I is the identity.

On Tue, Nov 17, 2020 at 9:01 PM Patrick Avery <notifications@github.com>
wrote:

[2020-11-18 14:22] psavery commented on #429
@donald-e-boyce Okay, so this is what I have for the code now.
[code]

Let me know if it is incorrect in any way.

[2020-11-18 19:48] saransh13 commented on #659
Maybe next to the max 2theta/min d-spacing could be good spot. If there's not enough space, then we can definitely put in in the properties tab. What do you think @psavery @joelvbernier ?

[2020-11-30 19:59] joelvbernier commented on #659
Can go in properties I think.  Were you think gm/cc for units?

[2020-11-30 20:00] joelvbernier commented on #651
The overlap table code stays -- it is a refined analysis step that hasn't quite made it's way into the standards workflow, but we should talk a bit more about this.

[2020-12-01 19:37] joelvbernier commented on #651
@psavery -- we can certainly modify this to be passed as an arg.

[2020-12-02 02:23] saransh13 commented on #659
Yeah g/cc should be good. The density is calculated in these units.

[2020-12-07 18:49] joelvbernier commented on #652
A few things regarding grain fitting: this procedure (`hexrd fit-grains`) does **not** use the eta omega maps, completeness, or qfib, those are purely for the indexing step.  In general, what is required to fit a grain is are

- the orientation
- centroid
- strain
- imageseries.omega.OmegaImageSeries class
- PlaneData class

The CLI is set up to get this orientation from the `config` class, plus f

[2020-12-07 18:51] joelvbernier opened #663 "Current master broken"
Looks like something got broken in the materials tab, possibly some PR's out of sync:
[code]

For ref, hexrdgui is at
[code]

and hexrd is at
[code]

[2020-12-07 20:24] psavery commented on #663
@joelvbernier The `_StiffnessDict` is [here](https://github.com/HEXRD/hexrd/blob/master/hexrd/unitcell.py#L1635) on the master branch. It looks like it is there, so I'm not sure why are you getting the error. Maybe you need to make sure you did an editable pip environment for hexrd? (`pip install -e`)?

An `f` was added to the name (`_StifnessDict` -> `_StiffnessDict`) in [this commit](https://git

[2020-12-07 21:15] psavery commented on #652
@joelvbernier Yeah, that sounds good. Sorry Joel, we have a [`run_fit_grains()`](https://github.com/HEXRD/hexrdgui/blob/8c006bf33432c084cd5cf6de7b5d50927a590e9c/hexrd/ui/indexing/run.py#L171) function in our code that calls [`run_cluster()`](https://github.com/HEXRD/hexrdgui/blob/8c006bf33432c084cd5cf6de7b5d50927a590e9c/hexrd/ui/indexing/run.py#L197), so I assumed that was part of the grain fittin

[2020-12-08 19:52] psavery commented on #466
Until we do near-field, this requires input from the user. Requires a float spin box that represents the cross-sectional area of the sample.

[2020-12-08 20:13] cjh1 opened #665 "Add units for stiffness tensor"
gigapascal (GPa). This can be added a a tooltip.

[2020-12-08 20:15] cjh1 opened #666 "Add option to toggle between stiffness and compliance"

[2020-12-08 20:19] cjh1 opened #667 "Fit grains workflow is slow for large number of grains"
@joelvbernier Will provide a dataset with a large number of grains and more details of what operations are slow.

[2020-12-08 20:20] cjh1 opened #668 "Get stiffness tensor defaults from materials HDF5"
@saransh13 Is going to look at added them the materials file.

[2020-12-08 20:21] cjh1 commented on #668
See #655

[2020-12-08 20:22] cjh1 opened #670 "The density value in the fit grains result view should be read-only"

[2020-12-08 20:26] cjh1 opened #671 "Add option to change the glyph size in the fit grains results view"

[2020-12-08 20:27] cjh1 opened #672 "Add toggle option to control depth shading in 3D plot"

[2020-12-08 20:29] cjh1 opened #673 "Add ability to color by hydrostatic in grain results view"

[2020-12-08 20:30] cjh1 opened #674 "Add ability to change color map in fit grains result view"
We should be able to reuse code from where we do this elsewhere.

[2020-12-08 20:35] cjh1 opened #675 "Add option to export stress"

[2020-12-08 20:37] cjh1 opened #676 "Add option to filter table by chi^2 value"

[2020-12-08 20:38] cjh1 opened #677 "Allow sort of fit grains table by t_vec_XXX columns"

[2020-12-08 20:39] cjh1 opened #678 "Add toggle option to use cylindrical reference frame"

[2020-12-08 20:41] cjh1 opened #679 "Allow user to click on row in grain table to highlight grain in 3D plot"

[2020-12-08 20:43] cjh1 opened #680 "Allow user to select a point on the 3D plot and highlight the grain in the table"
We will need to check if matplotlib will let use do this.

[2020-12-08 20:44] cjh1 opened #681 "Look at adding the "tight axes" when saving plots"

[2020-12-08 20:46] cjh1 opened #682 "Provide view option to display/edit fit grain options in a tree view"

[2020-12-08 20:51] psavery commented on #681
Right now, all of the code that is ran when you press the "Save" button is in matplotlib. So we will also need to come up with a way to override the matplotlib function. Maybe by overriding the function in our [child class](https://github.com/HEXRD/hexrdgui/blob/8c006bf33432c084cd5cf6de7b5d50927a590e9c/hexrd/ui/navigation_toolbar.py#L6).

[2020-12-08 20:53] psavery commented on #679
We might also want a way to show/hide grians.

[2020-12-08 20:54] psavery commented on #673
IIRC, this is `1/3 * np.trace(matrix)`.

[2020-12-08 20:57] psavery commented on #675
This can be a button that is only enabled when `Convert Strain to Stress` is checked.

[2020-12-08 21:01] psavery commented on #677
We might just need to add these columns [here](https://github.com/HEXRD/hexrdgui/blob/8c006bf33432c084cd5cf6de7b5d50927a590e9c/hexrd/ui/indexing/fit_grains_results_dialog.py#L346-L352) and [here](https://github.com/HEXRD/hexrdgui/blob/8c006bf33432c084cd5cf6de7b5d50927a590e9c/hexrd/ui/indexing/fit_grains_results_dialog.py#L168-L175).

[2020-12-08 21:02] psavery commented on #682
Indexing options also, I think, as a separate tree view.

[2020-12-08 21:03] psavery commented on #678
@joelvbernier Can we get the math for this again?

[2020-12-08 21:10] psavery commented on #665
IIRC, for compliance that will be added in #666, the units will be inverse terapascal (TPa⁻¹). We will update the tooltip when the tensor type gets changed.

[2020-12-08 23:02] joelvbernier commented on #678
The tvec_c components are in order (**X**, **Y**, **Z**);  we will report out coordinates (&rho;, &phi;, **Y**).

- In our case, **Y** is the cylinder axis and will remain unchanged in the transform.
- the radius &rho; is calculated as `np.sqrt(x*x + z*z)`
- the azimuth &phi; is calculated as `np.arctan2(z, x)`

[2020-12-09 18:27] #659 closed

[2020-12-09 18:27] #670 closed

[2020-12-15 22:39] #665 closed

[2020-12-15 22:39] #666 closed

[2020-12-17 19:47] saransh13 opened #685 "Export cartesian view"
Can we add an export option for the cartesian view? I've found it to be the most intuitive for people and its useful for generating figures for papers and abstracts. Two options I can think of are
1. Make it part of the polar plot export button and ask user if they want to write out the cartesian view to the same HDF file.
2. Make a separate button for just the cartesian view.

Thoughts? Personall

[2020-12-22 17:24] #634 closed

[2020-12-22 18:05] psavery commented on #685
Sure, we can add this!

I think it might be easiest to change the polar plot export button to a general "Export Plot" button that will export whichever view is currently displayed, Cartesian or Polar.

Internally, only one view (raw, cartesian, or polar) is generated and available at a time. It might require a little re-working to be able to export multiple views simultaneously (since we'd need to

[2020-12-23 20:39] joelvbernier opened #691 "Pick-based calibration is broken"
@psavery -- looks like the pick-based cal is broken in current master.  This is the first time I've really tested it since you removed the middle click.  This was a mixed powder/laue case (from the demo).  Looks like misplaced parenthesis?  See below:
[code]

[2020-12-24 00:39] cjh1 commented on #691
@joelvbernier I have fixed this up in #692

[2020-12-24 15:54] psavery commented on #691
The assertion failing might be a problem that I'll need to look into

[2020-12-28 14:14] #691 closed

[2020-12-28 18:19] #677 closed

[2020-12-28 18:20] #675 closed

[2021-01-05 14:47] bnmajor commented on #671
Added in #687 - Closing, can re-open if needed

[2021-01-05 14:47] #671 closed

[2021-01-05 14:47] bnmajor commented on #674
Added in #686 - Closing, can re-open if needed

[2021-01-05 14:47] #674 closed

[2021-01-05 14:51] bnmajor commented on #685
When the polar view is saved, the `tth coordinates`, `eta coordinates`, and `extent` [are saved](https://github.com/HEXRD/hexrdgui/blob/master/hexrd/ui/calibration/polar_plot.py#L69) in addition to the image - is there any data for the cartesian view that should be included when saved?

[2021-01-05 14:59] bnmajor commented on #641
@joelvbernier I was unable to reproduce - Is this still an issue you are seeing? If so can you share your workflow leading up to the error?

[2021-01-05 16:11] bnmajor commented on #685
Closing for now, the option to export cartesian view has been added in #695. We can re-open if we'd like to expand on this to write out additional keys.

[2021-01-05 16:11] #685 closed

[2021-01-06 15:56] #682 closed

[2021-01-06 19:00] #673 closed

[2021-01-08 15:26] #681 closed

[2021-01-08 15:26] #672 closed

[2021-01-08 15:44] #678 closed

[2021-01-08 19:52] psavery commented on #680
To leave some notes here:

I am able to do most of this by first adding as a kwarg to `scatter3D()` `'picker'=True`, then
connecting to pick events via `canvas.mpl_connect('pick_event', self.point_picked)`.

When I get the pick event, there is an index associated with it, which appears like it is
supposed to match the index of the original data used to create the plot. However,
the index does not

[2021-01-12 06:29] #663 closed

[2021-01-12 07:01] joelvbernier opened #702 "Detector selector not updating with change of instrument config values"
@bnmajor: I noticed that the detector keys in the Detector selector on the Multiframe Options panel in the Load Data widget do not get updated; neither in the case where detector keys are edited live in the GUI (e.g. adding detectors live or renaming existing ones in the Instrument Config form) nor in the case where a new (different) config is loaded.  I am not sure to the extent this badness prop

[2021-01-12 08:17] joelvbernier opened #703 "Add structure factor column to materials table"
This would be a useful feature, particularly if we could also sort the reflections based on the values.  The values in question are a property on the PlaneData object: `PlaneData.structFact`

[2021-01-12 19:27] saransh13 opened #705 "Save analysis option for saving everything in one HDF5 file"
Adding a save analysis button to save everything (detector configuration, associated image files, image processing parameters, polar view parameters, materials etc.) in single HDF5 file. This makes it easier to save the state of the analysis at a particular time and allows the user to continue from where they stopped last time. We can also do this periodically to make sure that analysis is saved a

[2021-01-12 21:22] psavery commented on #702
@bnmajor There is a signal coming from `HexrdConfig` named `detectors_changed` that gets emitted when detectors are changed (added, removed, or renamed). I think you can connect to that.

[2021-01-12 21:34] bnmajor commented on #702
@psavery Thanks! I connected to that signal, was a very simple fix. I thought I remembered adding that connection in in the past but either I'm mistaken or it got lost somewhere along the way...

Either way it seems to work as expected now. Added, removed, or renamed detectors are updated in the menu, and the list of options is updated for new configs @joelvbernier

[2021-01-13 00:04] #702 closed

[2021-01-13 00:23] joelvbernier commented on #705
Agreed.  There are a few other pieces that we need to be able to expose to the user before we get here (_e.g._ the calibration point lists).  We need to formalize what this will encompass.

[2021-01-13 00:25] joelvbernier commented on #679
I think we'll want to be able to show/hide by applying sort/filter on values in the grain results table as well as direct user selection.

[2021-01-13 00:26] joelvbernier commented on #676
related to #679

[2021-01-13 17:55] joelvbernier commented on #668
@saransh13 -- nudging you on this.  Maybe we just use some cubic reference?  Steel, perhaps?

[2021-01-13 18:23] saransh13 commented on #668
Is there a good reference with these values compiled for different system?

[2021-01-13 18:58] joelvbernier opened #707 "Detector boundaries in PXRDIP import are rotated 180°"
@bnmajor -- I just went and added the notched corners to the PXRDIP detector boundaries, and I noticed that the import tool is drawing them in the raw view rotated 180°.  The cropping is transformin things properly, it is just that the outlines are being drawn rotated +90°, when they should be drawn in the raw view rotated -90°.

We have a PXRDIP demo session for a group at 1pm; any chance we can

[2021-01-13 19:35] bnmajor commented on #707
@joelvbernier I'm sorry, I was in a meeting when this came in - I've pushed the fix in #709 and can get that merged in if it looks good to you

[2021-01-19 17:37] psavery commented on #705
So, a lot of the state of the program is stored inside the [HexrdConfig class](https://github.com/HEXRD/hexrdgui/blob/778134d397bd0a3562204ddf432ab7eab9cf15de/hexrd/ui/hexrd_config.py#L40).

In fact, a lot of state is stored in [this config dict](https://github.com/HEXRD/hexrdgui/blob/778134d397bd0a3562204ddf432ab7eab9cf15de/hexrd/ui/hexrd_config.py#L133). The materials, instrument/detector config

[2021-01-19 17:38] psavery commented on #703
Okay. Adding the column shouldn't be too much work. Being able to sort based on it might be just a little more, since I think it is currently assuming internally that the order of rows doesn't change.

[2021-01-19 19:32] #707 closed

[2021-01-20 04:36] joelvbernier opened #711 "Site editor in structure tab not accepting coord modifications"
Changes in fractional coordinates are not accepted.  I loaded a material archive and attempted to modify atom coordinates. They get overwritten by the as-loaded values when you toggle back and forth between another site.   See screen cap below.
![Screen Recording 2021-01-19 at 08 31 41 83 PM](https://user-images.githubusercontent.com/1154130/105127402-b21ffd80-5a95-11eb-8183-437822b9cbaf.gif)

[2021-01-20 04:46] joelvbernier commented on #711
Edit: same behavior if you try to make a new material; you are stuck with the coords of the most recent active material and cannot change them.  Also, there is some very strange mouse behavior going on; notice I _am not_ holding Ctrl or Shift, and left mouse is selecting multiple sites.
![Screen Recording 2021-01-19 at 08 29 49 52 PM](https://user-images.githubusercontent.com/1154130/105128117-3ae

[2021-01-20 05:12] psavery commented on #711
@joelvbernier I think this might be happening because of #513. Out of the default materials, ruby and forsterite are the two that have a "U" that is a symmetric tensor rather than a single value, and we hadn't yet built in a way to deal with a U that has a symmetric tensor. If you make a new material, it copies over the old material, so it may also have a symmetric tensor U.

Can you give this a t

[2021-01-20 18:37] joelvbernier commented on #711
@psavery: I played with Si (which uses isotropic B) and get the same weirdness.  Not sure why the mouse left click is behaving like Ctrl+click if I add sites and try to switch between them.  I also, edits to any site (if I add more than the one) edit all the sites.

@saransh13, can you help Patrick with this?  Neither the 0.8 nor the current master GUI has a functional structures tab.

[2021-01-20 20:10] saransh13 commented on #711
@psavery let me know how I can help. I can't reproduce this on OSX.

[2021-01-20 20:12] joelvbernier commented on #711
Confirmed the same behavior on Linux, using the ruby as an example.

[2021-01-20 20:12] joelvbernier commented on #711
Am I wrong in stating that our current interface has a fundamental problem w.r.t. inputting U tensor values?  We only have a scalar spin box...

[2021-01-20 21:09] psavery commented on #711
Yeah, it looks like trying to view a site that had a tensor U put the structure editing tab in a bad state, and caused a lot of bugs. #712 prevents us from getting into this bad state. However, we should still add a tensor editor soon (tracked in #513).

[2021-01-20 21:11] #711 closed

[2021-01-21 07:03] joelvbernier opened #713 "Load Data options reverting to defaults upon reloading imageseries"
Noticed this bug working with Darren today: if you load and imageseries with a set of processing options (aggregation, transform, dark), then load a new imageseries (for the same instrument), the options are reverting to the default values but the selectors are not changing.  For example, if I loaded an imageseries with max aggregation, loading a new file set will load without aggregation even tho

[2021-01-21 13:37] cjh1 commented on #713
@bnmajor Is going to take a look at this.

[2021-01-21 14:36] bnmajor commented on #713
@joelvbernier Would you be able to give me some more details (which config and images maybe) around the case you were testing when you saw this behavior? I've tried with a few different configuration files and imageseries and haven't been able to reproduce these issues.

Each time I tried to reproduce:
- `Apply Selections to All Detectors` was selected (but never toggled on/off after the initial s

[2021-01-21 19:00] joelvbernier commented on #713
Screen cap won't work because it takes too long, but I'll give you an example

[2021-01-21 22:27] joelvbernier opened #714 "Precision limitation leading to rounding error in omega specs in image loader"
I just noticed this one:

I have an imageseries set from chess with 1441 frames spanning (0, 360).  Thus the delta omega reflected in the metadata on the imageseries object is 360./1441 ~ 0.249826509.  However, when I load these imageseries series via the HEDM-style "Load Data" widget, I see the following:

![image](https://user-images.githubusercontent.com/1154130/105419359-6f743780-5bf3-11eb-9b7

[2021-01-22 15:55] zixuanye opened #715 "Calibration error in shape_base.py"
Hi Joel! I got the attached error while calibrating the instrument. My system is macOS Catalina. Thanks!

Traceback (most recent call last):
  File "/Users/zixuanye/opt/anaconda3/envs/hexrd/lib/python3.8/site-packages/hexrd/ui/calibration/calibration_runner.py", line 137, in finish_line
    self.pick_next_line()
  File "/Users/zixuanye/opt/anaconda3/envs/hexrd/lib/python3.8/site-packages/hexrd/ui/

[2021-01-23 00:42] joelvbernier opened #716 "Pixel sizes in Form View not updating properly upon change in Tree View"
I was making a detector from scratch in the GUI (single panel, but that's irrelevant) and noticed that there is a disconnect between the pixel size reported in the Form View and Tree View; it seems only the latter allows editing, and the former does not get updated after making changes in the Tree View:

![image](https://user-images.githubusercontent.com/1154130/105562845-b3893a00-5cd0-11eb-96c2-9

[2021-01-25 02:51] psavery commented on #716
@joelvbernier I was able to reproduce this, and it looks like it was being caused by a minimum value of "0.1" being enforced for the pixel sizes in the form view. That is why if you set a value in the tree view that is less than 0.1, it only shows "0.1" in the form view.

I relaxed this requirement (and I relaxed other min/max requirements in the form view as well) in #717, and it also uses scient

[2021-01-25 14:50] #716 closed

[2021-01-25 19:40] psavery opened #721 "Spot labeling in eta omega maps viewer should change with the method"
Currently, we are [always labeling spots as if the method were "label"](https://github.com/HEXRD/hexrdgui/blob/beadbc312f91c1633c51fe16c260fb1084e4ac2f/hexrd/ui/indexing/ome_maps_viewer_dialog.py#L280-L304).

We need to change the spot labeling to be based upon the chosen method, [as is done in hexrd](https://github.com/HEXRD/hexrd/blob/b79c7fa34e4f9aadb81da4c8425bd2e3f8de887a/hexrd/findorientatio

[2021-01-25 19:44] #713 closed

[2021-01-25 20:06] bnmajor opened #722 "Load Series of tiff files"
We need to support the ability to load stacks of tiff images for detectors so that imageseries can be created from scratch. To do this we need a widget to allow the user to select the directory and files that should be used and to set the relevant data for the detector. Below is a mock-up of what this dialog could look like:

![yaml_form](https://user-images.githubusercontent.com/51238406/10575873

[2021-01-25 23:37] joelvbernier commented on #722
Looks good, although the defaults for `'max-total-frames'` and `'max-file-frames'` are both 0, which means read all available.

[2021-01-25 23:38] joelvbernier commented on #722
We do not currently support negative delta omega in `imageseries`, but I think I'll make a feature request issue to do so (what do you think @donald-e-boyce?)

[2021-01-26 01:12] donald-e-boyce commented on #722
I think that is a good idea. It shouldn't be too hard to do. We just
have to check in a number of places for impact.

On Mon, Jan 25, 2021 at 6:39 PM Joel Bernier <notifications@github.com> wrote:

[2021-01-28 02:09] joelvbernier commented on #714
Looks like I'm getting a `TypeError` from this PR; reopening
[code]

[2021-01-28 02:14] joelvbernier commented on #715
Looks like the calibration routine is seeing no points selected (which are stored in `pdata` above).  Were you using the two-click method and not selecting points in the zoom window?  Any information you have w.r.t. how to reproduce this would be helpful :-)

[2021-01-28 02:36] joelvbernier opened #723 "Dark mode selector association issue"
@bnmajor it looks like the dark mode selector for file might have the wrong connection with the activation of the "Select Dark File" button.  I have to select "Maximum" as the dark mode for the "Select File" button to activate
![Screen Shot 2021-01-27 at 6 27 49 PM](https://user-images.githubusercontent.com/1154130/106081703-36920200-60ce-11eb-855d-626c4a2cc966.png)
Observe what is happening when

[2021-01-28 17:48] #723 closed

[2021-01-28 20:42] joelvbernier commented on #722
@bnmajor -- noticed a bug in Load Data related to this.

Take the images in the shared Google Drive folder under sample_images:
- RUBY_4537.ge
- RUBY_4537.ge

These are raw GE format files (can use the instrument config [here](https://github.com/HEXRD/examples/blob/master/NIST_ruby/single_GE/include/ge_detector.yml) with them) that each have 482 data frames: 2 empty to skip at the start, and 480 d

[2021-01-28 22:03] #714 closed

[2021-01-29 19:07] #652 closed

[2021-01-29 19:22] psavery commented on #639
Sounds good. From our discussion, it sounds like the GUI is not setting the initial value that is from hexrd.

[2021-01-29 23:47] saransh13 commented on #639
I tried, but couldn't figure out where it would be going wrong!

[2021-02-03 07:40] joelvbernier opened #734 "exclusions error in GUI based map generation"
I have an example where I selected a non-sequential list of hkl:
![image](https://user-images.githubusercontent.com/1154130/106712917-84b37380-65ae-11eb-8318-7a1690924fa0.png)

This is supposed to set the exclusions on the `PlaneData` object; the indices for making the maps would are simply sequential on the masked list [0, 1, 2, 3, 4].  It looks like unmasked indices are being headed to `generate

[2021-02-03 07:44] joelvbernier opened #735 "Need interface to specify map indices for seeded search"
In the HEDM config YAML, the indices under `find_orientation:seed_search_hkl_seeds` allows specification of a subset of maps to use for the seeded search.  We typically only use the first 2 or 3 maps, not all.  There is currently no attribute for setting this list in the GUI -- is it running `generate_orientation_fibers` on all the maps?

[2021-02-03 07:47] #721 closed

[2021-02-03 07:50] #639 closed

[2021-02-03 08:01] joelvbernier opened #736 "New image loading bug"
I am getting the following `AttributeError` after merging #729 -- I am loading a frame-cache (npz) imageseries that previously loaded.

[code]

[2021-02-03 15:58] bnmajor commented on #722
#732 provides a load dialog for stacks of images as well as provides a fix for the bug described here.

[2021-02-03 16:39] #736 closed

[2021-02-03 16:40] psavery commented on #735
@joelvbernier Yes it is currently using all the maps. I will add an option to specify this.

[2021-02-03 17:35] psavery commented on #734
It looks like in hexrd, sometimes the `active_hkls` indices refer to indices with exclusions and tThMax already applied (`plane_data.hkls`, [example](https://github.com/HEXRD/hexrd/blob/f1549eeb128f552484cb03823697a02ee550cced/hexrd/findorientations.py#L501-L509)), and sometimes they refer to indices without exclusions and tThMax applied (`plane_data.hklDataList`, [example](https://github.com/HEXR

[2021-02-03 19:37] psavery opened #740 "Add option for .axis('equal') to grain fitting results"

[2021-02-03 19:51] #734 closed

[2021-02-03 21:13] joelvbernier opened #741 "New WPPF warning"
Now when I select WPPF, I get a warning in a dialog; not sure why.  This is occurring just in bringing up the WPPF widget, _not_ in executing the fit.  Initialization error @saransh13?
![Screen+Recording+2021-02-03+at+01 10 44 86+PM](https://user-images.githubusercontent.com/1154130/106810689-2b852780-6622-11eb-8625-5414d471bef9.gif)

[2021-02-03 21:32] psavery commented on #741
@saransh13 FYI, when the dialog is first initialized, it creates a LeBail object so that the dialog can see the material options that the LeBail object adds (such as `gold_a`), and add them to the table also. It only initializes the `LeBail` class, it doesn't call functions on it.

I'm guessing that error is coming from the `LeBail` initialization?

[2021-02-03 21:41] saransh13 commented on #741
@psavery I think we can skip the LeBail initialization and initialize the extra parameters from the list of `Material` class objects itself. Theres also some modifications to be made for reading in the parameters for the `Rietveld` method. The `Rietveld` method has a slightly different list of parameters compared to the `LeBail` class. Need some help with that though.

[2021-02-03 22:02] psavery commented on #741
@saransh13 Okay. [Here](https://github.com/HEXRD/hexrdgui/blob/master/hexrd/ui/resources/calibration/wppf_params.yml) is a yaml file that contains the list of defaults for the LeBail table. We will probably make another yaml file for Rietveld, and when the user switches methods, load the defaults from the respective yaml file and populate the table.

[2021-02-03 22:07] saransh13 commented on #741
@psavery I have a WPPF-update branch which updates the default parameter list and adds the rietveld.yml file containing the default parameters for that class.

[2021-02-03 22:29] psavery commented on #741
Sure! Let me know when you have the method to generate the extra parameters from a list of Material objects.

[2021-02-04 01:00] saransh13 commented on #741
ok the function `add_material_parameters` [here](https://github.com/HEXRD/hexrdgui/blob/WPPF-update/hexrd/ui/calibration/wppf_options_dialog.py) should work. Warning that I haven't actually tested it. But if there are any syntax error, it should be minor.

[2021-02-04 01:04] saransh13 commented on #741
ok the function `add_material_parameters`line 424 [here](https://github.com/HEXRD/hexrdgui/blob/WPPF-update/hexrd/ui/calibration/wppf_options_dialog.py#L424) should work. Just a warning that I haven't actually tested it. But if there are any syntax error, it should be minor.

[2021-02-04 01:04] saransh13 commented on #741
ok the function `add_material_parameters`line 424 [here](https://github.com/HEXRD/hexrdgui/blob/WPPF-update/hexrd/ui/calibration/wppf_options_dialog.py) should work. Just a warning that I haven't actually tested it. But if there are any syntax error, it should be minor.

[2021-02-04 01:09] joelvbernier commented on #741
Test it.

[2021-02-04 06:57] #735 closed

[2021-02-04 07:29] joelvbernier opened #744 "Distortion functions not being properly applied to cartesian view"
I just posted an analogous fix to the raw view in #743 -- this one will be more involved, as we are currently only mapping the 4 corners of the source detector; we would have to map a grid of distorted pixel coords to get the proper mapping, which would add significant time to the render...

[2021-02-12 22:29] psavery opened #750 "Polar view SNIP fixes"
- [x] Make 'Show SNIP' behavior match applying the SNIP (fixed by #988)
- [ ] Export SNIP background when exporting the polar image
- [ ] Export polar image without masks applied, and export the masks separately

Currently, the 'Show SNIP' behavior doesn't match the 'Apply SNIP?' behavior when 'Apply SNIP?' is unchecked. 'Apply SNIP?' will apply the FAST_SNIP_1D with zeros instead of NaNs. Also, t

[2021-02-16 19:17] psavery opened #751 "Save/load image data when closing/opening the application"

[2021-02-17 15:25] psavery commented on #703
@saransh13 What are the units of the structure factor? And, what would be a good column header? `F`?

[2021-02-17 15:57] psavery opened #752 "Warning when mouse first moves over masked intensity"
This warning gets produced the first time a user moves their mouse over a masked intensity:
[code]

It looks like it is caused by trying to format a masked value. For instance, I get the same warning
if I do this:
[code]

[2021-02-17 17:23] joelvbernier commented on #752
Yeah, I saw that.  It looks like it is getting ‘—‘.  I believe we can actually use the fix_invalid method to have it report the fill_value instead

Sent from my iPhone

[2021-02-17 17:23] joelvbernier commented on #703
No units, and “|F|^2”

Sent from my iPhone

[2021-02-17 18:09] psavery commented on #752
Okay. It looks like this is a masked array created by matplotlib. Our NaNs are coming out masked because matplotlib is using `np.ma.masked_invalid()` to set the data. They have the fill value set at the default (`1e+20` for floats).

Currently, for these masked values, the intensity in the status bar is showing `--` (which is what comes out if you `print()` a masked value).

For our NaNs in the im

[2021-02-17 18:19] joelvbernier commented on #750
Regarding the user-defined masks; exclude those from the SNIP calculations.  The user-defined masks are often used to remove artifacts introduced at the edges by the SNIP convolution.  Also, FAST_SNIP_1D cannot handle NaNs, which necessitates the fill with zeros.

[2021-02-17 19:21] saransh13 commented on #703
I'm wondering if we should normalize structure factors to 0-100? The absolute numbers don't matter anyways.
So the numbers to display would be `100*sf/sf.max()`

[2021-02-18 02:30] psavery commented on #750
We might need to keep a deep copy around of the un-modified polar image so that the `Show SNIP` can access it. If you do this, feel free to put it in the [PolarView](https://github.com/HEXRD/hexrdgui/blob/36831d1fc8360ee26dae12b6cd8199b0356817f2/hexrd/ui/calibration/polarview.py#L28) class and set it in the `PolarPlot class somewhere around [here](https://github.com/HEXRD/hexrdgui/blob/36831d1fc83

[2021-02-18 02:38] psavery commented on #641
It looks to me that this is the same as #752, except maybe it is an error on Windows instead of a warning (like it is on Linux).

It looks like the problem occurs when you move the mouse over a masked value in the image. Matplotlib creates masked values from `nan` and `inf` values. So if there are any `nan` or `inf` values in the raw view, this error would occur when the mouse moves over that spot

[2021-02-20 03:48] #641 closed

[2021-02-20 03:48] #752 closed

[2021-02-20 03:49] #703 closed

[2021-02-20 06:01] joelvbernier opened #757 "hexrdgui overwriting hexrd.constants on Windows"
Very strange bug indeed here I am getting on Windows.

I made an environment for the hexrdgui and installed the prerelease conda package.  I think linked to the local repo using
[code]
after running the GUI and quitting, upon attempting to re-run the GUI I get the following:
[code]
upon further inspection, I find that hexrd/constants.py has been modified; specifically emptied ?!
[code]
Note that I

[2021-02-20 06:05] joelvbernier commented on #757
Just to illustrate:
[code]
The gui did open normally, I quit it, and then found constants modified.

[2021-02-20 06:11] joelvbernier commented on #757
I confirmed that simply running the GUI is clobbering `hexrd/hexrd/constants.py`.

[2021-02-20 16:16] psavery commented on #757
@joelvbernier I'm 95% sure I know what the problem is. I'll fix it later today.

[2021-02-20 22:24] joelvbernier commented on #757
Path mangling?

Sent from my iPhone

[2021-02-20 23:35] psavery commented on #757
I put up a PR at hexrd/hexrd#182 and explained it there.

[2021-02-21 02:14] psavery commented on #757
@joelvbernier I was able to reproduce this issue as you described it, and I also tested hexrd/hexrd#182 and confirmed that it fixes the issue.

[2021-02-22 15:26] #757 closed

[2021-02-22 18:57] joelvbernier opened #758 "Batch imageseries export"
Some users have asked for the following updates/checks to the current imageseries export action under "File⇒Save⇒ImageSeries"
- [x] Rename menu item "Images"
- [x] The ability to batch save the imageseries for all detectors using a user-speifed file stem, to which the detector name will be appended (join with '_')
- [x] The option to save the current image (_e.g._ a single frame) or a multiframe i

[2021-02-22 19:14] joelvbernier opened #759 "Force Euler angle convention to intrinsic zxz for LLNL workflow."
I noticed while switching workflows in the GUI that the Load Data widget in the LLNL workflow was not computing the tilts properly -- the cause seemed to be the fact that the Euler Angle conventions had been set to "None", but the widget is expecting it to be "Intrinsic ZXZ".  As such, we should force this selection upon switching the workflow to LLNL (or at least when using the Load Data widget i

[2021-02-22 19:34] joelvbernier opened #760 "Change omega input in HEDM Load Data widget"
Since we ran into the issue with inputting δω for number like 360/1441, I think it would be easiest to change the input fields to [start ω, stop ω, nsteps] and use `imageseries.omega.OmegaWedges` to unify the omega metadata generation in the code.  This is related to #732.  Example usage:
[code]
We'll leave the omega spec in the existing table as the simple single wedge case... for now.  More comp

[2021-02-22 19:37] joelvbernier commented on #751
current imageseries objects -- or at least I think everything is stored as imageseries, even single frames, correct @psavery?

[2021-02-22 19:42] joelvbernier opened #761 "Save calibration picks in editable table."
This is a major request from the LLNL side.  We need to save all of the calibration pick points in an editable table.  We'll need slightly different layouts for the powder and Laue overlays.  We should save the picks in the raw pixels coordinates (_i.e._ push them through the current instrument's detector transforms to the image coords) so they can be reapplied in the polar view at updated angular

[2021-02-22 21:55] psavery commented on #751
Yes, I took a quick look. Most things are `ProcessedImageSeries` objects. If we save them and load them back in, they will probably be something else, like `FrameCacheImageSeriesAdapter`. Hopefully that will be okay?

It looks like if we aggregate images, they are saved as `np.ndarray`. So that will be straightforward to save/load. And, when we aggregate images, the unaggregated images are also ke

[2021-02-23 14:49] bnmajor commented on #760
@psavery I'll take care of this

[2021-02-23 16:39] bnmajor commented on #759
@joelvbernier This should be fixed in #762. I think the condition was leftover from the original pass at the import panel (when we only had data for TARDIS) but if there is any reason that the Euler convention should be conditional on the instrument or if this doesn't fix the issue you were seeing we can re-open this.

[2021-02-23 16:39] #759 closed

[2021-02-23 20:15] joelvbernier opened #765 "Development build instructions using conda on MacOS giving exception"
I was just testing a fresh development build for Mac OS using conda (the instructions in the [readme](https://github.com/HEXRD/hexrdgui#mac-os)), and I am getting an error when trying to fire up the GUI (see below).  @psavery is this related to #763 or [#181 on hexrd](https://github.com/HEXRD/hexrd/pull/181)?  The Fabio tag 0.11 seems to be causing an issue; I asked for >=0.11, and the desired rel

[2021-02-23 21:39] psavery commented on #765
I was able to reproduce this with both of these methods:
[code]

[code]

It might be caused by #181, but I'm surprised that the error is with fabio. I'll look into it a little more...

[2021-02-23 21:53] psavery commented on #765
I think I was able to get it working by moving [this fabio](https://github.com/HEXRD/hexrdgui/blob/da77862690d941fd77126e851632b767c3f179bd/setup.py#L9) into [this block](https://github.com/HEXRD/hexrdgui/blob/da77862690d941fd77126e851632b767c3f179bd/setup.py#L20), and moving [this appdirs](https://github.com/HEXRD/hexrd/blob/09e793082a73272dc8626fdc4c4c0d46e926f11a/setup.py#L10) into [this block]

[2021-02-24 03:42] psavery commented on #765
@cjh1 It looks like because fabio is still in our conda channel at https://anaconda.org/hexrd, we are grabbing our fabio instead of the one on conda forge (since our channel comes first). Should we remove our fabio?

[2021-02-24 04:05] psavery commented on #765
So, looking into it deeper, it looks to me that the `pkg_resources.DistributionNotFound` errors were fixed via those patch files in https://github.com/HEXRD/hexrdgui/issues/765#issuecomment-784538639.

However, it looks like hexrd/hexrd#181 is still causing a problem for us with the conda setup. The problem is that we install numpy from anaconda, but when you use pyproject.toml, `python setup.py d

[2021-02-24 04:27] psavery commented on #765
@joelvbernier @cjh1 All of the issues I encountered here (both the `pkg_resources.DistributionNotFound` errors and the `ImportError: numpy.core.multiarray failed to import` error) get fixed via hexrd/hexrd#183 and the changes I just pushed to #764.

[2021-02-24 14:30] cjh1 commented on #765
I will remove fabio from our channel gladly!

[2021-02-24 19:06] joelvbernier commented on #765
What are the most current dev install insgtructions?  I tried
[code]
and am still getting the fabio exception
[code]

[2021-02-24 19:25] psavery commented on #765
[This commit](https://github.com/HEXRD/hexrdgui/pull/764/commits/46990220a921861a9ed250f66c79825c34df5f9b) in #764 fixes the fabio issue. #764 is not yet merged into master.

I've also updated the [install instructions](https://github.com/HEXRD/hexrdgui/pull/764/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R65-R68) in #764 to show that these are the commands now:
[cod

[2021-02-24 20:17] #765 closed

[2021-02-24 21:47] joelvbernier opened #767 "Material instantiation error"
When adding a new material in the GUI, the symmetry-appropriate lattice parameter values are not being enforced.  It appears that when a new material is added, it is taking lattice parameters and structure values from the most recently selected material.  For example, if I select sapphire (trigonal) and make a new cubic (fcc) material, I get the following:
![image](https://user-images.githubuserco

[2021-02-24 21:49] joelvbernier commented on #767
Related:  the density calculation in the properties tab is not getting updated when changing atom types.

[2021-02-24 23:52] joelvbernier opened #768 "Add "About" widget"
Can we add a Tomviz-style about widget?
![Screen Shot 2021-02-24 at 15 50 57](https://user-images.githubusercontent.com/1154130/109082162-45ada500-76b8-11eb-8579-dce290dbef47.png)

[2021-02-25 00:46] joelvbernier opened #769 "Add callback to remove duplicate atoms in material structure panel"
@saransh13 material class has the ability to use the space group to detect and remove duplicate atoms in the unit cell -- this is important to get the density and structure factors correct.  It is also easy to accidentally add a duplicate site by hand, especially if you are unknowingly using an unsymmetrized structure.

So... we need a "Remove duplicate sites" button to call this functionality, wh

[2021-02-25 13:32] cjh1 commented on #768
Yes, we  can do that. What would you like to see as the text under HEXRDGUI, do you want to include anything about funding etc?

[2021-02-25 15:22] cjh1 opened #771 "Update OSX package to use Python from conda-forge"
Now that conda-forge is using the latest SDK we can use the upstream package.

[2021-02-25 16:30] psavery opened #772 "Update density when atom sites get modified"
The density is under "Properties" in the materials panel.

See https://github.com/HEXRD/hexrdgui/issues/767#issuecomment-785407192

[2021-02-25 16:57] psavery commented on #769
Sounds good.

[2021-02-25 19:57] bnmajor commented on #758
#773 adds a new dialog to allow saving all detector images at once:

![save_all_images](https://user-images.githubusercontent.com/51238406/109209259-51ad6b80-7779-11eb-9704-618f56307956.png)

At the moment the user is expected to enter a file stem for both saving all detectors at once and saving a single detector. The detector name is appended to the stem and the file(s) saved. This behavior can b

[2021-03-01 06:30] joelvbernier commented on #768
I'll come up with some proper auspices statement.

[2021-03-01 18:10] joelvbernier commented on #761
This is the next highest-priority item in the LLNL task list @psavery -- adding some detail:
- [ ] we want to change the looping order for the powder diffraction picks (user request that I endorse) to
[code]
It is more intuitive to make all picks for a given ring over all detectors than what we currently have.
- [ ] we only need to store picks in the raw pixel coordinates so that the angles can be

[2021-03-02 19:38] #771 closed

[2021-03-03 23:57] joelvbernier opened #774 "Sync error when updating material"
Just noticed that if I update a material interaction that forces a reinitialization (_e.g._, min d-spacing) and for which I have an activate overlay, the following things happen:

1. the exclusions get clobbered (they don't have to, but we'll have to code that fix up)
2. the `tThWidth` gets reset to the default value of 0.25°, but _does not_ update the value set in the associated attribute interac

[2021-03-04 00:14] joelvbernier commented on #774
Fixing this probably will be related to issue #767

[2021-03-04 00:17] joelvbernier commented on #774
Also likely related: the structure factors are all coming back as 1.0:
![image](https://user-images.githubusercontent.com/1154130/109890295-eb728e00-7c3b-11eb-8e8d-0de9fa578945.png)

[2021-03-04 07:39] joelvbernier commented on #758
Reopening this issue due to the following bugs:

1. If I try to load a single image (through the widget) after successfully loading a big series of files, it looks like the omega wedges are not getting reset, which leads to the following:
[code]
2. I have an example with two empty frames, and if I enter the omega metadata properly in the Load Data widget, I get an `OmegaImageSeriesError` when I at

[2021-03-04 13:43] cjh1 commented on #758
@joelvbernier I think you may have reopened the wrong issue? Any 1. is fixed by #775, @bnmajor is looking at 2. and 3., we are unable to recreate 4., let us know if you have any more luck recreating it.

[2021-03-04 15:19] joelvbernier commented on #758
Ah yes, wrong issue -- not sure how that happened.  It was getting late.  However, 1 is still a bug that I am seeing in master as well.  Regarding 4 @bnmajor, omega wedges that add up to < 360 are ok?

[2021-03-04 18:26] psavery commented on #767
@saransh13 @joelvbernier What if we do one of the following?

1. Get the default `Material()` created by hexrd to use these options, and just use that when a new material is added. We'd have to modify the defaults [here](https://github.com/HEXRD/hexrd/blob/de82c86204316d2c5a618eab5048b4c0c095285e/hexrd/material.py#L84-L116) to do that. Looks like it is currently using 3.61 angstroms, and creating

[2021-03-04 18:39] joelvbernier commented on #767
I vote for 1!

[2021-03-04 19:18] psavery commented on #774
So unfortunately, calling `_newPdata()` on the material currently erases all of that info.

I've actually used a [utility function in hexrdgui](https://github.com/HEXRD/hexrdgui/blob/c4b906171a7cafdea6c9786ac8d963921a5f275f/hexrd/ui/utils.py#L90-L102) to preserve three things on new plane data creation: exclusions, tThWidth, and tThMax.

It might make sense to do this kind of thing in hexrd (maybe

[2021-03-04 23:02] psavery opened #779 "Material structure tab overhaul"
Some changes for the material structure tab:

- [ ] Remove site selection table. Only add/remove atoms. Display all atoms in the atoms table.
- [ ] Add remove duplicate atoms button (see hexrd/hexrd#196; tracked in #769)
- [ ] Have +/- buttons for adding/removing atoms be "New" and "Delete"
- [x] Add an "apply" button that is grayed out when no changes have been made, and only apply material struc

[2021-03-04 23:05] psavery opened #780 "Normalize structure factor to be between 0 and 100"
In the materials table, the structure factor numbers are larger than they need to be. Since they have arbitrary scaling, rescale them so the minimum is 0 and the max is 100.

![image](https://user-images.githubusercontent.com/9558430/110042591-9dc55680-7d0b-11eb-9636-bf6fe7dc4f4c.png)

[2021-03-04 23:08] psavery opened #781 "Move all dock widgets on the top to the left"
This is to maximize the size of the canvas.

![image](https://user-images.githubusercontent.com/9558430/110042955-2b08ab00-7d0c-11eb-81c3-34265dc7f242.png)

[2021-03-05 00:06] saransh13 opened #782 "Add snip as background method in WPPF"
`WPPF` now has functionality to use `hexrd.imageutil.snip1d_quad` for background estimation. We need to add this to the GUI. We also discussed a way to streamline this, so we don't have to do this each time I add something to WPPF. LMK if theres something on the `hexrd` side that needs to be done for that.

[2021-03-05 00:22] bnmajor commented on #722
This comment was originally made [here](https://github.com/HEXRD/hexrdgui/issues/758#issuecomment-790393437) but I'm adding it to this issue since this is the one it pertains to.

[2021-03-05 15:42] psavery commented on #767
@joelvbernier Okay. Should we change [any of the defaults](https://github.com/HEXRD/hexrd/blob/de82c86204316d2c5a618eab5048b4c0c095285e/hexrd/material.py#L84-L116)? It's currently:
- One Ni atom
- Fm-3m (225) space group
- 3.61 Å lattice parameters
etc.

Once they are good to go, I'll get hexrdgui to start defaulting to that.

[2021-03-05 19:58] psavery opened #784 "Consider creating OmegaImageSeries in ImageLoadManager"
Some of the indexing/grain fitting functions expect OmegaImageSeries objects.

Currently, the image series dict is converting its image series to OmegaImageSeries object as [part of
`create_indexing_config()`](https://github.com/HEXRD/hexrdgui/blob/16a1ba97528cf718e6697203b3b059d4ab3a3d40/hexrd/ui/indexing/create_config.py#L53-L55), when the user generates the eta omega maps.

Perhaps this would b

[2021-03-06 00:16] saransh13 commented on #767
Those look good to me. @joelvbernier?

[2021-03-07 03:16] psavery commented on #774
An update: I realized that re-creating the PlaneData object from scratch is probably not necessary for most, if not all, of our use cases, and it causes a performance hit when we do it.

I'm looking into removing calls to `_newPdata()`, and instead, just updating the relevant attributes on the `PlaneData` object. This work is partly being done in #791.

If we start avoiding the call to `_newPdata(

[2021-03-08 14:32] cjh1 opened #792 "Improve performance of import data panel"

[2021-03-08 14:43] #780 closed

[2021-03-08 14:45] bnmajor opened #793 "Avoid Image Re-load for Import Data Panel"
Change up the workflow a bit so that the user can:
- [x] Select an image to load
- [x] Select the detector
- [x] Draw the template based on selected detector
- [x] Do not display preview of cropped image after each selection
- [x] User should be able to transform the image after the detector boundary is drawn

This differs from the current workflow in that it will not require the image to be selec

[2021-03-08 15:28] cjh1 commented on #792
This PR should improve thinks #786

[2021-03-08 16:13] psavery commented on #613
@cjh1 I think we can close this one?

[2021-03-08 16:14] #613 closed

[2021-03-08 16:15] psavery commented on #514
This will be resolved by #769 and #779

[2021-03-08 16:15] #514 closed

[2021-03-08 16:16] psavery commented on #31
I think this has been fixed for a while, starting with #394.

[2021-03-08 16:16] #31 closed

[2021-03-08 16:21] psavery commented on #505
As of right now, the python from Anaconda is still built with too old of an SDK. But the python from conda-forge starting in python 3.8 works. Thus, on Mac, we have to ensure we we are using the python from conda-forge. The README has already been updated in #770. Closing this issue.

[2021-03-08 16:21] #505 closed

[2021-03-08 16:23] psavery commented on #340
We are now using a new release of fabio with the fixes as of hexrd/hexrd#161. We removed our locally built fabio from the conda forge channel as well.

[2021-03-08 16:23] #340 closed

[2021-03-08 16:25] psavery commented on #432
I believe this was fixed by #481. Feel free to open it back up if I'm wrong.

[2021-03-08 16:25] #432 closed

[2021-03-08 16:27] psavery commented on #488
@bnmajor Can this be closed now?

[2021-03-08 16:27] psavery commented on #474
@bnmajor Is this ready to be closed?

[2021-03-08 16:30] psavery commented on #545
We are going to remove the site editor entirely in #779, and so there won't be a need to edit site names.

If the add/import/delete material tool button is still disappearing on Mac, we should maybe open up a new issue for that.

[2021-03-08 16:30] #545 closed

[2021-03-08 16:32] psavery commented on #548
I think this should be fixed now. The cleanup methods now check if the objects are `None` before cleaning them up.

[2021-03-08 16:32] #548 closed

[2021-03-08 16:32] psavery commented on #556
@bnmajor Is this able to be closed now?

[2021-03-08 16:34] psavery commented on #584
Let's re-open this if we run into it again.

[2021-03-08 16:34] #584 closed

[2021-03-08 16:36] bnmajor commented on #474
I think this is related to #595 - I can look over that PR to make sure it's ready to merge, then this should be ready to close.

[2021-03-08 16:37] bnmajor commented on #488
@psavery Yes, this is taken care of.

[2021-03-08 16:37] #488 closed

[2021-03-08 16:41] bnmajor commented on #474
Actually, looks like issue #556 goes with #595. I think this can be closed

[2021-03-08 16:41] bnmajor commented on #556
This is addressed in #595 - looks like I need to look at that branch to make sure it's still good to go before merging in.

[2021-03-08 16:43] #474 closed

[2021-03-08 17:27] #772 closed

[2021-03-08 22:03] psavery commented on #741
This issue gets fixed by #794.

I'm gonna make a new issue for this change.

[2021-03-08 22:07] psavery opened #795 "Save WPPF objects after run and optionally re-use them"
From https://github.com/HEXRD/hexrdgui/issues/741#issuecomment-772843193

Basically, provide a way for the users to choose whether or not to re-use previous WPPF objects when they perform a new WPPF run.

This issue will currently wait for @saransh13 to provide new properties on the WPPF classes so that we can update it like `obj.params = params`.

[2021-03-09 14:26] psavery commented on #782
Sure, we can add the option and widgets for snip.

About streamlining: so, if the background methods didn't require any parameters, it would be easy to automatically keep hexrdgui in sync with it. For instance, in hexrd, there could just be a list of possible background methods:
[code]

We could just read this list and automatically populate the combo box with the items from the list.

If they all

[2021-03-09 18:03] saransh13 commented on #782
What would be a good location to define the `background_method` dictionary you mentioned above? In the `WPPF` module itself?

[2021-03-09 19:56] bnmajor opened #797 "Support editing omega wedges"
Once a user has selected files through the load panel, especially through the image stack dialog, they may realize that one or more omegas are actually incorrect. We need to support the ability to edit the omega values in the load panel table and update the omegas accordingly without re-loading the images.

[2021-03-09 19:57] bnmajor commented on #797
@joelvbernier I think the simplest way to do this would be to provide an `Update` option in the load panel, maybe under the table like this:
![update_images](https://user-images.githubusercontent.com/51238406/110529563-67128600-80e7-11eb-99eb-16ac4c86d143.png)
Let me know if that seems okay and I will add that option in

[2021-03-09 19:59] bnmajor commented on #758
This was re-opened on accident - the comments/requests in here have been copied to the appropriate issue. Closing.

[2021-03-09 19:59] #758 closed

[2021-03-09 20:03] bnmajor commented on #784
@joelvbernier Are there any reasons that you can think of to avoid creating an OmegaImageSeries right away? If not, this seems like a good idea to me.

[2021-03-09 20:07] bnmajor commented on #399
While we are continuing to improve on the import data panel, this issue was resolved by #410. Closing.

[2021-03-09 20:07] #399 closed

[2021-03-09 20:15] bnmajor opened #798 "Allow users to save aggregated images"
If the images are currently aggregated we should default to saving them that way but leave the user with the option to toggle the selection and save the unaggreated images instead (which is the current behavior).

[2021-03-09 20:15] bnmajor commented on #798
@joelvbernier I'm thinking we can just add the option to the bottom of the dialog, let me know if that's okay or if it's looking too crowded
![save_agg_images](https://user-images.githubusercontent.com/51238406/110531948-3849df00-80ea-11eb-8943-0d45f5453d06.png)

[2021-03-09 20:17] bnmajor commented on #722
Some fixes that need to be made before this can be closed:
- [ ] Change names of widgets in UI to match yaml keys
- [ ] Set the number of frames for omega wedges from the length of the imageseries

[2021-03-09 20:19] #636 closed

[2021-03-09 21:13] psavery commented on #782
Yeah, that would be fine.

[2021-03-09 22:14] joelvbernier opened #799 "Panel buffer widget error"
If the panel buffer in an instrument file is `null` (yaml yields `None`), then the GUI throws the following exception when trying to use the configure button:
[code]
@psavery, did you set up that dialog, or was it @bnmajor?

[2021-03-10 13:12] #799 closed

[2021-03-10 23:24] psavery commented on #767
#802, which resolves this issue, is setting us up to use the defaults for the material now when a new material gets added.

I also added a quick fix to #802 for updating the lattice parameters as well, but I think the better fix
will come from fixing hexrd/hexrd#205.

[2021-03-11 15:59] bnmajor commented on #760
This was changed in #732. Closing.

[2021-03-11 15:59] #760 closed

[2021-03-11 17:50] psavery opened #805 "Automatically add polar masks for 2D panel buffers"
For the polar view, check if each detector has a 2D array for its panel buffer, and if it does, then create a mask from it for the polar view automatically.

[2021-03-11 17:53] psavery opened #806 "Migrate our PolarView class to use the one in hexrd instead"
Rather than using [our own PolarView class](https://github.com/HEXRD/hexrdgui/blob/fc9a8e819ff6dea38e97c35dde57e3cf770ae94c/hexrd/ui/calibration/polarview.py#L28), we should use [the one in hexrd instead](https://github.com/HEXRD/hexrd/blob/83c5744c63c56f681230e1063bdb6901edc7b6a0/hexrd/xrdutil.py#L77).

This might require just a little bit of changes/modifications.

This is not an urgent issue.

[2021-03-11 18:32] joelvbernier commented on #767
ah, you already made the assoc to https://github.com/HEXRD/hexrd/issues/205 @psavery :-)

[2021-03-11 18:49] joelvbernier commented on #767
Defaults are fine, but we can do a little better; the change is not strictly necessary upon changing the sgnum, but rather is necessary only when the change in sgnum leads to a change in lattice type.  There are 7 lattice types (aka crystal systems):

- cubic: [a, a, a, 90°, 90°, 90°]
- hexagonal: [a, a, c, 90°, 90°, 120°]
- tetragonal: [a, a, c, 90°, 90°, 90°]
- trigonal: [a, a, c, 90°, 90°, 120°

[2021-03-11 18:54] joelvbernier commented on #767
I am fairly certain that @saransh13 already has the associations between sgnum (plus setting choice where applicable) and both the lattice type and list of free lattice parameters (right @saransh13)?

[2021-03-11 21:13] joelvbernier commented on #805
Per our Slack thread, probably want to make this togglable since it may adversely affect the snip background removal.

[2021-03-11 22:16] saransh13 opened #807 "Display volume of unit cell and volume per atom"
Display the volume of unit cell and the volume per atom in the properties tab of materials. These properties are in the `Material.vol` and `Material.vol_per_atom` properties. The units are A^3 (angstrom cubed).

[2021-03-11 23:32] psavery commented on #767
I removed the quick fix from #802 because hexrd/hexrd#205 was fixed.

[2021-03-11 23:43] psavery opened #809 "Saving all detector images as npz raises an exception"
If you try to save the detector images via "File"->"Save"->"Images", and you select "All Detectors" and select "npz", type a name, then click "Save", you get this exception:

[code]

[2021-03-12 00:20] #741 closed

[2021-03-12 00:20] #767 closed

[2021-03-12 01:23] saransh13 opened #810 "Save azimuthal lineouts to HDF5 file as well."
In addition to saving the polar view, a user requested that the 1-D azimuthal integation be saved as well. So in the file --> export --> current view, the azimuthal integation needs to be written as a nx2 vector. The first column in the two-theta values (from tth_coordinates) and the second column is the azimuthal integarted intensities.

[2021-03-12 01:30] saransh13 opened #811 "Save simulated lineouts"
Once WPPF finishes running, the user wants to save the simulated lineouts for pubications etc. Add an option to save the simulated pattern once the run finishes. The data is located in `two_theta, intensity = LeBail.spectrum_sim.data` or `two_theta, intensity = Rietveld.spectrum_sim.data` depending on which option was selected in WPPF. HDF5 could be a good format to write out this data.

The funct

[2021-03-12 16:00] psavery commented on #805
NaNs are now automatically added to the panel buffer regions in the plot because hexrd/hexrd#208 was merged.

[2021-03-12 16:11] bnmajor opened #814 "Add support for BBXRD instrument"

[2021-03-12 16:31] #809 closed

[2021-03-15 19:10] #810 closed

[2021-03-15 19:15] joelvbernier commented on #811
Ooops -- @psavery is there another PR to link to this related to WPPF?

[2021-03-16 17:30] #774 closed

[2021-03-17 04:00] #807 closed

[2021-03-17 17:52] psavery opened #820 "Changes to WPPF Dialog"
Rather than having an ok/cancel button, have these buttons instead:

- [ ] Run - it runs WPPF, keeping the dialog open, and updating the parameters with their new values
- [ ] Compute - calculates the spectrum given the values of the parameters, to see if we are close to the answer or not

These changes especially make sense in light of #795 and #811

From my discussion with @saransh13

[2021-03-18 06:00] joelvbernier opened #821 "More material instantiation bugs"
1. When making a new material, I noticed that the structure factors do not update unless I change the instrument energy.
Example:
- add a new material
- change the space group to 194 (HCP)
- change a = 2.9508, c = 4.6860
- set structure to the following
![image](https://user-images.githubusercontent.com/1154130/111579617-8f4b5600-8773-11eb-8029-8af05cd62069.png)
- now the structure factors appear

[2021-03-18 17:42] bnmajor commented on #814
Note: Z rotation needed is -112.91

[2021-03-18 18:37] saransh13 commented on #821
@psavery when I perform these functions in the command line, it seems to give the right results. Can you check the update scripts in the GUI?

[2021-03-18 18:49] psavery commented on #821
@saransh13 This is fixed by #822 and hexrd/hexrd#230

[2021-03-18 21:00] #821 closed

[2021-03-19 00:08] saransh13 opened #826 "Switching materials doesn't change the label"
Clicking on the newly created material doesn't change the label of the material. Everything else seems to work fine though. The properties/peak locations/lattice parameters etc. seem correct. Looks like the order of the materials in the table after a new material is created is not correct and leading to those bugs.
![output](https://user-images.githubusercontent.com/15834451/111713753-742d2480-880

[2021-03-19 00:51] saransh13 opened #827 "TARDIS Image load error"
Traceback attached.
![Screen Shot 2021-03-18 at 5 50 08 PM](https://user-images.githubusercontent.com/15834451/111716054-75ad1b80-8812-11eb-913f-cff27fe5a7a9.png)

[2021-03-19 02:28] psavery commented on #826
Unfortunately, it's kind of hard to see the gif. I can't read a lot of things like the space group.

Is that the full traceback as well? I was just wondering if there's anything below that `<listcomp>` line. Also, is there an exception occurring in `unicell.ChooseSymmetric`?

On Linux, it seems that changing to a new material changes the label. It might either be a Mac issue, or it might be caused

[2021-03-19 03:10] psavery opened #829 "Add checkbox for threshold in eta omega maps generation options"
It runs much faster without a threshold. Add a checkbox to make it optional, and pass in `None` if it is not enabled.

[2021-03-19 15:22] #827 closed

[2021-03-19 16:38] saransh13 opened #831 "Add transform is greyed out after I add detector outline."
I don't know if this is by design, but I can only figure out where the holes are placed and what transforms to add once I load in the data and thean add the detector outline. I think other users might feel the same.
![output2](https://user-images.githubusercontent.com/15834451/111813359-55bf3b80-8896-11eb-8d20-5188ac864e57.gif)

[2021-03-19 16:44] saransh13 commented on #826
Oh sorry about that. Using a higher res gif here. The `unicell.ChooseSymmetric` was error was due to an empty list being passed to the function. I'll post a fix for that, not sure about the other error though. I couldn't reproduce them this morning, but the labels were still glitching.

These are the steps I followed:
1. open the gui and create a new material with default values.
2. create another

[2021-03-19 17:01] bnmajor commented on #831
This is by design at the moment. An image must be loaded before the detector bounds can be drawn.

#793 was created to re-think the approach to the current LLNL workflow and would be a good place to include this feature change if it would be helpful. @saransh13 I am thinking it would maybe make sense to have the ability to apply transforms once the detector border is visible? Or do you have other

[2021-03-19 20:43] saransh13 commented on #831
Yeah, I think that feature will be very useful for figuring out the transform required in case the user doesn't already know.

[2021-03-19 21:15] psavery commented on #646
This is probably less important as of #832, because the user explicitly selects the material they are using. I guess it will be their responsibility to make sure the material used to generate the eta omega maps and the material they are using for indexing/grain fitting are the same.

[2021-03-19 21:15] #646 closed

[2021-03-20 06:26] #829 closed

[2021-03-21 01:13] psavery commented on #826
Looks like I was able to reproduce this on Linux as well. So it's a cross-platform issue.

Thank you for the higher resolution gif, Saransh. I was able to see exactly what you did and reproduce it :slightly_smiling_face:

[2021-03-21 13:19] psavery commented on #826
I believe I was able to fix this in #834.

I was unable to reproduce the exception, however. Let me know if you continue to encounter it and if you come up with some reproducible steps. It might be something separate...

[2021-03-21 16:50] #826 closed

[2021-03-22 19:13] #798 closed

[2021-03-22 19:14] joelvbernier commented on #797
Will the button be grayed out (or some other cue) to show that it has been applied?

[2021-03-22 19:17] joelvbernier opened #839 "Expose convergence parameters to user in powder calibration"
The `conv_tol` kwarg in `InstrumentCalibrator` should be exposed to the user with a default value of 1e-3.  Also, we need to add a `max_iter` kwarg to kill the optimization after a specified number of iterations in case the `conv_tol` is set to low; otherwise it will iterate forever...

[2021-03-22 19:34] bnmajor commented on #797
Yes. My thinking was that the button would not be enabled until:
1. The images have been read in
2. The omega values are actually edited

Applying the update would disable the option again until the omegas have been edited once more.

[2021-03-23 00:37] saransh13 commented on #820
@psavery Can you please hold off any work on this for this week? I'm adding more options to choose additional peak shapes (in addition to the default one) to use for fitting. The user will have the option to choose the peak shapes depending on the input. Each of these shapes comes with its own set of default parameters which will need to be added to the WPPF dialog. Once I have everything testing

[2021-03-23 17:15] joelvbernier opened #843 "New materials panel bug killing GUI"
On my Mac, I am now getting the following when I try to start the GUI:

[code]

@psavery could this be related to #834?  High priority bug.

[2021-03-23 17:15] joelvbernier commented on #843
Actually, @saransh13, did you get rid of the `_name` attribute in your latest hexrd PR?

[2021-03-23 18:20] joelvbernier opened #844 "Need to have the option to apply constant offset to images on import"
As it turns out, follwoing dark subtraction we can end up with images that have negative values in them.  This causes *major* problems for SNIP and WPPF; given that we store the images as float arrays, I think that we should apply an offset (or at least provide a checkbox for the option to apply, with default `True`) to ensure the the loaded images are strictly non-negative.  can be a simple
[code

[2021-03-23 18:46] joelvbernier commented on #844
Regarding this, it would be possible to make an option in `ProcessedImageSeries` to make the images non-negative.  Since we are using that class in all of the imports, makes sense to jsut add another processing option there.  Thoughts?

[2021-03-23 18:52] psavery commented on #844
@joelvbernier I think that sounds like a really good idea to me.

[2021-03-23 22:21] psavery commented on #844
Just to note it here: background subtraction actually doesn't result in negative values in images because it truncates the data [here](https://github.com/HEXRD/hexrd/blob/16be327084c422acb6ac0c03a416949874aa58f5/hexrd/imageseries/process.py#L74).

Also I think we need to use [`hexrd.imageseries.stats.min`](https://github.com/HEXRD/hexrd/blob/16be327084c422acb6ac0c03a416949874aa58f5/hexrd/imageseri

[2021-03-24 01:45] psavery commented on #843
I think this got fixed by some hexrd PRs, such as hexrd/hexrd#235 and hexrd/hexrd#236

[2021-03-24 01:45] #843 closed

[2021-03-24 02:50] #844 closed

[2021-03-24 03:36] joelvbernier opened #849 "Auto-picked points need branch cut remapping in polar view"
Just noticed this @psavery -- I had the eta limits set from (-90, 270) instead of the default (-180, 180), so points with eta values > 180 weren't getting plotted (looked like missed points, but they are there in the raw view).  Simple fix for this; we need to call the `mapAngle` function to, well, re-map the eta to match the ranges selected in the polar view.  Safest bet would be to remap the eta

[2021-03-24 03:39] joelvbernier opened #850 "refinement flags for tilt degrees of freedom getting reset after (auto) powder calibration"
Another minor "issue".  I noticed that any checked tilt DOF that are flagged for refinement are toggled back off after the calibration finishes.  Not so for the translation DOF.  Just a lil' quirk that we should probably fix.

[2021-03-24 04:46] joelvbernier opened #851 "Add option to apply pixel solid angle correction"
These arrays (same shape as detector) get applied to the raw images.  We can add a toggle in the image mode widget, since the correction can be applied in all views.  The code is a bit slow...  but necessary for some instruments.  Here is anexample from LCLS (MEC instrument):
![image](https://user-images.githubusercontent.com/1154130/112256109-bfd23a80-8c20-11eb-8d84-a41552a101e7.png)
Note that th

[2021-03-24 05:44] joelvbernier opened #852 "Add difference curve axes for WPPF fit in polar view"
This would be a nice feature.  See an example from Maud:

![image](https://user-images.githubusercontent.com/1154130/112261510-425ef800-8c29-11eb-905a-70756df17ae4.png)

[2021-03-24 14:58] psavery commented on #851
FYI, currently, `panel.pixel_solid_angles` [is using all of the processors to run](https://github.com/HEXRD/hexrd/blob/16be327084c422acb6ac0c03a416949874aa58f5/hexrd/instrument.py#L2166).

If we run the detectors concurrently, we'll need to reduce the number of processors each `panel.pixel_solid_angles` uses or else we'll have a big slowdown with significant thrashing. As such, I'm not sure if run

[2021-03-24 14:59] psavery commented on #849
Sounds good, we will probably apply that [here](https://github.com/HEXRD/hexrdgui/blob/73750594b1a902717f8ed8b979b78aca0c049206/hexrd/ui/image_canvas.py#L863-L865).

[2021-03-24 17:29] joelvbernier commented on #839
I think this was closed by #842, thanks @psavery!

[2021-03-24 17:29] joelvbernier commented on #839
I think this was closed by #842, thanks @psavery!

[2021-03-24 17:29] #839 closed

[2021-03-24 17:31] joelvbernier commented on #851
Sounds like some testing is in order to see which is actually faster -- what do you think?  It was noticeably faster :-)

[2021-03-24 17:49] saransh13 commented on #852
@psavery For this issue, I think we also need to add option to change the marker properties (size, color, style etc.) of the WPPF plot.

[2021-03-24 18:29] saransh13 opened #853 "wrong image size for PXRDIP import"
The image dimensions is wrong in the height. When I move on to the next image the dimensions get fixed, but after going to polar view, I get the Traceback which I've attached.

![output](https://user-images.githubusercontent.com/15834451/112364602-f09f8780-8c93-11eb-9624-5cad8daf953f.gif)
![Screen Shot 2021-03-24 at 11 28 31 AM](https://user-images.githubusercontent.com/15834451/112364736-1331a080

[2021-03-24 19:44] joelvbernier commented on #853
@saransh13 -- fix the polar plot limits.  If you were looking at MEC, then you may need to change them.  I just imported s33335 with no issues, _but_ I had to fix the polar plot parameters (otherwise got your same error).  Not positive why the auto-calc tth pixel size was coming out to be 200 degrees...

Same shot, imported from HDF4:
![image](https://user-images.githubusercontent.com/1154130/1123

[2021-03-24 19:44] #853 closed

[2021-03-25 00:17] joelvbernier opened #854 "Dialog box for accepting auto-picks is not raised"
It is appearing behind the main window; is there a setting to make sure it is raised when it is made?

[2021-03-25 00:34] minety opened #855 "ERROR message from CeO2 calibration for FF HEDM"
<img width="1440" alt="Screen Shot 2021-03-24 at 8 28 35 PM" src="https://user-images.githubusercontent.com/19909710/112401060-13578d80-8ce0-11eb-9cdd-7157e133ee71.png">

Another question, do I need to consider distortion (GE_41RT) when dealing with ge3 files from APS sector1?

Thanks,
Ye Tian

[2021-03-25 03:28] joelvbernier opened #857 "Reset colormap input min to 1 in log scale to avoid ValueError"
if log scale gets checked, and the min colormap value is 0, you get a value error in the terminal
[code]
Would it be possible to modify the minimum value of the colormap to 1 when log scale is checked?

[2021-03-25 03:40] joelvbernier opened #858 "Uses ImageJ-style colormap warping for the "Reset Range" button"
In general, ImageJ's "auto" button under Image --> Adjust --> Brightness/Contrast works pretty well; better than what we currently have wired to "reset range" in the colormap editor.  Maybe we should wholesale copy the design of their neat little widget that has sliders, the line representing the colormap, and the image histogram:
![image](https://user-images.githubusercontent.com/1154130/11241548

[2021-03-25 03:51] joelvbernier commented on #854
Actually have to re-open.  The window isn't raised -- at least after calling the cal once -- and it is no longer grouped with the main window in the dock, so it is harder to find...

[2021-03-25 04:07] joelvbernier opened #859 "Reduced parameter length mismatch in Powder Calibration if lattice parameter(s) are checked"
I accidentally left the lattice parameter checked to refine while using the calibrator and got the following `ValueError`
[code]
Time to go check where it is getting the parameters/flags.  Maybe best to just write an `update` method on the `PowderCalibrator' class?

[2021-03-25 12:06] psavery commented on #857
Hmm, strange. There is a check in there already for that [here](https://github.com/HEXRD/hexrdgui/blob/8abd42a0fca9830a85985b01841f30d5dc3def6e/hexrd/ui/color_map_editor.py#L127-L129). It looks like the call stack is from within that function as well. I wonder why it didn't work?

[2021-03-25 14:18] psavery commented on #858
We actually added a brightness and contrast editor similar to ImageJ's (including the auto button) [in tomviz a couple of months ago](https://github.com/OpenChemistry/tomviz/pull/2148).

[2021-03-25 14:21] psavery commented on #859
Looks like this is the same as #855

[2021-03-25 14:22] psavery commented on #857
Can you give me the data you used to cause this error so I can reproduce it and figure out why that check isn't working?

[2021-03-25 15:11] psavery commented on #859
It looks to me that this is caused by the `InstrumentCalibrator` [passing reduced flags to the residual function](https://github.com/HEXRD/hexrdgui/blob/8abd42a0fca9830a85985b01841f30d5dc3def6e/hexrd/ui/calibration/auto/instrument_calibrator.py#L49-L53), but the [flags in the `PowderCalibrator` class are full length](https://github.com/HEXRD/hexrdgui/blob/8abd42a0fca9830a85985b01841f30d5dc3def6e/h

[2021-03-25 15:17] psavery commented on #855
@minety We are working on that error now in #859. It happens if any of the lattice parameters are refineable (which, they are by default). You can turn off the lattice parameter refinements via the "Materials" page on the left-hand side, and clicking on "Overlay Manager", then clicking on the row of your overlay (click on the white space of the row next to the "Visible" checkbox), and unchecking t

[2021-03-25 16:56] joelvbernier commented on #855
@minety -- you'll want to make sure the lattice parameters are not refineable for the CeO2 anyhow, since this would give bad results.  We may change the default behavior to have them all unchecked (seems most reasonable @psavery) in the process of fixing the bug giving the `ValueError`.

As far as the ge3 goes, yes, you should consider the distortion.  I am going to upload a single GE CeO2 example

[2021-03-25 17:03] #849 closed

[2021-03-25 17:04] #854 closed

[2021-03-25 18:13] bnmajor opened #864 "LLNL import config options"
User needs to be able to:

1. Use the reference instrument (default)
2. Use loaded instrument
3. Load an instrument config

[2021-03-25 18:16] bnmajor opened #865 "Set default flip for PXRDIP"
Default to mirror horizontally on load

[2021-03-25 18:24] bnmajor opened #866 "Remember detector outline positions"
Save the last instrument that was selected and the position for each of the detectors that were cropped

[2021-03-25 20:13] saransh13 commented on #858
@psavery the tomviz contrast editor looks dope. I'm in favor of having something similar.

[2021-03-30 19:38] psavery opened #870 "Image series is list when running indexing"
I don't know why, but, using the master branches of both hexrd and hexrdgui, when I try to run the indexing on the GE example, I get an error:

[code]

If I click "Read Files" a second time, I am then able to run the indexing without any issue.

I'm using [this config](https://github.com/HEXRD/examples/blob/77671d621f42d3852d44eab24e36f78ba47a3a24/NIST_ruby/single_GE/include/ge_detector.yml) and [

[2021-03-31 16:24] #870 closed

[2021-03-31 17:53] joelvbernier commented on #855
@minety -- this should be fixed!

[2021-03-31 19:27] joelvbernier commented on #865
woot.

[2021-03-31 19:31] joelvbernier opened #874 "Add "materials table" widget to powder overlay settings panel"
I am finding that it would be _very_ useful to add the "materials table" button to the powder overlay settings panel; it can be clunky to go back to the materials panel to find it, especially when the active material is different from the overlay of interest.  The name should also be changed form "materials table" to "Reflection Table".

[2021-04-01 06:34] joelvbernier opened #876 "Error in reading instrument config"
@psavery -- looks like there might be a bug when trying to read detectors with a distortion function (at least the GE_41RT style).  Seems to at least be in the `get_instrument_config_val` method.  Try to load the[ single_GE config](https://github.com/HEXRD/examples/blob/master/NIST_ruby/single_GE/include/ge_detector.yml) as a test.
[code]

[2021-04-01 15:16] #876 closed

[2021-04-01 15:27] #855 closed

[2021-04-01 15:27] #859 closed

[2021-04-01 23:30] joelvbernier opened #878 "Sigh... GUI should self-correct if trying to load an image with 0 values in log scale"
currently, if you load an image with pixels values <=0 you get a `ValueError` if `log scale` is checked.  That checkbox callback function should properly offset images to be amenable to log scaling to prevent this (subtract the non-nan min and add 1).
[code]

[2021-04-01 23:42] joelvbernier opened #879 "Rework polar pixel default sizes to use new pixel gradients"
As of https://github.com/HEXRD/hexrd/pull/246, the `instrument.PlanarDetector` class now has methods for returning the gradients of the angular pixel position arrays.  I suggest replacing the existing call to `angularPixelSize` with the max values over
[code]
for each detector on the instrument.  This should give more reasonable autoscaling.  Maybe somewhere we can also echo back the instruments 1

[2021-04-02 16:57] #866 closed

[2021-04-02 17:00] #879 closed

[2021-04-02 17:12] joelvbernier commented on #879
*NOTE* this requires `hexrd >= 0.8.5`!

[2021-04-06 15:13] bnmajor commented on #865
Fixed in #867

[2021-04-06 16:05] bnmajor commented on #831
Fixed in #867

[2021-04-06 16:11] bnmajor commented on #792
Additional improvements in #867 and #880 have also significantly sped up the import data panel workflow.

[2021-04-06 17:56] bnmajor opened #884 "Keep previous detector borders"
If the import panel image has not been re-loaded for the next detector, keep the previous detector boundary around to make it more obvious which detectors have been already selected.

- Maybe automatically change the default color and/or opacity for previous boundaries to make it clear which is which

[2021-04-06 19:34] #793 closed

[2021-04-06 19:39] #865 closed

[2021-04-06 19:40] #831 closed

[2021-04-06 19:42] bnmajor commented on #792
@joelvbernier Are there any other performance concerns that still need to be addressed in the import panel?

[2021-04-06 23:03] saransh13 opened #886 "Add ability to add charge state when selecting atoms from periodic table"
In the Materials structure tab, user should have the ability to choose the charge state of an atom. The charge state changes the form factors, which can affect the quality of the fits when using whole powder pattern fitting techniques.

The table of possible charge state for each element is tabulated in `hexrd.constants.chargestate` as a dictionary. The charge state will be or the form `0`, `n+` o

[2021-04-09 17:09] psavery opened #889 "Look into writing GUI tests"
Here is a potentially helpful plugin for pytest: [pytest-qt](https://github.com/pytest-dev/pytest-qt)

And here's the example they give:

[code]

[2021-04-13 21:18] bnmajor opened #891 "Pattern matching for dark files"
- If 'apply to all' is selected (HEDM load panel) try to use pattern matching for selected dark file

 @joelvbernier @saransh13 To add any more information they may have or features they may need regarding this

[2021-04-14 22:59] joelvbernier commented on #891
I think your bullet sums it up :-)

[2021-04-14 23:00] joelvbernier commented on #891
I'll upload an example from LCLS (Stanford).

[2021-04-14 23:34] joelvbernier commented on #889
`qtbot` love it!

[2021-04-20 16:52] joelvbernier opened #894 "Provide tables for elemental X-ray energy lookup"
Often the beam energy in an instrument results from a characteristic emission process.  For example, in the laser-driven shots we field on NIF and Omega, the X-rays are generated by ionizing an elemental foil, which [give characteristic He-&alpha; emission](https://xdb.lbl.gov/Section1/Sec_1-8.pdf).  Lab sources give [characteristic K-&alpha; emission](https://xdb.lbl.gov/Section1/Table_1-2.pdf) a

[2021-04-20 19:09] joelvbernier commented on #894
The table has the following format:
![image](https://user-images.githubusercontent.com/1154130/115450722-23746700-a1d1-11eb-8369-cba93c2f61e5.png)

[2021-04-20 20:03] joelvbernier commented on #894
@psavery -- what do you think, a menu item for optionally setting the instrument wavelength?  Or a button that fires up a widget in the instrument form view?

[2021-04-20 20:23] joelvbernier commented on #894
Depends on  https://github.com/HEXRD/hexrd/pull/256

[2021-04-21 16:59] saransh13 opened #895 "File>Open>Images loads up image but doesn't make the other options available for PXRDIP load"
The select Image right below the instrument selection works but if the user opens image using the menu option, then the next steps are not initiated.

https://user-images.githubusercontent.com/15834451/115592463-1b2b3300-a288-11eb-916a-b7bc61ed6a77.mov

[2021-04-21 17:08] bnmajor commented on #895
@saransh13 That is currently the expected behavior. The quick load option through the file menu is currently meant for processed imageseries and images need to be loaded through the import panel to access the import features. Do we want to change this so that images loaded through the quick-load menu option enable the import panel? Users would still be required to select the instrument on the pane

[2021-04-21 17:41] saransh13 commented on #895
I just was confused since the image loads up fine and we have been using that option for all our tutorials. I think it'd be good for consistency. @joelvbernier thoughts?

[2021-04-21 19:15] joelvbernier commented on #895
The import tool and the load tool are inherently different @saransh13 -- the File --> Load path is for loading already cropped images, as it forces one image per detector.  The import tool is expecting you load a single image with all detector images in it for cropping.  There is no way to reconcile the behavior of the two functions.

I do think that I will be getting rid of the "load data" tab an

[2021-04-23 02:06] minety opened #898 "ERROR: fitgrain error after CeO2 calibration and gold indexing"
I did the CeO2 calibration and gold indexing successfully. But when I try to do fitgrain, I got an error as attached figures.

Could you please tell me what's the problem?

Thanks,

Tian

<img width="885" alt="Screen Shot 2021-04-22 at 2 56 33 PM" src="https://user-images.githubusercontent.com/19909710/115807595-eff33180-a3b6-11eb-959c-0f04c5b7e579.png">
<img width="1193" alt="Screen Shot 2021-04-

[2021-04-23 21:58] #858 closed

[2021-04-27 15:26] bnmajor opened #902 "Reflecting transform in load panel"
There is still an issue in the load panel when transforms are selected for images. If there are multiple images selected for a detector, the transforms chosen when confirming image/detector association are not reflected in the load panel.

The problem right now is that in the load panel the selected transform is applied to all images for that detector. In the load dialog however, the user is able

[2021-04-27 15:29] bnmajor commented on #895
@saransh13 @joelvbernier Will we be keeping the current behavior as-is for now? Or should we be re-thinking the expected behavior?

[2021-04-27 17:06] joelvbernier commented on #895
@saransh13 -- closing this, as that is not the intended use case for the import tool.  The File --> Open --> images is intended for images that _do not_ need the cropping tool

[2021-04-27 17:06] #895 closed

[2021-04-27 17:06] #874 closed

[2021-04-27 18:59] #864 closed

[2021-04-28 15:22] #599 closed

[2021-04-29 17:44] psavery commented on #805
Closing, since they are automatically added...

[2021-04-29 17:44] #805 closed

[2021-05-03 22:58] joelvbernier commented on #898
There are a few things that could lead to no reflections being simulated, but it is usually either the omega information is incorect, or the HKLs selected is too restrictive.  Can you export an npz file for your imageseries and attach it here along with an instrument config and I'll take a look?

[2021-05-03 23:00] joelvbernier commented on #902
number 2 is the proper behavior; the transforms are detector-specific, and all images for a detector will be transformed the same way in a given session.

[2021-05-04 08:24] minety commented on #898
[Au_FF_data.zip](https://github.com/HEXRD/hexrdgui/files/6419658/Au_FF_data.zip)

 @joelvbernier Thanks a lot, please find attached for the .npz file and instrument config.

Regarding the config for indexing and grain fitting, I also have several questions as follows:

1. Indexing config:
What's the meaning of
_**clustering>radius,
eta>mask,
seed_search>method>label>filter_radius**_

<img width="3

[2021-05-04 18:27] joelvbernier commented on #898
Ah, indeed your omega information is the issue here:
<img width="1712" alt="Screen Shot 2021-05-04 at 10 49 41 AM" src="https://user-images.githubusercontent.com/1154130/117048183-90a2f480-acc7-11eb-979d-ed2b27402c64.png">
Unfortunately, this critical metadata is _not_ attached to the data automatically at the beamline.  I have APS-specific scripts to use the scan logs (fastpar files) to automatic

[2021-05-04 18:43] bnmajor opened #910 "Handle empty frames for all image types"
The `frame-cache` and `hdf5` adapters do not support empty frames but a user may need still need to set them when loading`.hdf5` or `.npz` files. For now we can use a shortcut to get around with the `frame_list` keyword argument for the `ProcessedImageSeries`.

[2021-05-04 18:57] joelvbernier commented on #898
Fixed your metadata and trimmed the imageseries to ignore the first frame and was able to index/fit:
<img width="1680" alt="Screen Shot 2021-05-04 at 11 56 24 AM" src="https://user-images.githubusercontent.com/1154130/117055302-dc599c00-accf-11eb-8fa4-3ddd152cdcd6.png">

[2021-05-04 19:16] joelvbernier commented on #898
I did notice that we need to add the option to 'trim' frames from npz and hdf5 style imageseries (which are handled a little differently internally).  Draft pull request coming...

In the meantime, I 'corrected' your imageseries interactively in IPython via the following:
[code]

[2021-05-04 19:17] joelvbernier commented on #898
The aforementioned option is being handled via #910

[2021-05-04 19:27] #549 closed

[2021-05-04 19:58] #851 closed

[2021-05-04 20:58] #654 closed

[2021-05-04 22:11] #797 closed

[2021-05-04 22:16] #891 closed

[2021-05-04 22:24] #884 closed

[2021-05-04 23:02] joelvbernier opened #916 "make sure view mode gets reset to "Raw" if loading a new source image into LLNL import tool"
Noticed that if I go to import a new PXRDIP image, but have the view mode in Polar, I get an exception
[code]
Maybe we should force the view mode back to Raw if starting a new LLNL import?

[2021-05-04 23:44] joelvbernier opened #917 "Exception when trying to use "current configuration" on PXRDIP import tool"
When trying to use the "current configuration" in the PXRDIP import, the following exception is raised:
[code]

Seems related to PR #905

[2021-05-04 23:51] joelvbernier opened #918 "Total frames no longer editable in stack import tool"
Trying the previous test with 208 tiff files for one detector; suddenly the spin controller for total frames is initialized to 1 and not editable, preventing import.
![image](https://user-images.githubusercontent.com/1154130/117083134-d2985e80-acf8-11eb-9d3e-c6474dbf37c3.png)

[2021-05-05 00:02] joelvbernier commented on #918
Update:  So if I change the "max file frames" to 1 (0 is supposed to mean "all"), then it autopopulates "Total Frames".  Actually, "Total Frames" is a non-interactive counter, correct?  Should we just put a text box there?

[2021-05-05 16:03] joelvbernier commented on #918
More badness here.  I loaded an example with 208 tiff files (1 frame per file).  Then I try to load a case with the 2 GE files, where each file has
- 242 total frames
- 2 empty at the start
![image](https://user-images.githubusercontent.com/1154130/117172050-4af63280-ad80-11eb-9db9-63b0a7d1e51e.png)
yet when I try to load, I am getting an `OmegaImageseriesError` seemingly because the data structur

[2021-05-05 16:05] joelvbernier commented on #918
And to reiterate, "Total Frames" is not updating upon new file selection (this is just reporting the total number of frames in the selected files, right?)

[2021-05-05 17:42] psavery opened #920 "Eta omega maps viewer on Mac appears behind the main window"
I don't know why it does this. The eta omega maps viewer's parent is the main window, so it should appear in front of the main window.

Maybe there is some event processing going on after the eta omega maps are shown that causes the main window to appear in front? Not sure...

[2021-05-07 06:10] minety commented on #898
Hi Joel,

@joelvbernier  Thanks a lot, I got the same result as yours for gold calibrant, however, for my stainless steel sample (the .npz and config files are attached in the dropbox link below) I cannot find any grains, and hexrd was always killed by the system after about an hour of finding. (Our system has 20 CPUs and 250 GB memory)

I check the eta-omega maps for different hkls and found the

[2021-05-09 22:10] joelvbernier commented on #898
You need to be careful about the thresholds; I can take a look at your npz

Sent from my iPhone

[2021-05-09 23:08] minety commented on #898
@joelvbernier
Thanks, my npz was in the dropbox link I attached.
I tried different thresholds but all ended up with nothing but got killed by the system/software.
My yaml files are also attached.

Best,
Tian

[2021-05-12 19:08] #917 closed

[2021-05-12 19:09] #910 closed

[2021-05-13 00:47] saransh13 opened #929 "cartesian view nans"
When a mask is applied to detectors, they seem to propagate in the cartesian view and makes the whole image nan.
Attaching example images of polar view and cartesian view for test case.

![Screen Shot 2021-05-12 at 5 45 46 PM](https://user-images.githubusercontent.com/15834451/118061557-fe938f80-b349-11eb-8c5a-f4e87f2a7a97.png)
![Screen Shot 2021-05-12 at 5 45 54 PM](https://user-images.githubuser

[2021-05-13 07:29] minety opened #931 "How to further calibrate/tweak detector parameters using multi-gold (3 grains) calibrant with this GUI? (ff-HEDM)"
Currently, I'm using CeO2 for 0 degree calibration before grain indexing. Can I do further calibration or tweaking with multi-gold calibrant? If so, how can I do this using this GUI? I assume this would be useful for grain indexing and fitting.

BTW, I can find around 1000 grains with indexing complessness>0.9, however, most of them turned out to be bad (complessness<0.6) after fit-grains. I'm qui

[2021-05-14 06:48] #931 closed

[2021-05-17 18:16] bnmajor opened #932 "Update panel buffers for PXRDIP workflow"
The panel buffers should be set after image crop:
- inside = true, outside = false

Most important is to have this working with the `TARDIS` instrument at minimum

[2021-05-17 18:18] bnmajor commented on #932
@joelvbernier Feel free to add anything else to note for this as well

[2021-05-17 21:14] joelvbernier commented on #929
Ooops -- yeah.  Need masked arrays here like in `PolarView`.  @psavery -- can you fix this one?

[2021-05-19 22:02] saransh13 opened #933 "Consistency checks in structure setter"
There was problems in setting the structure when the number of atoms were changed. This is related to the requirement that the number of atoms should be equal to the number of positions passed etc. When each of them is updated individually, then some inconsistency is produced due to different shapes of these arrays. To fix this a `Material._set_atomdata` function is introduced.

![mov](https://use

[2021-05-19 23:33] saransh13 opened #935 "reflection selection"
The reflection selection menu in the main Materials panel doesn't behave as expected, with the text highlighting messed up. The cmd+A, shift etc keyboard options also don't seem to work. However, the reflection selector menu from inside the overlay manager seems to work as expected. Screenshot attached.

![Screen Shot 2021-05-19 at 12 00 12 PM](https://user-images.githubusercontent.com/15834451/11

[2021-05-20 01:40] psavery commented on #935
Do you know if there was an exception raised in the materials panel or reflections table? I have noticed something like this before if an exception gets raised. If there is, we can fix that exception.

[2021-05-20 01:47] saransh13 commented on #935
This was the exception.
[code]

[2021-05-20 22:17] psavery commented on #935
Yeah, I have encountered this too. I have to fix this.

[2021-05-26 17:03] bnmajor commented on #918
Closing, this was fixed in #921

[2021-05-26 17:03] #918 closed

[2021-05-27 18:30] #902 closed

[2021-05-27 18:34] #933 closed

[2021-05-27 20:28] #916 closed

[2021-05-27 20:52] #932 closed

[2021-05-27 22:00] joelvbernier opened #942 "Sticky matplotlib tool state create problems for LLNL import tool"
I was in a session where I had toggled the zoom-to-rectangle tool in the graphics canvas; when I brought up the LLNL import tool, the zoom behavior was still enabled when trying to drag the detector outlines, which is problematic (obvi).  Looks like we should reset the state of the zoom and pan tools in the matplotlib ToolManager when switching to the LLNL import tool.

[2021-05-27 23:54] #942 closed

[2021-05-28 18:10] joelvbernier commented on #898
@minety -- I have your test problem.  I looks like the austenite has a lot of grains, so just a matter of adjusting the indexing parameters.  For very large number of grains, it is typically best to run on a workstation or HPC node with a decent number of CPUs to speed things up.  We are working on MPI parallel versions of fitting as well.

[2021-06-03 16:39] psavery opened #944 "Add an option to the FitGrainsOptionsDialog to write out spots files"
The user would choose a directory, and hexrd will automatically write the files to that directory.

I believe these are the changes required:

1. Setting [this option to `True`](https://github.com/HEXRD/hexrdgui/blob/2b92ca14b3cc954ceff7fc83a887795c9cbfa18e/hexrd/ui/indexing/run.py#L284) if the user wants to save the spots files
2. Setting up [the `analysis_dir`](https://github.com/HEXRD/hexrd/blo

[2021-06-03 16:54] psavery opened #945 "Add ability to visualize spots to fit grains results dialog"
In the fit grains results viewer, add a right-click context menu for the rows of the table to view the spots for the selected grain. This would probably pop up a new dialog with a canvas in it with the visualization.

@joelvbernier It might be useful to get some example code for the visualization.

We will also need to figure out if we are currently capturing the data we need to visualize this, or

[2021-06-03 19:06] psavery opened #946 "Add ability to export indexing/fit grains config after run to use in batch CLI runs"
After the user finishes an HEDM workflow, provide an option to export the config as a yaml file to use in batch CLI runs.

I'm not sure if we will need to be able to export the individual indexing and fit grains steps, or the whole workflow. I'm also not sure about the best place to put it - maybe as a button in the fit grains results dialog? (if this is the case, the button should be disabled if

[2021-06-04 07:40] minety commented on #898
analysis_name: sam3_ff_s0_fitgrains_fr4_cr0p3_0p92_50 # defaults to analysis

working_dir: /home/ytian37/scratch/2021Feb_RAMS/FF_analysis/sam3_s0/

multiprocessing: all # "all", or "half", or -1 means all but one, defaults to -1

material:
material:
  definitions: RAMS_Materials.h5
  active: Fe-austenite
  dmin: 1 # defaults to 1.0 angstrom
  tth_width: 0.25 # defaults to 0.25 degrees
  min_sfac_r

[2021-06-04 07:57] minety opened #949 "HEDM: Ability to visualize indexing results with specific parameters (Threshold, filtered radius, clustering radius, etc.)"
![image](https://user-images.githubusercontent.com/19909710/120766560-5906b280-c4e8-11eb-90d7-df194cdd5092.png)

![image](https://user-images.githubusercontent.com/19909710/120767066-d6cabe00-c4e8-11eb-8a29-b4584f57bd4c.png)

Is it possible to visualize the indexing results like the above image? **### (From FABLE, frame by frame visualization.)**

Thanks,
Tian

[2021-06-04 08:03] minety commented on #949
This would be very helpful for tweaking different parameters (indexing strategy), especially for deformed/small grains.

[2021-06-04 19:08] saransh13 opened #950 "Apply lorentz polarization correction to images"
This option will scale the pixels in the images based on the lorentz polarization factors. The computation of the polarization factor will be in the instrument class. The same interface as the "Apply Solid Angle Correction" can be used in the GUI.

It might make sense to have a sub-option inside "Edit" menu option called "Corrections" where both these options could sit as well. Any future correcti

[2021-06-04 19:35] psavery commented on #950
@saransh13 Sounds good.

I think I need to clean up some of the code in hexrdgui that does the corrections as well, to make it more standardized...

[2021-06-08 18:51] #782 closed

[2021-06-08 18:51] #795 closed

[2021-06-08 18:51] #811 closed

[2021-06-08 18:51] #820 closed

[2021-06-08 18:56] joelvbernier commented on #950
Agreed -- we can have a submenu for intensity corrections.

[2021-06-08 18:58] joelvbernier commented on #949
We are working on the Bragg peak browser in the GUI @minety -- I'll keep you posted!

Note that the Eta-Omega map widget lets you see the results of the peak search for the indexing already.

[2021-06-08 21:55] saransh13 commented on #929
So the cartesian view is generated correctly with no nans, but the part of the detector which should be masked out still has values in them. Attaching screenshot and files here.

[Archive.zip](https://github.com/HEXRD/hexrdgui/files/6619790/Archive.zip)

![Screen Shot 2021-06-08 at 2 52 29 PM](https://user-images.githubusercontent.com/15834451/121262537-2e5e8600-c869-11eb-85bd-406720e5627e.png)

[2021-06-09 02:20] joelvbernier commented on #929
Ah, ok -- I think I can fix that.

[2021-06-09 17:21] minety commented on #949
@joelvbernier
Thanks!

[2021-06-09 17:27] saransh13 opened #951 "Rietveld option not running in the GUI"
The first time I switch option from LeBail to Rietveld, the parameter list is correct. However, switching to Rietveld doesn't update the parameter list. When I hit run, I end up with the following errors

[code]
My best guess is its likely coming from some initialization error. It seemed to work for a different dataset when I last tested it.

[2021-06-09 17:29] minety commented on #898
@joelvbernier
Thanks for your suggestions.
In terms of the second pass, how can I remove signals from the previously indexed grains? How can I do that with .yml file?
Tian

[2021-06-09 17:33] saransh13 commented on #951
Never mind figured it out. There was a problem in the material class. Should be fixed now.

[2021-06-09 17:33] #951 closed

[2021-06-09 17:50] joelvbernier opened #952 "FF-HEDM workflow enhancements"
User feedback (thanks @minety, @georgejoe) has made it clear that we need a bit more feedback during the indexing and fitting processes.  Here is a running list (with some existing issues linked) encapsulating some of the highest priority needs:

- Indexing (`find-orientations`):
  - [x] Add ability to store/save the scored orientation list (like CLI); would also be nice to report stats on scores.

[2021-06-13 07:53] minety opened #954 "Convert orientations in grains.out to Bunge Euler angles"
@joelvbernier

Hi Joel,

Could you please tell me how I can convert the orientations in grains.out (fitgrains) to Bunge Euler angles?

Thanks,

Tian

[2021-06-14 15:05] psavery commented on #929
Hi Saransh,

I see the tiff files in the archive, but I don't see either `.npy` mask files or a `.hexrd` config file (that includes masks in it). Can you include those so I can try to apply the masking?

Looks like the `Calibration_ceo2_54.h5` file inside is an export of the polar data.

[2021-06-14 18:01] saransh13 commented on #929
Ah sorry must have attached the wrong file. Here's the correct configuration file.
[Calibrated_Paper.hexrd.zip](https://github.com/HEXRD/hexrdgui/files/6650357/Calibrated_Paper.hexrd.zip)

[2021-06-14 22:33] joelvbernier commented on #929
The issue, to clarify, is that the rendered images should have NaN’s in the invalid areas (both off the detector and in masked regions) in the same way the polar view does.  The former is relatively straightforward in that we just initialize each image with NaNs; the latter might take a little work in terms of mapping the masked areas, then filling after the fact.

[2021-06-14 22:33] psavery commented on #929
@joelvbernier It looks to me that this is happening because the Cartesian view isn't setting off-panel values to NaNs like the polar view is doing.

One solution is that I could add the below code snippet around [here](https://github.com/HEXRD/hexrdgui/blob/48c966f0b59cf263c6312797eec8ae1cb1f14161/hexrd/ui/calibration/cartesian_plot.py#L256) to fix this for the 2D panel buffer:
[code]

But two que

[2021-06-14 22:37] joelvbernier commented on #929
Just responded to this at the same time — we want the same behavior, in that all invalid pixels (off-panel and masked) should come through as NaN.  As I mentioned, the former is easy, but I think the latter will require us to project the mask into the cartesian view then set the NaNs manually.  That is, unless ProjectiveTransform can handle masked arrays (I don’t think it can)?

[2021-06-15 01:21] psavery commented on #950
@saransh13 Let me know when this is added to hexrd.

[2021-06-15 02:45] saransh13 commented on #950
@psavery https://github.com/HEXRD/hexrd/pull/286 implements the functionality in hexrd. Note that the factors are not properties since it requires the user input of two numbers f_horizontal and f_vertical (they should add up to 1). These are the fraction of x-ray polarized in the horizontal and vertical directions.

[2021-06-15 03:51] minety opened #955 "Tweaking fitgrains tolerance for better strain tensor/position results"
![image](https://user-images.githubusercontent.com/19909710/121989602-62a2dc80-cd6a-11eb-8e58-21d48128d308.png)

I found that as I keep decreasing the tolerance for fitgrains as shown above, the chi^2 becomes smaller. (it can even reach 1e07 for certain grains.)

My question is what is the optimum fitting strategy for this, are the parameters in the image good enough?

Thanks,
Tian

[2021-06-15 04:30] #954 closed

[2021-06-15 14:41] bnmajor commented on #945
@joelvbernier Do you have any example code for the visualization or an outline of what exactly we should be visualizing? Also it looks like the [results from fit grains](https://github.com/HEXRD/hexrd/blob/e1f9b320d24b807ef7d6e1da70217244a6bf72c0/hexrd/fitgrains.py#L402) does **not** return the spots data. Would it be preferred that `pull_spots` is updated to support returning the spots as well as

[2021-06-15 14:45] bnmajor commented on #946
@joelvbernier Will we need to write out the `material`, `image_series`, and `instrument` sections/files for this config?

[2021-06-15 15:15] psavery commented on #950
@saransh13 Sounds good to me!

[2021-06-15 16:44] psavery commented on #935
Bugs like this that put hexrdgui in an unusable state should be high priority.

It's not nice when this kind of bug happens, the GUI becomes unusable, and the only way to fix it is by closing the program.

This bug should be fixed by #956

[2021-06-15 17:22] #935 closed

[2021-06-15 19:08] #944 closed

[2021-06-16 18:42] #950 closed

[2021-06-18 18:19] joelvbernier commented on #955
@minety -- a few things.

1. `npdiv` can usually be set to 2 (which already does 2x oversampling of the image intensities onto the local angular grids); 4 is way overkill for most samples with peaks that aren't very sharp.  Setting to 2 will speed up the fitting and decrease memory usage.  Diminishing returns to set > 2...
2. there is no `active_hkls` parameter for `fit-grains`; that does nothing

[2021-06-24 18:12] joelvbernier commented on #945
I sent in Slack, I believe @psavery had got it running.

[2021-06-24 20:44] psavery commented on #945
Yes, I do have one working. However, we're going to need to make a way for `fit_grains()` to return the spots.

Looks like using the [`save_spots_list` parameter](https://github.com/HEXRD/hexrd/blob/2b6f1445b25db30ab6007a111d0aa1bdbd023742/hexrd/instrument.py#L1403) on `pull_spots()` may be a start.

[2021-06-24 21:33] psavery opened #968 "Add ability to re-run clustering"
This is taken from a point from #952:

Here is what I personally envision:

1. Add a hidden or disabled action between "Run"->"Indexing" and "Run"->"Fit Grains", called "Re-run Clustering". This action will only be visible/enabled if the `MainWindow` has an `_indexing_runner` attribute (set [here](https://github.com/HEXRD/hexrdgui/blob/63ed12c2be0b1a132fe380282068f23f8f92827c/hexrd/ui/main_window.

[2021-07-07 18:44] #598 closed

[2021-07-10 14:32] bnmajor opened #979 "The "Subtract minimum" setting is being saved and always applied to future image loading"
The average aggregation in the GUI is giving different intensity results than the script does for the averaging. A specific case where this can be seen is in the MEC example where the "stripes" should be zero and are currently not.

[2021-07-10 14:32] bnmajor opened #980 "Image Stack tool issues loading some examples"
- There seems to be an issue with finding files when manually entering the directory path. This may or may not be related to the directory being a OneDrive
- Issues loading the MEC example via tool (example has no omega info)

[2021-07-12 15:21] psavery commented on #979
I haven't looked into it, but I wonder if [`average`](https://github.com/HEXRD/hexrd/blob/5e1385d163180a323d897d4e150ee8e3e4bfa4c2/hexrd/imageseries/stats.py#L88) and [`average_iter`](https://github.com/HEXRD/hexrd/blob/5e1385d163180a323d897d4e150ee8e3e4bfa4c2/hexrd/imageseries/stats.py#L97) are giving the same results.

[2021-07-12 15:28] bnmajor commented on #979
I hadn't started on this yet either but that seems like a great starting point, thanks @psavery!

[2021-07-12 20:34] donald-e-boyce commented on #979
I think you are proably right. I'm looking at this now.

Don

On Mon, Jul 12, 2021 at 11:29 AM Brianna Major ***@***.***> wrote:

[2021-07-12 20:53] donald-e-boyce commented on #979
I am improving the weak unittests, but here is what I found.

For a 3x5x7 array of random numbers between 0 and 20, stats.average and stats.average_iter give the same answer. But stats.average(a) and numpy.average(a, axis=0) differ on the order of 10^-6.   I am wondering if this is because we decided at the time to return results of type float32. So there is a conversion of the integer division to

[2021-07-12 22:26] psavery commented on #979
@donald-e-boyce Thank you for looking into that! Indeed, the conversion to float32 might have caused that difference on the order of 10^-6. However, I think we are getting a much bigger difference, like some places should be 0 where they are 42, or something like that. We can dig into it more and see.

[2021-07-13 16:36] joelvbernier commented on #979
Funny, I just ran an example (the MEC example) and find no difference between `imageseris.stats.average` and `numpy.average` on the same image stack:
[code]

code below:

[code]

[2021-07-13 16:37] joelvbernier commented on #979
FYI these data can be found [here](https://drive.google.com/drive/folders/1GXgwqWXexF94_sySHH_PP1407YfAvJz1).

[2021-07-13 17:17] joelvbernier commented on #898
@minety -- we will have to build a new tool for this.

[2021-07-13 17:18] joelvbernier commented on #955
@minety -- did this help?

[2021-07-13 17:20] joelvbernier commented on #952
@psavery -- added another functionality to the `find-orientations` enhancements above; should I convert that item to a separate issue?

[2021-07-13 17:27] psavery commented on #952
@joelvbernier No this is fine!

[2021-07-13 17:40] donald-e-boyce commented on #979
The difference is because all the image files are float32, and so all the
averages are the same type. If the image type is int, then the np.average
returns a double, but the stats.average returns a float32, so there is a
small difference.

...

found 18 files for detctor 'Epix10kaQuad3'

type of image file:  float32

type of image stack:  float32

type of numpy average:  float32

type of image ser

[2021-07-13 17:44] psavery commented on #979
@joelvbernier and I took a look at this issue, and it looks like it is actually being caused by the minimum being subtracted without the user knowing. If the user subtracted the minimum in a past run, it is saving that setting and always subtracting the minimum in future runs, even though the checkbox remains unchecked.

I'm going to fix this...

[2021-07-13 17:57] joelvbernier opened #982 "Need a list editor for the Materials"
I found the list editor for the materials in @donald-e-boyce's wxPython gui very useful for sorting/adding/copying/deleting materials:
![image](https://user-images.githubusercontent.com/1154130/125502009-63bb4f3e-ca8e-4cf2-b50d-94c16e4d5a68.png)
This could even be taken a step further with Ctrl and Shft click behavior for selecting multiple entires.  Very usefule for removing all the default mater

[2021-07-13 19:02] cjh1 opened #983 "Add support for persisting sessions"
This would include:

- Datasets
- Materials
- Instruments
- Settings

Either JSON or HDF5 or a combination of both.

[2021-07-14 22:31] joelvbernier opened #985 "Add ability to specify 2𝜃 range for WPPF independent of polar view range"
It is desireable to be able to specify (more specifically, to restrict) the 2𝜃 range that WPPF will perform the fit over instead of fixing it to the extent of the polarview image.  This will allow for the exclusion of problematic boundary effects when the extent of the polar view exceeds the detector extent(s) (see below).

Should be straightforward to do...

![image](https://user-images.githubuse

[2021-07-15 14:36] bnmajor opened #986 "Masking is slow"
- [x] Slow performance for rectangle/ellipse masking in polar view (fixed by #988)
- [x] Toggling mask visibility is slow (fixed by #988)

[2021-07-19 17:07] psavery commented on #985
@saransh13 Is there currently a way to restrict the WPPF two-theta range in hexrd? Maybe one place to implement it would be [in this property?](https://github.com/HEXRD/hexrd/blob/5e1385d163180a323d897d4e150ee8e3e4bfa4c2/hexrd/wppf/WPPF.py#L781-L786).

[2021-07-19 20:44] hsheng94 opened #987 "HEXRD GUI to work with data collected at CHESS"
Hello,

I have the far-field data collected at CHESS which uses 2 ff-detectors. I tried to import the configuration file that used to work python2 code and get the following error.    It seems the .yml file is not compatible with the this version of GUI.I also tried to over lay the diffraction rings but it seems that I cannot separate the rings onto 2 detectors.  Are there any work-flow or example

[2021-07-20 16:52] #979 closed

[2021-07-22 21:47] #986 closed

[2021-07-22 21:54] psavery opened #990 "Look into polar view binary erosion to eliminate edge artifacts"
Look into polar view binary erosion from the outside of the image plate extent (nan region) to get rid of the edge artifacts.

[2021-07-23 20:56] #987 closed

[2021-07-27 10:15] #513 closed

[2021-07-27 18:02] bnmajor opened #995 "Support the option to load masks in mask manager"

[2021-07-27 18:54] joelvbernier commented on #985
bumping up the priority on this one @saransh13 -- should be easy to implement, methinks.

[2021-07-27 18:57] joelvbernier commented on #894
@psavery -- the required hexrd dep was already merged for this one, so we would just need a new widget to select X-ray energy from [this HDF5 file](https://github.com/HEXRD/hexrd/blob/master/hexrd/resources/characteristic_xray_energies.h5) (including the possibility to average two entries).

[2021-07-27 19:00] saransh13 commented on #985
So WPPF takes in a numpy array as input. If the input data is just cropped
while passing, WPPF should take care of the rest.

On Tue, Jul 27, 2021 at 11:55 AM Joel Bernier ***@***.***>
wrote:

[2021-07-27 19:21] psavery commented on #894
@joelvbernier Is this LLNL or HEDM, or either?

[2021-07-27 19:22] saransh13 commented on #894
This should be LLNL.

On Tue, Jul 27, 2021 at 12:21 PM Patrick Avery ***@***.***>
wrote:

[2021-07-27 22:47] psavery commented on #983
Related issue: #751

[2021-07-28 02:09] psavery commented on #982
For this, I'm thinking it would be nice if we made a general "ListEditorWidget", that allows you to do the above things of moving items up and down in a list, deleting items, copying items, and potentially renaming items, for an arbitrary list of strings. For this particular use case, we probably want the strings to be unique (no duplicates).

When an action is performed, the widget can emit signa

[2021-07-28 15:19] #985 closed

[2021-07-28 17:03] #990 closed

[2021-07-29 05:07] #494 closed

[2021-07-29 05:52] #750 closed

[2021-07-29 18:29] saransh13 opened #999 "show SNIP button only works once"
When I apply snip and then use the show SNIP button to display the snip, it works the first time. After closing that window, the show SNIP button does not do anything.

[2021-07-29 21:51] psavery commented on #999
This is actually a duplicate of #522, but that was closed without being fixed. I believe #1000 should fix this issue.

[2021-07-29 21:56] #204 closed

[2021-07-29 21:56] #999 closed

[2021-07-30 18:46] saransh13 opened #1002 "overlay simulated diffraction patterns using wppf"
Use wppf to overlay simulated powder diffraction pattern instead just lines. The overlay menu can have a check box to turn this feature on/off. The parameter list needs to be simpler than the full Rietveld model, so there's some work which needs to be done there.

[2021-07-30 19:09] #894 closed

[2021-07-30 19:55] #920 closed

[2021-07-30 20:11] #886 closed

[2021-07-30 20:43] psavery opened #1003 "Use view data for brightness and contrast histogram"
Currently, the raw data (with no intensity corrections) is used in the brightness and contrast histogram. This histogram is subsequently used for the automatic adjustments via the "Auto" button.

Instead of the raw data, we should use whatever data the user has in the view (Cartesian or Polar), and with the intensity corrections applied. This way, the auto button will be much more useful for these

[2021-07-31 03:26] psavery opened #1004 "Ignore enter key for OmeMapsViewerDialog"
When the eta omega maps viewer appears, we need to ensure that if the user accidentally presses "Enter", it doesn't automatically execute "OK" or "Cancel". In fact, we need to make sure this gets fixed for all dialogs.

This should be taken care of automatically [here](https://github.com/HEXRD/hexrdgui/blob/7d79196c7e0c63dc5b83b50806122a08d6cfa3dc/hexrd/ui/ui_loader.py#L51), but it apparently is n

[2021-08-09 16:25] psavery commented on #1004
It looks like if `QDialog` receives the enter key press event, it successfully blocks the event (it normally forwards the enter key press event to it's default `QPushButton`, which is often in a `QDialogButtonBox`).

However, it looks like in some cases, such as in the `OmeMapsViewerDialog` here, that the `QPushButton` itself is receiving the enter key press event, thus bypassing the blocking that

[2021-08-10 19:08] psavery opened #1008 "Add option to color grains by orientation"
This will use [`color_orientations()`](https://github.com/HEXRD/hexrd/blob/80339100767290bfa1b6cbc54e884a151fa7209d/hexrd/unitcell.py#L1173) from hexrd's `unitcell` class.

[2021-08-10 19:32] psavery commented on #1008
@saransh13 Feel free to add any details.

[2021-08-11 12:20] #1004 closed

[2021-08-16 15:56] #968 closed

[2021-08-17 02:30] saransh13 opened #1012 "Remove mask gives error"
After loading an image and drawing masks in polar view, the remove mask option in Edit > Manage masks works fine. However, if a new image is loaded after removing all the old masks and adding new ones, the the remove mask button produces the following error

![Screen Shot 2021-08-10 at 11 34 45 AM](https://user-images.githubusercontent.com/15834451/129654445-bb223b27-9bef-4d47-99e8-f3e9cd76a9c5.pn

[2021-08-17 15:23] bnmajor commented on #1012
@saransh13 Could you provide the exact steps that you took when you saw this error? So far I have been unable to reproduce this.

[2021-08-17 18:37] saransh13 commented on #1012
Ok trying to create a gif/video with this. I will upload shortly. Sometimes, it takes a few rounds of image reloads to reproduce this error.

[2021-08-17 18:40] saransh13 opened #1013 "Mask manager"
Toggling the visible button in mask manager does not behave as expected. All the polar masks somehow only turn a single mask on/off. Remove mask button also has the same behavior. Video below.

https://user-images.githubusercontent.com/15834451/129782432-c0ea4bf8-aafe-4281-b9d3-5bb5d30e444d.mov

[2021-08-17 19:05] bnmajor commented on #1012
Thanks @saransh13! So there is an assumption being made for both toggled and removed masks that when the widget is clicked the `currentRow` is updated accordingly, and this value is what is used to determine which mask to hide/show/remove. This behavior is not guaranteed though, and I think that is what is causing this bug. I still have not been able to reproduce this locally but I think I have a

[2021-08-17 19:20] saransh13 opened #1014 "undescriptive error when width is not enabled in powder overlays during powder calibration"
When powder calibration is started with a material with the widths turned off, then the following error is generated. This is not descriptive. The user should probably get a warning and the widths should be turned on to the default values.

<img width="417" alt="Screen Shot 2021-08-16 at 8 49 31 AM" src="https://user-images.githubusercontent.com/15834451/129787339-de044bdd-b892-490b-ad6c-9d3176a0e

[2021-08-20 19:41] #1012 closed

[2021-08-20 19:41] #1013 closed

[2021-08-24 14:21] #1014 closed

[2021-08-27 17:40] psavery opened #1019 "Add legend for coloring grains by orientation"
This is an improvement on #1008 and #1018, so that the user can see what the colors are referring to:

![image](https://user-images.githubusercontent.com/9558430/131167584-96f41f9a-ed13-4053-8dbe-fc000c994dea.png)

@saransh13 is going to create the legends.

[2021-08-31 17:47] #982 closed

[2021-09-03 23:29] joelvbernier opened #1021 "Refinments editor won't open for an instrument with a distrotion function"
@psavery I just noticed this one working with the GE CeO2 example.  Looks related to the fact that the instrument has an additional 6 parameters hanging off it.

[code]

[2021-09-03 23:39] joelvbernier opened #1022 "Powder calibration not working for detector with distortion"
@psavery this is porbably related to #1021 -- getting a mismatch between the length of flags the code is expecting and what is getting handed in:

[code]

[2021-09-07 14:59] psavery commented on #1021
@joelvbernier This actually looks like there is something off with the number of overlay refinements. The distortion parameters are not actually involved in that function with the error, only the overlay refinements. (also, I am not getting an issue with the refinements editor when using the GE CeO2 config with distortion parameters).

Can you send me a screen shot of your CeO2 powder overlay sett

[2021-09-07 16:08] joelvbernier commented on #1021
Currently, when you ask the instrument for its calibration parameters, if a distortion function is present, attacks them to the end of the six geometric parameters.  It would appear that the flags are not including these additional parameters.

Sent from my iPhone

[2021-09-08 20:54] joelvbernier opened #1024 "Need Save/Load for WPPF parameters"
No method currently exists to save the WPPF parameters in the GUI; the underlying I/O methods exist on the LeBail and Rietveld classes (correct, @saransh13?).  I think we just need to expose those in the GUI on the WPPF widget.  I assume the format with be HDF5, but I defer to @saransh13.

[2021-09-08 21:00] joelvbernier commented on #1002
@saransh13 -- can we get this done by September 30?

[2021-09-08 21:01] #1021 closed

[2021-09-08 21:01] #1022 closed

[2021-09-08 21:11] joelvbernier opened #1025 "New defaults for WPPF"
@saransh13 -- I'm wondering if we should consider new default values for the instrumental parameters in WPPF.  The synchrotron CeO2, perhaps (tiff and yaml config attached).  Since we don't have export yet, here are the params:

![image](https://user-images.githubusercontent.com/1154130/132585643-af11f04c-0ccc-4b0b-82a8-2427f94589ed.png)

Seems like as 'generic' of PV parameters as we might get?

[2021-09-08 21:16] joelvbernier opened #1026 "Issues with Finger, Cox, Jephcoat profile function"
Seems like this profile function is prone to exceptions in the GUI implementation.

For example, I get the following `ZeroDivisionError`
[code]
for these parameters:
![image](https://user-images.githubusercontent.com/1154130/132586682-ad4a1763-9b7d-4dd0-a04e-50893511980c.png)

[2021-09-14 19:22] joelvbernier opened #1029 "Add ability to save SNIP background"
Here are some functionalities we need for the SNIP background:
- [x] Add an export (HDF5, like `PolarView` export) option to SNIP viewer
- [x] Automatically add SNIP background as a dataset in existing polar export (if enabled)
- [x] Independent colormap editor in SNIP viewer (incl. B&C)

[2021-09-14 22:01] psavery commented on #1029
The SNIP background is actually already exported as a dataset in the existing polar export. It has the key "snip_background". I'll check that option.

Also, there is some colormap editing capabilities to the SNIP viewer currently through the matplotlib button "Edit axis, curve and image parameters". But we can add a brightness and contrast editor to it as well.

[2021-09-22 04:05] psavery commented on #761
We ended up storing the picks both in angular coordinates and in warped Cartesian coordinates. When we import the picks, we convert from warped Cartesian coordinates into angular coordinates.

[2021-09-22 17:20] #761 closed

[2021-09-23 16:21] #995 closed

[2021-09-23 18:50] joelvbernier commented on #1026
@saransh13 can you take a look at this by the end of next week?

[2021-09-24 05:36] joelvbernier opened #1041 "Polar masks are not all getting re-mapped consistently"
Since masks drawn in the polar view get mapped out to (x, y) coordinates, the behavior should be such that they 'track' with the features in the polar view if the instrument parameters are modified.  This seems like it _might_ be the case for the laue masks, but definitely is not the case with the polygon and ellipse/rectangle type.  Observe:
![image](https://user-images.githubusercontent.com/1154

[2021-09-24 05:48] joelvbernier opened #1042 "Need powder line intensities added to reflection table"
for sorting reflections for powder diffraction, we should add an I_p value column to the reflection table in addition to |F|^2, calculated in the standard way (@saransh13 -- this should probably be made to be an output property of `PlaneData`).

In essence, it involves multiplying the |F|^2 by the multiplicity and a Lorentz factor, but it can vary significantly from |F|^2.

[2021-09-24 06:06] joelvbernier commented on #1041
I'll have to make a test case to make it clear what is happening.

[2021-09-24 06:34] joelvbernier commented on #1041
Verified that the Laue masks are also not moving with the raw coordinates (if they were, the spots in the second image would be blanked still):
![image](https://user-images.githubusercontent.com/1154130/134628927-c51671c9-5ef2-455a-8ef2-73e46c0fcc5b.png)
![image](https://user-images.githubusercontent.com/1154130/134629009-df52ca86-32d3-4168-9983-6274f0be6147.png)

[2021-09-24 06:53] joelvbernier commented on #1041
Clarification: the Laue masks aren't moving either, they are pinned to their original angular coordinates.

[2021-09-24 15:08] psavery commented on #1042
Okay, if @saransh13 makes it an output of `PlaneData`, I can add it to the table.

[2021-09-24 17:57] saransh13 commented on #1026
You should only refine either `HL` or `SL`. Refining both of them simultaneously is leading to this. The least squares wanders off in bad territory. Can you try with just one of those parameters turned on.

[2021-09-24 21:37] #1041 closed

[2021-09-24 21:43] #1042 closed

[2021-09-24 23:38] saransh13 commented on #1026
The angular range for the spectrum starts at 2 degrees. The values of `HL` and `SL` needed to be made small to get a good starting point for least squares. When either or both are `0`, that's when that divide by her error is raised. I'll fix the default values for the table and close this issue.

[2021-09-24 23:50] #1026 closed

[2021-09-24 23:51] saransh13 commented on #1024
Theres the `dump_hdf5` routine but no `load_hdf5`. I'll add that to WPPF.

[2021-09-24 23:52] saransh13 commented on #1002
Yeah I'll work on this next week. I think it's pretty doable.

[2021-09-25 02:00] #1024 closed

[2021-09-25 03:39] joelvbernier opened #1049 "Fresh development build problems on Linux"
After setting up a fresh dev environment with the following:
[code]
the `hexrdgui` entry point no longer works:
[code]
I can call the `main.py` script to fire up the GUI directly, however.  Also note that a straight conda build env works as expected.

[2021-09-25 03:50] joelvbernier commented on #1049
D'oh -- as @psavery pointed out, I flubbed my shell var scoping rules trying to be cute.  My bad.  The _actual_ instructions work:
[code]

[2021-09-25 03:50] #1049 closed

[2021-09-27 14:35] bnmajor commented on #632
@joelvbernier This feature was already added in #1034 so I will close this issue. #1038 is related to #1039 so that the masks can be exported with the state.

[2021-09-27 14:35] #632 closed

[2021-09-27 16:16] #889 closed

[2021-09-29 21:30] saransh13 opened #1053 "Add unpolarized option to Intensity correction"
When used selects `Edit > Intensity correction > Apply Lorentz Polarization Correction`, the current menu looks like the image below

![Screen Shot 2021-09-29 at 2 25 04 PM](https://user-images.githubusercontent.com/15834451/135350676-f33cf547-553c-468c-8a47-e3b4ba74db63.png)

We need to add a checkbox named `unpolarized` in this window which when selected will have two actions:
1. grey out the op

[2021-10-01 16:23] #1053 closed

[2021-10-12 19:21] joelvbernier opened #1057 "Reflection table 2θ doesn't update when changing beam energy"
Just noticed this one when messing with exclusions.  Energy change in instrument is not forcing an update to the `planeData` object (or whatever the reflection table is generated from).

[2021-10-14 17:12] akrygier opened #1059 "Feature suggestion (azimuthal scroll)"
It would be nice to have a feature where you could add a constant value to the azimuthal, effectively allowing you to scan (this is more true for PXRDIP than TARDIS).

In the image below, I would like to be able to effectively translate the cake up so that the region of maximum 2 theta is at eta = 0.

![image](https://user-images.githubusercontent.com/59886900/137364755-a6ecbd9a-430c-4354-a31a-e90

[2021-10-14 17:15] akrygier opened #1060 "Add log-log-root scale option"
I have found that scaling images by log(log(sqrt(PSL + 1) + 1) +1) is very helpful for visually inspecting powder XRD data. This is the same scaling that SNIP uses. Is it possible to add that option (or replace log altogether?).

![image](https://user-images.githubusercontent.com/59886900/137365127-e74c3410-567e-485b-9979-348317922502.png)

[2021-10-14 17:50] psavery commented on #1059
Hi @akrygier,

This can (kind of) be done, at least visually, by editing the eta range in the "Image Mode" widget for the polar view. Rather than a range of -180° to 180°, for instance, it could be changed to -90° to 270°.

Now, this wouldn't put the maximum two theta at eta == 0, but it would shift the eta axes so that the maximum two theta appears in the middle vertically.

[2021-10-15 05:08] joelvbernier commented on #1059
what @psavery said :-)

[2021-10-15 15:58] #1059 closed, assigned to joelvbernier

[2021-10-15 17:05] joelvbernier commented on #1060
@psavery -- I think we also need to revisit whether we  actually scale the image data instead of the colormap as well.  ImageJ makes a scaled copy of the image under "math" operations, which is what I think we want...

[2021-10-15 21:20] joelvbernier opened #1062 "Need option in imageseries processing for reversing frame order"
Currently, `OmegaImageSeries` only supports _positive_ (ccw) &Delta;&omega; while we eventually will include support for instruments that rotate cw (@donald-e-boyce...), there is a need to support rotation series measured as such now.

The `ProcessedImageSeries` class supports a `'frame_list'` kwarg that allows us to reverse the order of the frames, _e.g._
[code]
Since we use `ProcessedImageSeries

[2021-10-15 21:25] joelvbernier opened #1063 "Spin controllers in view modes allow for 0 pixel sizes, causing `OverflowError`"
@saransh13 brought this one to my attention.  This wouldn't be _so_ bad if it didn't cause the Mac version to lock up!  I propose that the float spin controls for pixel size on the cartesian and polar views have a min of 0.0001°.  In addition, the step sizes should be much smaller than they are to be useful, say 0.1°

[2021-10-15 22:15] psavery opened #1065 "Improve ScientificDoubleSpinBox stepping"
Although `ScientificDoubleSpinBox` inherits from `QDoubleSpinBox`, we are currently ignoring the `singleStep` property on it. Instead, the way stepping works is that it always increments the digit to the left of the decimal place, whether the number displayed is currently in standard notation or scientific notation (see [here](https://github.com/HEXRD/hexrdgui/blob/518e395909ba52d41c589245f89390b3

[2021-10-15 23:11] joelvbernier opened #1066 "Panel buffer config "border" spin boxes are int; should be float!"
The dimension is in mm, and should be a float.  Currently the spin boxes are either ints or have min set to 1.

[2021-10-15 23:27] joelvbernier commented on #1063
I'm fine with using a static pixel step delta in the widget itself.

[2021-10-17 05:00] joelvbernier opened #1068 "Powder line intnesities all go to NaN after chaning dmin on material"
Probably someting in `hexrd.material` @saransh13, but any change to the material parameters (_e.g._ `dmin`) seem to kill the powder line intensities, and sometimes even the 2$theta; values.

[2021-10-17 05:53] #1066 closed, assigned to psavery

[2021-10-18 22:05] saransh13 opened #1069 "Add single peak fit for DCS profile function"
Will be used for calibrating DCS data.

[2021-10-19 17:05] saransh13 commented on #1068
Seems to work ok on my system.

https://user-images.githubusercontent.com/15834451/137958142-d0ddcff2-ee98-4ed4-8f24-09e0e950d132.mov

[2021-10-19 20:01] joelvbernier commented on #1068
Checking my env, where I showed it today...

[2021-10-19 22:47] joelvbernier opened #1071 "Changing instrument beam energy does not update beam energy in material"
Seems like we need a slot to catch the signal emitted by changing instrument energy; currently if you modify the energy, the material and its `planeData` are not updated; this leads to the reflection table in the overlay to have incorrect 2&theta; values displayed.

[2021-10-19 23:02] joelvbernier opened #1072 ""Limit Active" toggle is modifying reflections table, not just exclusions"
This seems like counter-intuitive behavior to me.  Did this get changed recently?  In the past, I thought the table was strictly displaying _all_ reflections generated to the specified `dmin`, but now toggling "Limit Active" is modifying the table rows.  It would seem clearer perhaps to have that toggle just modify exclusions via logical or with whatever ones might be selected by the user in the t

[2021-10-20 00:23] joelvbernier commented on #1071
closing as this seems to be working properly in master...  save for the NaN's for powder line intensities:

https://user-images.githubusercontent.com/1154130/138007884-17b8430d-75a2-4d6a-835e-0b32727e1559.mp4

[2021-10-20 00:23] #1071 closed

[2021-10-20 16:45] joelvbernier opened #1073 "Form view for instrument parameters is not updating with detector selector"
At least on Windows; if you change the current panel in the slider view, however, it updates the form view.

[2021-10-20 20:04] psavery commented on #1072
I have done this in #1075

[2021-10-20 20:24] #1072 closed

[2021-10-20 22:05] #1062 closed

[2021-10-21 00:58] psavery commented on #1057
@joelvbernier Is this the same issue as #1071?

[2021-10-21 19:03] joelvbernier opened #1078 "Failure upon subsequent save of instrument config to 'HEXRD' format on Windows"
If you attempt to save the instrument config to HEXRD (hdf5) format more than once in a GUI session, the following exception is raised:
[code]
Furthermore, the file that gets written is a garbage config with all fields are set to 0 (or False) despite the values stored in the instrument parameter dict on `HexrdConfig` in the GUi namespace, _e.g._:
[code]
This is exclusive to the Windows implementat

[2021-10-21 20:37] joelvbernier opened #1079 "New version checker on startup"
Given the pace of development, I think it would be great to have the GUI have a version checker on startup to inform users.  Could bring up a dialog with a link to the releases page if a new version is up, which should be straightforward.

[2021-10-21 21:49] joelvbernier commented on #1078
Upon further examination, the _seems_ to be due to the fact that I had instantiated an instrument class from the same hdf5 file in an IPython session open at the same time.  Closing that removed the issue.  Not sure how on earth it wrote all those 0's in the example above, but take this as a cautionary tale opening the same hdf5 file in multiple processes on Windows!

[2021-10-21 21:49] #1078 closed

[2021-10-21 21:50] #1073 closed, assigned to psavery

[2021-10-21 21:50] joelvbernier commented on #1057
Oh, windows...

[2021-10-21 21:50] #1057 closed

[2021-10-22 21:47] joelvbernier opened #1081 "Need mask viewer in "Configure Panel Buffer" widget"
A simple "show" button in the buffer config widget would be very useful.

[2021-10-27 00:14] saransh13 opened #1086 "Delete points not working in Laue auto pick wizard"
Performing auto picking of Laue points and trying to delete points not working as expected.

https://user-images.githubusercontent.com/15834451/138978702-7a1c36be-1579-401b-a253-f60bc71e0ab4.mov

[2021-10-27 17:34] cjh1 opened #1087 "Replace any print statements with appropriate logging calls"

[2021-10-29 21:36] joelvbernier commented on #1086
It still plots all expected spots, but I think we could do better w.r.t. plotting the measured spots because they are either hard to see, or don't get shown all together anymore (where as the "current" spot could be highlighted in some way _e.g._ by changing color).

[2021-10-29 21:36] joelvbernier commented on #1086
@saransh13 -- the ideal is that this table would always show the predicted positions, and would have non-nan values if any spots were autofit or otherwise picked.

[2021-10-29 21:44] saransh13 commented on #1086
Got it. Closing the issue.

[2021-10-29 21:44] #1086 closed

[2021-10-29 21:58] joelvbernier commented on #1086
I agree it can get busy -- we can decide if we want to change the behavior.  For now, this table is 1:1 tied to the overlay

[2021-11-04 04:00] joelvbernier opened #1092 "Add/Remove detector buttons in form view not working on mac os"
Weird, new bug; the '+' and '-' buttons in the form view aren't doing anything on the mac version.  Here is my dev env off of master (note it is built using conda-forge's python 3.8.12 and not our 'special' python 3.8.4):
[code]

[2021-11-04 04:08] joelvbernier commented on #1092
Ok -- to produce this, I did the following:

1. I had a session with a rotation series overlay selected for the [single GE instrument](https://github.com/HEXRD/examples/blob/master/NIST_ruby/single_GE/include/ge_detector.yml).
2. I had also loaded a GE imageseries and max aggregated it
3. I loaded into this session the reference tardis config, which produced the following exception:
[code]
4. whil

[2021-11-09 20:15] psavery commented on #1092
Hmm. I'm able to reproduce this on Linux. It is very odd. I guess that exception is putting some parts of the program in an invalid state. It looks like after that exception occurs, the button's connected function isn't being called at all. I don't know how/why the button would get disconnected.

Maybe we can try to prevent the exception? I can call `plane_data.getHKLs()` before trying to call `si

[2021-11-28 19:29] darrencpagan opened #1094 "Issue Saving Triclinic Material In GUI"
Tried saving the material below

![matl](https://user-images.githubusercontent.com/7535678/143782944-db8e9079-1479-43af-a795-91a0c49650e0.png)

and got the error stack:
[code]

[2021-11-29 20:30] psavery commented on #1094
Looks like this is something that needs to be fixed in `mksupport` @saransh13?

[2021-11-29 21:18] minety opened #1095 "Stitch many ff-HEDM layers together? & Calculate the Schmid factor/CRSS for certain slip system."
Hi Joel,

Question 1:
In ff-HEDM analysis, we normally have several-layer scans for a certain volume. How can I stitch them together with good alignment in terms of positions and orientations? I have some ideas in my mind, but I guess you may already have a solution (script) for that.

Question 2:
When we do RAMS in situ loading experiments, we may want to calculate the Schmid factors for individu

[2021-11-30 22:54] joelvbernier commented on #1095
Ok, so we have approaches for both; item 2) is very straightforward, and I will follow up in this thread with an example for HCP (⍺-Ti).  We have looked at several approaches for 1), and I can try and collect things that we've used in the past.  Generally, a misorientation threshold augmented by a cutoff in COM position is sufficient to stitch.  I'll try to follow up in a few days!

[2021-12-01 19:16] saransh13 commented on #1094
Looks like there are no reflection to save and that's why it's raising the error. The same set of lattice parameter gives me 3 reflections, so I don't know why there are no reflections in this case. I can do a check before writing, which should fix this particular issue.

[2021-12-01 21:31] minety commented on #1095
Thanks a lot, I just found it too hard for me to write the functions myself. Another function (item) that would be very helpful is in MTEX (MATLAB). I will open a new issue for the convenience of searching for other users.

[2021-12-01 21:48] minety opened #1096 "Pole figure (PF), inverse pole figure (IPF) color map and orientation distribution function (ODF) maps based on FF-HEDM data"
Hi Joel,

I'm using MTEX (MATLAB) right now for these types of texture analyses. But it would be very helpful to have it in python especially when working together with packages in hexrd.

Thanks a lot,
Tian

[2021-12-12 00:59] minety commented on #1095
For item 1, I found a script in your 2.7 version hexrd named stitch_grains.py.
[https://github.com/joelvbernier/hexrd/blob/master/scripts/stitch_grains.py](url)
But I found it was using the old material input file ".cpl". I haven't figured out a way to make it compatible with my materials.h5 file.

For item 2, I found another script in your folder to calculate crss (post_process_stress.py and gen_

[2021-12-13 19:52] joelvbernier commented on #1095
We are in the process of moving these utilities to the latest hexrd (with Darren Pagan’s help).

As for the old materials databases… the old ‘cpl’ files are cPickles, which are unfortunately not very portable; if you have a file you want converted h5, I can do that for you.

[2021-12-13 22:02] minety commented on #1095
@joelvbernier Thanks, I will wait for the update.

[2021-12-14 20:16] cjh1 opened #1099 "Add raw image series import"
@joelvbernier

[2021-12-14 20:20] cjh1 opened #1100 "Add support for serializing HEDM analysis"
This would include saving the analysis results in either "skinny" or "fat" format. The UI should detect if its a HEDM analysis a provide the user with the option to use each format. Note: The "fat" version can get large for lots of grains.

@joelvbernier

[2021-12-14 20:22] cjh1 opened #1101 "Use MPI to parallelize fit grains"
@joelvbernier

[2021-12-14 20:27] cjh1 commented on #1099
Should use ImageJ for inspiration.

[2021-12-15 16:20] psavery commented on #1100
We'll have to think through a few things about this. Currently, all of the HEDM "outputs" are being saved on the `IndexingRunner` and `FitGrainsRunner` classes found [here](https://github.com/HEXRD/hexrdgui/blob/master/hexrd/ui/indexing/run.py). A few things to do:

1. Determine which attributes set on those objects ([the output of fit_grains](https://github.com/HEXRD/hexrdgui/blob/023ef63fbd50250

[2021-12-17 23:27] joelvbernier opened #1102 "Scipy 1.7.3 issue on Windows 10"
Hi @psavery and @cjh1.  There is a hexrdgui user at UC Berkeley doing HEDM that ran into an error on startup after updating to the latest (as of today) conda packages.  I'll try to get the full stack trace for here, but essentially scipy 1.7.3 from conda-forge was throwing an error on import due to a missing dll.

Her system:
[code]

[2021-12-20 14:32] cjh1 commented on #1102
Is this the 0.8.14 release or a prerelease build? Stack trace could be great.

[2021-12-20 17:12] joelvbernier commented on #1102
Pre-release.  Complaining about a missing dll; can’t duplicate on my windows 11 system.

Sent from my iPhone

[2021-12-20 17:16] cjh1 commented on #1102
Ok, I will try in my machine. What conda command is the user issuing? The one in the readme?

[2021-12-20 18:01] joelvbernier commented on #1102
this:

[code]

[2021-12-20 18:12] joelvbernier commented on #1102
Also @cjh1, downgrading to scipy 1.6 from the main channel resolved the issue.  Might just be a wonky build on conda-forge?  I asked the student to build that test env to get a proper stack trace.

[2021-12-20 18:21] cjh1 commented on #1102
The invocation needs the label path, in my environment:

[code]

In an environment created with the above command on Window 10 Pro HEXRDGUI runs without a problem.

[2021-12-20 19:59] joelvbernier commented on #1102
realized my typo, sorry!

[2021-12-20 20:56] cjh1 commented on #1102
Note: The environment created for me includes `scipy-1.7.3-py38ha1292f7_0` and everything works fine. What conda version is being used?

[2021-12-20 21:19] cjh1 commented on #1101
This should probably be a HEXRD issue, but nevermind!

[2021-12-20 21:39] joelvbernier commented on #1102
must be something specific to her system.  Closing; will reopen if we see it again.

[2021-12-21 19:22] joelvbernier commented on #1102
Aha -- here is the stack trace Michelle is getting.  Repeatable upon installing the pre-release hexrd/hexrdgui

[code]

[2021-12-21 19:22] joelvbernier commented on #1102
Is she just missing gfortran?

[2021-12-21 19:39] cjh1 commented on #1102
@joelvbernier Can you ask Michelle to try setting `CONDA_DLL_SEARCH_MODIFICATION_ENABLE=1` before starting hexrdgui? `set CONDA_DLL_SEARCH_MODIFICATION_ENABLE=1`. Looks like we might be running into [this issue](https://github.com/scipy/scipy/issues/14002). Looks like our move to 3.9 might resolve the issue too.

[2021-12-21 19:45] joelvbernier commented on #1102
What is the prognosis on moving the 3.9?

[2021-12-21 19:57] joelvbernier commented on #1102
@cjh1 -- to be clear, you mean do:
[code]
in a PowerShell, yes?

[2021-12-21 20:03] cjh1 commented on #1102
@joelvbernier  Sorry, its not needed for the environment creation, just before she runs hexrdgui, not powdershell just regular command prompt.

[code]

[2021-12-23 21:08] joelvbernier opened #1107 "Fixes to existing calibration methods"
Hey @psavery -- I noticed that a few things were 'off' in the calibration, so I started a fix branch under PR #1106.

Testing so far looks good, but there are still a few things that need to be addressed:

- [x] The lattice parameter(s) are not getting updated on the material in the "fast powder" method even if they are flagged for refinement; it echos back the changed values, but that must be on

[2022-01-03 04:32] minety opened #1108 "Convert Quaternions into exponential map (FF-HEDM)"
I'm using hexomap (IceNine) for the NF-HEDM reconstruction.
I found much more grains in NF-HEDM than FF-HEDM (find-orientations), which was about 1.5-2 times including some grains even less than 10 um.
I'm trying to use these orientations obtained from NF-HEDM as seeding for the fit-grains process in hexrd, but found that there is no function available in rotations.py for converting quaternions (g

[2022-01-03 20:16] joelvbernier commented on #1108
@minety

You're are correct, this precise function doesn't exist, however, the pieces you need are in `hexrd.rotations`.

Observe:

[code]

I agree that we should wrap this into a utility function ASAP; I'll work on that.  Please verify that Hexomap uses the same crystal and sample frame definitions as IceNine.  Let me know if you have any trouble!

[2022-01-03 20:19] joelvbernier commented on #1107
@psavery -- let's try to connect on this before next week's meeting.

[2022-01-03 21:08] psavery commented on #1107
@joelvbernier Sounds good

[2022-01-04 19:23] joelvbernier commented on #1108
Also, regarding the number of grains...  there are 2 major factors that can lead to the nearfield finding more grains than the farfield:

1. when a line-focus beam is used in the near-field vs. a box in the far-field
2. when grains of similar orientation exist at different spatial locations in the illuminated volume

The former is a simple consequence of the limitations imposed by dynamic range on

[2022-01-04 21:09] joelvbernier commented on #1102
Bumping this -- that didn't fix the issue.

[2022-01-04 21:15] cjh1 commented on #1102
Ok, can we try that latest pre-release? Its now using Python 3.9. Which was also reported as another possible solution.

[2022-01-04 22:19] joelvbernier commented on #1095
Trying to bump up the priority on this task in the next few weeks...

[2022-01-06 05:23] minety commented on #1108
@joelvbernier Thanks, this helps.:)

I managed to calculate the exp maps from nf-hedm dataset, however, I got some problems exporting the grains.out files with the proper format fit-grains takes. The code I wrote is as follows:

f = open(os.path.join(output_dir, 'grains.out'), 'w')

header_items = (
     '# grain ID', 'completeness', 'chi^2',
     'exp_map_c[0]', 'exp_map_c[1]', 'exp_map_c[2]',

[2022-01-06 08:23] minety commented on #1108
Thank you, it helps a lot. I was able to use the nf-hedm dataset to seed the ff-hedm fit-grains.
I understand your point.   In my case, I can only find additional small grains that have been filtered out by a high threshold (I used 50, which is probably dbscan's limitation?) If I set a threshold of less than 50 on our HPC, it will take forever to find a solution for find-orientations. It normally

[2022-01-07 02:15] minety commented on #1096
I found that there is a texture.py in the hexrd folder which is related to IPF maps, could you show me an example of plotting IPF color with grains.out as input?
Thanks,

@joelvbernier

[2022-01-07 17:25] joelvbernier commented on #1108
Yeah, you have to be a bit careful not to give _too many_ points to dbscan, because it'll really bog down.  The indexing algorithm really works well for what I'd call "intermediate" size volumes; if there are many, many separated reflections, then it makes more sense to switch to searching a grid on orientation space.  There is a lot of experiential knowledge that comes into processing these data

[2022-01-07 18:34] joelvbernier commented on #1108
I think I will still [add a utility function to convert quaternions to exponential maps in hexrd](https://github.com/HEXRD/hexrd/issues/376).  Should be merged today.

[2022-01-07 18:34] #1108 closed

[2022-01-10 15:45] bnmajor opened #1114 "MacOS QPushButton alignment in QTreeView"
For some reason on the mac the styling is different than on other platforms and the `QPushButton` added in the tree view for the panel buffer is cut off:
![Screen Shot 2022-01-06 at 12 41 56 PM](https://user-images.githubusercontent.com/51238406/148792550-0a060a29-78cb-433f-ab0d-a9342a0644d2.png)

When comparing the mac to linux there seems to be some sort of margin set on the button or padding se

[2022-01-10 15:48] bnmajor commented on #1114
@joelvbernier Do have a preference on any of these solutions?

@psavery @cjh1 If either of you have found issues like this before and have any suggestions or see something I'm missing please let me know. I keep feeling like I'm overlooking something obvious but it may be that there is just no ideal solution here...

[2022-01-10 16:31] psavery commented on #1114
I'm hoping to take a closer look at this later today

[2022-01-10 18:41] joelvbernier commented on #1114
Ranked choice: 3, 2, 1

[2022-01-10 19:39] bnmajor commented on #1114
@psavery Yes, I did try that but never updated my screenshots here, sorry:
![styled_mac_button](https://user-images.githubusercontent.com/51238406/148828155-aade8361-9808-4b5b-ac42-17b1c953fb54.png)

So the mac styling is technically still not there but it certainly doesn't look as bad. @joelvbernier Does this change your opinion at all? Or should we still stick with option 3?

[2022-01-10 21:27] joelvbernier commented on #1114
There might be a few other places to apply this fix...

[2022-01-10 21:50] bnmajor commented on #1114
@joelvbernier If you come across some more let me know and I can add them onto the PR that I created. Otherwise we can always just add new fixes as the need arises.

[2022-01-10 21:54] joelvbernier opened #1116 "Warning dialog on GUI quit"
I think a worthwhile feature would be a warning dialog asking the user if they are sure they want to quit upon catching one of the various ways of sending the terminate signal to the GUI.  I have on more than one occasion killed the GUI accidentally (by an errant ctrl+q or otherwise...).

[2022-01-10 22:10] joelvbernier opened #1117 "the "chi" angle is displayed in radians while all other angles are displayed in degrees."
I just noticed this one.  The parameter `chi` on the instrument is an angle; we have made it so that the other angular values among the instrument parameters are displayed in the GUI as degrees...  we should do this for `chi` as well for consistency's sake.

[2022-01-10 22:29] psavery commented on #1114
By the way, it looks to me like the original Mac ones don't have much of a border, whereas ours has more of a border? But it doesn't matter too much.

[2022-01-10 23:05] #1114 closed

[2022-01-10 23:27] joelvbernier opened #1118 "Enrich refinements table with right-click menu mirroring instrument tree veiw"
Another enhancement -- would be great to recycle the same right-click menu we have set up in the instrument parameter tree view in the refinements widget.
<img width="558" alt="Screen Shot 2022-01-10 at 3 25 48 PM" src="https://user-images.githubusercontent.com/1154130/148854655-7bf978fb-989b-46c5-b3f7-373b7e353bfc.png">

[2022-01-11 04:45] joelvbernier opened #1119 "Sizing policy/layout of eta/ome widget needs fixing on Mac (esp with smaller display)"
On Mac OS 12, with a 3840x2160 display, the eta ome widget is a bit screwy.  In particular, the seed hkl slecetor is unusable (see below).  I am thinking we should take the panels on to and put them to the right, framing the graphics canvas?  It is too tall as is.
<img width="1330" alt="Screen Shot 2022-01-10 at 8 41 36 PM" src="https://user-images.githubusercontent.com/1154130/148882406-a711d738-

[2022-01-11 18:04] joelvbernier opened #1120 "Modify image scaling behavior"
To address some deficiencies in the image scaling behavior, I propose two modifications:

1. augment the existing "log scale" checkbox with a "scale image" checkbox with a selector containing the following scaling types:
    - square root
    - log
    - log-log-sqrt
2. Adopt the same behavior as ImageJ and change the behavior where the scaling actually modifies the displayed image values, which i

[2022-01-11 18:37] joelvbernier commented on #1120
**UPDATE**

It seems that ImageJ is just rescaling the scaled image to the original image's range:
![scaling_example](https://user-images.githubusercontent.com/1154130/149001217-9f2c2de0-fa64-4204-8cf7-d6a9396383ca.png)
[code]

[2022-01-11 18:55] psavery opened #1121 "Synchronize rotation series overlay tth width with the plane data's"
Similar to the powder overlays. Modifying the rotation series tth width will modify the plane data's, and vice versa.

[2022-01-11 19:26] psavery opened #1122 "Save unaggregated imageseries in state"
Currently, if the user aggregated the image series, when you save state, it doesn't save the unaggregated imageseries. We should save this as well, in addition to the aggregated one.

[2022-01-11 21:27] cjh1 opened #1123 "The order of the sliders in calibration crystal dialog should follow the Euler convention"
@joelvbernier

[2022-01-11 22:42] joelvbernier commented on #1122
Prehaps the model we should apply is to _always_ store the loaded imageseries _and_ separately save the currently displayed image?  Not sure if these are separate objects at this point?

[2022-01-11 22:44] joelvbernier commented on #1019
@saransh13 -- can we bump this up?

[2022-01-11 22:46] joelvbernier commented on #1019
linked with Issue https://github.com/HEXRD/hexrdgui/issues/1096 (@minety)

[2022-01-12 01:17] #983 closed

[2022-01-12 01:19] joelvbernier commented on #1025
No longer seems to be an issue with the current WPPF.

[2022-01-12 01:19] #1025 closed

[2022-01-12 01:21] joelvbernier commented on #1003
@psavery -- is this still something we need to fix?

[2022-01-12 01:53] #1002 closed

[2022-01-12 02:12] psavery opened #1124 "Add option to use previous refined crystal parameters for HEDM calibration"
This is in the case where repeated HEDM calibrations will be performed.

[2022-01-12 16:28] psavery commented on #1003
Yes it is

[2022-01-12 17:42] psavery commented on #1122
It looks like internally, the `HexrdConfig().imageseries_dict` object contains the unaggregated image series if no aggregation was performed, and `HexrdConfig().unagg_images` is `None`. But if aggregation was performed, `HexrdConfig().imageseries_dict` contains the aggregated image series (created by `hexrd.imageseries.open(None, 'array', data=array)`, and `HexrdConfig().unagg_images` contains the

[2022-01-12 18:36] psavery commented on #1123
I think this will consist of fixing up [this function](https://github.com/HEXRD/hexrdgui/blob/b6a2e1f5b4690e6eab7f8f9143bfadb45272f9dc/hexrd/ui/calibration_slider_widget.py#L279), and adding a similar function in the [CalibrationCrystalSliderWidget](https://github.com/HEXRD/hexrdgui/blob/b6a2e1f5b4690e6eab7f8f9143bfadb45272f9dc/hexrd/ui/calibration_crystal_slider_widget.py#L27).

[2022-01-12 21:23] psavery commented on #1102
@joelvbernier Is this now fixed as of the latest pre-release?

[2022-01-12 22:00] #1124 closed

[2022-01-12 22:03] #1117 closed

[2022-01-12 22:04] #1119 closed

[2022-01-12 23:29] joelvbernier commented on #1096
@minety -- If you just want to make discrete PF/IPF from a list of grains, that is straightforward.  Here is an example from a `grains.out` result from ff-HEDM (although you could do it from the spots tables as well...):
<img width="1112" alt="Screen Shot 2022-01-12 at 3 22 20 PM" src="https://user-images.githubusercontent.com/1154130/149238781-3283f2d7-0c06-4349-b83f-72c34a235233.png">

This exam

[2022-01-12 23:29] #1096 closed

[2022-01-12 23:38] joelvbernier commented on #1102
Yes!

[2022-01-18 18:58] joelvbernier opened #1131 "Add parameter bounds"
We need the enhance the existing tree view and refinements (also tree) view with upper and lower bound values for the refundable parameters.  I am working on updates to the fitting package in `hexrd` to accept bound constraints.  We also need to think about enriching the checkbox; perhaps we can replace the simple boolean with a selector so we can have the ability to do true, false, and input line

[2022-01-20 00:01] #510 closed

[2022-01-20 00:01] #1116 closed

[2022-01-21 00:47] psavery commented on #1131
I think this shouldn't be too hard with our refinements editor, as that was designed with this eventual change in mind. I'd also have to look into how we could have an extra option for the check box, though.

[2022-01-21 17:23] joelvbernier opened #1134 "Need to expose sample frame orientation specification in Laue overlay widget"
While a single orientation matrix is sufficient, often experimental setups have a non-trivial sample frame orientation in which we would want to write the crystal orientation (_i.e._, distinct from the lab frame).  There is a `rmat_s` kwarg in the simulator already; I'd like 3 QSpinBoxes to specify this rotation just as for the crystal.  Perhaps we can put that form in a "Sample Frame" tab or butt

[2022-01-21 18:44] joelvbernier opened #1135 "Graphics canvas resize on startup"
I noticed that when the GUI fires up that the image canvas is getting clipped -- like it is initially coming in with the wrong size.  If I toggle views, it resizes properly so I can see the axes.  Is there a way to force resizing?
![image](https://user-images.githubusercontent.com/1154130/150582775-d520994a-93c6-43c6-ba5a-3ac20e0495ca.png)

[2022-01-21 18:45] #1118 closed

[2022-01-21 19:48] psavery commented on #1135
@bnmajor A note on this: the first render is being called [here](https://github.com/HEXRD/hexrdgui/blob/5eb7a6f07ee4eefca925e53f48403db867edf690/hexrd/ui/main_window.py#L762-L764).

[2022-01-21 19:48] cjh1 opened #1136 "Add support for multithreaded image import"
Parallelizing across detectors would be a good start.

[2022-01-21 21:24] psavery commented on #1100
I am thinking to add two state classes as seen below. These contain some of the state that is currently being set on the runners. The runners will then set/get from the state objects, and we can add write/load functions to the state classes for serialization. We can also add more attributes to these classes for saving/loading as needed.

[code]

[2022-01-24 17:04] #1135 closed

[2022-01-24 17:46] #1134 closed

[2022-01-25 18:58] joelvbernier commented on #781
This was superceded by https://github.com/HEXRD/hexrdgui/pull/1113

[2022-01-25 18:58] #781 closed

[2022-01-25 19:01] joelvbernier commented on #878
Superceded by https://github.com/HEXRD/hexrdgui/issues/1120.

[2022-01-25 19:01] #878 closed

[2022-01-25 19:02] joelvbernier commented on #1120
I'll add a note that the scaling should be safe for invalid values, as mentioned in #878.

[2022-01-25 19:12] joelvbernier commented on #857
Now includes #1120

[2022-01-25 19:12] #857 closed

[2022-01-25 19:19] joelvbernier commented on #751
Perhaps raise the option to save the full unaggregated imageseries in a "fat" save?

[2022-01-25 20:17] joelvbernier commented on #1121
I think this was closed by https://github.com/HEXRD/hexrdgui/pull/1125, wasn't it @psavery?

[2022-01-25 20:19] psavery commented on #1121
No. This will be easier to implement once we have overlays as classes instead of dicts. That is making good progress, though.