[2019-06-19 13:03] psavery opened #7 "Live updates while modifying materials panel"
Currently, both the image and the rings have to be re-generated every time by pressing the "Run Calibration" button. It would be nice if we kept the background image cached and updated the rings live as the user modified their settings.

[2019-06-20 22:25] joelvbernier opened #13 "add environment spec"
Can we add a list of the current environment in which you are working?  Package dependencies etc...

[2019-07-03 12:35] psavery opened #18 "Error starting hexrd when in the `hexrdgui/hexrd/ui` directory"
This error only occurs if you start the hexrd gui in the `hexrdgui/hexrd/ui` directory. You get the following error:

[code]

[2019-07-03 18:07] cjh1 opened #20 "Rename calibration labels"
'Run Calibration' => 'Cartesian View'
'Run Polar Calibration' => 'Polar View'

[2019-07-03 18:09] cjh1 opened #21 "Resolution panel updates"
Cartesian resolution should have:
 - Pixel size
 - Display plane distance

Polar resolution should have:
 - Pixel size
 - Azimuth Pixel size

[2019-07-03 18:11] cjh1 opened #22 "Add the ability to toggle live update on and off"
Allow live updates as a user changes the calibration parameters, currently you have to re-run the calibration.

[2019-07-03 18:42] psavery opened #23 "More digits for materials dialog a, b, c"
In the materials dialog, Joel requested more sig figs to be added for `a`, `b`, and `c`. Maybe we should do 5 digits after the decimal?
![image](https://user-images.githubusercontent.com/9558430/60617000-b8119900-9da0-11e9-8353-b321c8ae7962.png)

[2019-07-03 18:47] psavery opened #24 "Allow reading images from HDF5 files"
Perhaps this should be designed to follow the layout from the [example they gave us](https://drive.google.com/open?id=1erB-pXaGfTi1u-PkQSly3E1iJrcW2YyF).

In that example, the images are in a single dataset in `imageseries/images`, and the first index of the dataset is the image number.

`h5py` is already a requirement for `hexrd`, so hopefully, it won't be too much to make it a requirement for `h

[2019-07-03 18:52] psavery opened #25 "Allow use of ImageSeries classes"
They mentioned today that we will eventually need to use the ImageSeries classes for handling the image data. In our current `hexrd` branch, it looks like there are [OmegaImageSeries](https://github.com/cryos/hexrd/blob/ddc394eff7902154b73e5251205b72f44be944c8/hexrd/imageseries/omega.py#L11) and [ProcessedImageSeries](https://github.com/cryos/hexrd/blob/ddc394eff7902154b73e5251205b72f44be944c8/hex

[2019-07-03 18:57] psavery opened #26 "Add options for whether calibration params are refinable"
Joel mentioned that we need to add options/checkboxes for whether instrument calibration parameters are refinable or not. We discussed that it might be best to add a column to the tree view for this, but not to add checkboxes to the form view.

He provided this image from Maud as an exmaple:
![image](https://user-images.githubusercontent.com/9558430/60617878-b052f400-9da2-11e9-9e9e-01bffa1309a9.pn

[2019-07-03 18:59] psavery opened #27 "Add image processing panel"
In the image processing panel, there should be options for modifying the images by doing things such as dark subtraction and flipping.

[2019-07-03 19:27] psavery opened #28 "Add axes labels for Cartesian calibration"
I guess the units are `mm/pixel_size`.

Indeed, if you change the `pixel_size`, it changes the x and y numbers.

[2019-07-03 19:32] psavery opened #29 "Maybe connect `show ranges` spinbox with `planeData.tThWidth`"
The `show ranges` spinbox currently appears to work properly for updating the GUI.

However, there is a possibility that we may need to hook it up to the active material's `planeData.tThWidth` value, so that when we modify the spin box, it modifies the `planeData.tThWidth` value of the active material. And, if you change the active material, it will update the value in the spin box.

I am not sure

[2019-07-03 20:00] psavery opened #31 "Single Crystal Calibration"
We need to receive a single crystal example first, but we will need to make the calibrations work for single crystal data as well.

For single crystal data, the overlays will be dots instead of rings.

[2019-07-03 20:01] psavery opened #32 "Calibration Optimization Panel"
We need to wait for more info (and possibly an example) from Joel, but we soon need to add a panel with options for doing calibration optimization.

[2019-07-03 20:03] psavery opened #33 "Add Check to See if Cartesian Calibration is Feasible"
Sometimes, only polar calibrations will be able to be performed. Add in a validation check to make sure cartesian calibrations can be done before doing it.

It is considered feasible to do a cartesian calibration if the dot product of detector normals is less than 120 degrees or so.

[2019-07-03 20:08] psavery opened #34 "Add `Default View` Button to Display Images"
This is to return to an image view after looking at a calibration.

[2019-07-03 22:27] joelvbernier opened #35 "colormap range spin controls have strange value limits"
I just noticed that I cannot enter an abritrary value in the min/max spin controllers (like 100 - 10000).  Are these just limits set on the widgets?  In general we look at int type images, so a full int32 range catches all possibilities.  What if we have 4-byte float images?

[2019-07-03 22:38] joelvbernier opened #36 "Expand/Collapse all toggles for configuration tree view"
Is there an option/widget that allows for the expansion/collapsing of sub-trees or the whole tree?

[2019-07-03 22:42] joelvbernier opened #37 "Fairly repeatable segfault when using spin controllers"
See below:

/Users/joel/miniconda2/envs/hexrdgui/lib/python3.7/site-packages/skimage/util/dtype.py:135: UserWarning: Possible precision loss when converting from float64 to uint16
  .format(dtypeobj_in, dtypeobj_out))
Segmentation fault: 11

Is there another log that would be more helpful to grab?  This has happened a few times when trying to update the cartesian view after changing a controller v

[2019-07-03 22:59] joelvbernier opened #38 "spin controllers in calibration form view not changing assignment with "active" detector"
It seems like the spin controllers are stuck modifying whatever panel was first modified, not the detector that is currently selected in the detector parameters (i.e. the "active" detector).

[2019-07-03 23:07] #7 closed, assigned to nobody

[2019-07-03 23:08] #13 closed, assigned to psavery

[2019-07-03 23:08] #18 closed, assigned to nobody

[2019-07-04 12:32] #20 closed, assigned to nobody

[2019-07-04 12:34] #38 closed, assigned to cryos, psavery

[2019-07-04 12:42] psavery opened #40 "Select Multiple Rows in Materials Panel"
In the materials panel, rows can be selected or de-selected by clicking on them individually. We should add a way to select multiple rows at once by doing things such as shift-clicking.

![materials-panel](https://user-images.githubusercontent.com/9558430/60667408-7849c080-9e37-11e9-8166-900d4c3a3ccf.png)

[2019-07-05 12:28] #34 closed, assigned to nobody

[2019-07-08 16:18] #23 closed, assigned to bnmajor

[2019-07-08 16:19] #40 closed, assigned to bnmajor

[2019-07-17 19:35] cjh1 opened #49 "Add dialog to select path the load data from when loading a HDF5 file"

[2019-07-17 19:36] cjh1 opened #50 "When loading an image series the user needs to be able to select and offset number of frame."
There are actually three options that we want:

- offset
- max frames
- max total frames?

[2019-07-17 19:38] cjh1 opened #51 "Add ability browse through image series"
May be with a slider.

[2019-07-17 19:38] #36 closed, assigned to cryos, bnmajor

[2019-07-17 19:42] cjh1 opened #52 "Add transformation controls for detector images"
@donald-e-boyce Will provide the options we want to support.

[2019-07-17 19:44] cjh1 opened #53 "Add the ability to export image series"
HDF5 and npz

[2019-07-17 19:45] cjh1 opened #54 "Add dialog to allow user to generate angles"
@joelvbernier Will provide script that demonstrates the code we can call to this.

[2019-07-24 19:18] donald-e-boyce opened #57 "GUI stopped working after git pull"
During my terminal session today, I ran hexrd and the GUI came up (complained a little) and worked. Shortly after, I ran a git pull on the hexrd repository; it brought things up to date. Then when I tried to run hexrd again, I just got an error message and nothing came up. I am attaching output of those three commands by command number on terminal: 1009 - run hexrd; 1016 - git pull; 1029 - run hex

[2019-07-25 18:11] joelvbernier opened #61 "collections.abc deprecation warning"
I've seen the following warning pop up, and it would probably be good to address it sooner than later:

`/Users/bernier2/miniconda3/lib/python3.7/site-packages/pywt/_utils.py:6: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Iterable`

[2019-07-25 19:46] cryos opened #62 "Goals for first beam time in August"
Calibration on single images
 * Lines (rings) from single crystal monochromatic
 * Laue pattern from polychromatic beam

Calibration on a series of images
 * Rotation series of a single crystal
 * Rotation series of polycrystal

Minimum viable product for the first beam allocation:
- [x] Space to specify dark field from an image file
- [x] If you have an image series with more than one image, auto

[2019-07-29 12:22] #22 closed, assigned to nobody

[2019-07-29 17:46] #26 closed, assigned to bnmajor

[2019-07-30 19:48] joelvbernier opened #69 "Mapping of detetor tilt parameters"
In working with the calibration module, I realized that the matrix invariants (axis scaled by rotation angle) used for the tilt degrees of freedom in the latest version of hexrd _is not_ a great set of DOF for the user to interact with.  The exponential map is computationally expedient and non-singular, but it will be much, much better to expose a set of Euler angles to the user through the GUI in

[2019-07-31 14:49] cjh1 opened #71 "When load images from HDF5 the cancel button doesn't cancel the loading"
When you are asked to select a path in the HDF5 and you hit cancel, it still moves on to try and load the file anyway.

[2019-07-31 15:56] #71 closed, assigned to nobody

[2019-07-31 20:23] #49 closed, assigned to nobody

[2019-07-31 20:24] #24 closed, assigned to nobody

[2019-07-31 20:26] #21 closed, assigned to nobody

[2019-07-31 20:27] #57 closed, assigned to nobody

[2019-08-01 12:31] cjh1 opened #73 "Interactor to provide aggregation for median or max through the image stack (from stats, in wx GUI under frame aggregation - single frames, max or median)"

[2019-08-01 12:51] cjh1 opened #74 "Ability to export image series in npz and hdf5"

[2019-08-01 12:51] #74 closed, assigned to psavery

[2019-08-01 12:52] #27 closed, assigned to bnmajor

[2019-08-01 12:53] #25 closed, assigned to nobody

[2019-08-01 12:54] #50 closed, assigned to nobody

[2019-08-01 12:55] #51 closed, assigned to nobody

[2019-08-01 12:56] #52 closed, assigned to nobody

[2019-08-01 14:31] psavery opened #75 "Subplots resize on update"
For some reason, when in a subplot view of images, if any updates are performed, the subplots move slightly closer together. It looks like they are approaching some kind of minimum combined size.

It's not really a big issue, but it should perhaps be fixed at some point.

[2019-08-01 14:36] psavery opened #76 "Always store images in imageseries"
For single images, we currently just store the data, but for multiple images, we store them in an imageseries.

It will be nice if we always store images in an imageseries, even when there is just one image, so we can use features such as image processing on single images.

This will also help with #53 for single images.

[2019-08-01 17:55] #61 closed, assigned to cryos, cjh1, psavery, bnmajor

[2019-08-01 20:57] cjh1 opened #80 "Add status values to instrument config"

[2019-08-01 21:38] #53 closed, assigned to psavery

[2019-08-01 23:28] psavery opened #82 "Cartesian and Polar Calibrations Not Working"
After #79, the cartesian and polar calibrations are no longer working, probably because some instrument configuration settings have changed, and they need to be updated.

For the cartesian calibration, this is the error we currently see:
[code]

The polar calibration produces a similar error.

[2019-08-02 00:39] #82 closed, assigned to nobody

[2019-08-02 17:04] psavery opened #89 "Move Calibration Crystal Widgets out of Instrument Calibration"
At some point, these options should be moved out of the instrument calibration and put somewhere else. They are only really used for single crystals, so they should be an option specifically for single crystal calibration. Perhaps it can be a menu item (such as `Edit`->`Calibration Crystal`) or a pop-up for doing single crystal calibration.

Changes requested by @joelvbernier

[2019-08-02 17:12] psavery opened #90 "Changes to Distortion widgets in Instrument Calibration"
We should add a "None" option to the "Function" combo box list, as sometimes there will be no distortion functions for the detector.

Also, different functions use different numbers of parameters. The `GE_41RT` uses 6 parameters, and a new one that will be added next week uses 8 parameters.

Perhaps we should remove the parameter widgets and put a "Configure" button, which pops up a dialog, and th

[2019-08-02 17:33] psavery opened #91 "Allow user to specify tilt angle convention"
Add options somewhere to modify the tilt angle conventions that the instrument calibration widgets are using. Perhaps under the `Edit` menu, or in the instrument calibration widget itself.

[This class](https://github.com/joelvbernier/hexrd3/blob/716e482eb31a64f364a48026f89f71762c1798fa/hexrd/rotations.py#L826) is used to cast the detector rotation matrix to Euler angles. The default convention th

[2019-08-02 19:57] joelvbernier opened #92 "Overlay manager"
Can we promote the panel for the ring overlays to a separate manager ("overlay manager") that will provide the ability to add overlays from multiple materials?  Looking forward, there will be 2 additional overlay types I can envision using:

- single crystal Laue patterns; and
- single crystal rotation series.

in addition to the polycrysal ("powder") rings.  The single crystal overlay types will

[2019-08-05 12:18] cjh1 opened #94 "Add calibration manager"
From Joel "I am imagining a "calibration manager" in which we can build the calibration workflow from individual components; for starters, we'll just have calibration by powder patterns (rings), but it would be nice to build a calibration system from 1 or more materials.  The process takes an instrument class, and a list of materials classes.  There are a few other parameters in the problem (tth b

[2019-08-06 18:14] #91 closed, assigned to nobody

[2019-08-06 18:58] #69 closed, assigned to cryos, cjh1, psavery, bnmajor

[2019-08-06 18:59] #80 closed, assigned to nobody

[2019-08-06 19:01] #73 closed, assigned to bnmajor

[2019-08-07 11:38] psavery opened #100 "Detector tilt angles are in radians"
Even though a degree symbol is shown in the "Form View", it appears that the detector tilt angles are in radians. We should perhaps ensure that a conversion happens, or just remove the degree symbol and use radians.

[2019-08-07 16:42] joelvbernier opened #103 "bug in toggling between polar and cartesian views"
Found this bug when toggling back and forth between polar and cartesian views

[code]

[2019-08-07 16:44] joelvbernier opened #104 "Rings overlay not displayed after toggling off"
After toggling the rings display off, it would not return.  Mac OS 10.14.5, python 3.7.3

[2019-08-07 18:57] #76 closed, assigned to psavery

[2019-08-07 22:42] joelvbernier opened #106 "Form view is not updating in sync with the Tree View in calibration panel"
Just noticed that the form view is not updating when loading an instrument config file.

[2019-08-07 22:49] joelvbernier opened #107 "Setting active reflections (rings) in materials pane"
we would like to be able to have the user select the active rings they want from the displayed list by two methods:

1. Using the mouse (ctrl and shft click)
2. By specifying a maximum bragg angle
3. By specifying a minimum d-spacing

The PlaneData class has an "exclusions" attr that is a boolean mask to select a subset of the complete list of generated reflections (as specified currently by the m

[2019-08-08 17:32] #54 closed, assigned to bnmajor

[2019-08-08 17:34] #100 closed, assigned to nobody

[2019-08-09 04:03] joelvbernier opened #109 "calibration resolution"
Can we rename this "rendering resolution"?

"Calibration" refers only to the optimization problem.

Also, we need the following

- Cartesian tab
  - add box for virtual plane distance
  - optionally add interactor to define the plane normal
- Polar tab
  - add interactors for min and max 2theta values for the rendering (they are hard-coded now I believe).  azimuthal range will default to full 360

[2019-08-09 14:12] #62 closed, assigned to nobody

[2019-08-09 14:14] cryos opened #112 "Open folder of GE files, use fabio from Git"
APS is currently creating a directory per detector, with individual files for each frame. They also changed the header, so we need to run with a forked fabio that has fixes to address changes to headers. Tracking this issue so that the GUI can create image series from these binary folders.

[2019-08-10 17:12] joelvbernier opened #122 "Add azimuthal integration axes to polar view"
We would like to add a set of axes (shared abcissa,  2θ) under the polar view that displays the azimuthal integral (_i.e._ `ax.plot(tth, np.sum(polar_image, axes=0)`).  The aspect ratio (h:w) can be smaller than the poalr image itself.  It should also display the 2θ lines/ranges like the image.  I've attached an example below
![Screen Shot 2019-05-17 at 4 38 16 PM](https://user-images.githubuserco

[2019-08-10 21:38] cryos opened #127 "Keep the state of the tree view collapsed state"
When switching to/from the tree view we should retain the expand/collapse state. Ideally that dialog should be fully persistent.

[2019-08-10 21:57] cryos opened #128 "Avoid rescaling plots"
During calibration you often want to focus on a part of the plot, it is important to avoid rescaling when the detector is translated etc and an updated image is rendered.

[2019-08-11 18:42] #122 closed, assigned to nobody

[2019-08-11 20:07] cryos opened #132 "Changing image modes dock widget (was resolution)"
Change rendering resolution dock widget to image mode widget. Have three tabs, raw, Cartesian, and polar. Changing the tab would change form raw to Cartesian, etc. Move the tabbed view tick box, and the show saturation to the raw which is where they would be used. Then remove the buttons from the bottom of the configuration pane.

[2019-08-11 20:08] cryos opened #133 "Redraw the Cartesian and rings when loading new instrument"
If we load a new instrument config the Cartesian view (if active) should be replotted.

[2019-08-11 21:05] cryos opened #134 "Use the status bar to update positions on matplotlib and show status"
Matplotlib should be used to show cursor positions and intensity values when over the plots. We should also be sending status messages there when we start and finish operations.

[2019-08-12 13:44] cryos opened #136 "Use 2 theta range to set x axis limits on polar plot"
We already specify the 2 theta range, we should use that to set the axis range too in order to avoid wasting space.

[2019-08-12 13:47] cryos opened #137 "Expand/collapse all should be context specific"
The tree view expands all/collapses all without taking account of location in the tree, check all/uncheck all does take account. The expand/collapse all should be for the location in the tree and everything below as check/uncheck all are.

[2019-08-12 13:49] cryos opened #138 "Add Conda recipe"
We should investigate adding a conda recipe to complement our pip-based recipe. Many people in science user/prefer conda, this is what is used at the APS beamline for example.

[2019-08-13 18:36] #136 closed, assigned to psavery

[2019-08-13 18:36] #133 closed, assigned to nobody

[2019-08-13 19:27] #29 closed, assigned to psavery

[2019-08-13 20:38] #128 closed, assigned to nobody

[2019-08-14 17:41] #75 closed, assigned to nobody

[2019-08-14 17:43] #35 closed, assigned to nobody

[2019-08-14 17:44] #103 closed, assigned to nobody

[2019-08-14 17:46] #104 closed, assigned to nobody

[2019-08-14 18:29] #112 closed, assigned to psavery

[2019-08-15 13:19] cryos opened #147 "Don't throw exceptions on missing values in YAML"
We need to be a little more resilient when loading configurations. The calibration crystal is going away, but in general we should add some code paths to set default values for required values if missing rather than throwing an exception. Example:
[code]

[2019-08-15 13:31] cryos opened #148 "TypeError when restoring tree view"
This seems to happen repeatedly for me, I open hexrd, close it, open it again and see:
[code]
I think we need a check for `None` somewhere in case I never interacted with the tree. I need to remove the config file to start up again.

[2019-08-15 13:45] cryos opened #149 "Redesign the file loading workflow"
The screenshot below shows the previous design:
![Screen Shot 2019-08-09 at 11 31 43 AM](https://user-images.githubusercontent.com/42214/63098448-f920cf80-bf40-11e9-9cc5-eba3205292b3.png)
I worked on this while at APS, and have pushed a load-panel branch with the beginnings of a condensed form of the load panel. We need to refactor our dialogs, and prepare to merge them into this panel. The overal

[2019-08-15 13:46] #127 closed, assigned to bnmajor

[2019-08-15 19:02] #134 closed, assigned to psavery

[2019-08-15 19:03] #148 closed, assigned to bnmajor

[2019-08-15 19:03] #137 closed, assigned to bnmajor

[2019-08-20 14:16] #89 closed, assigned to psavery

[2019-08-20 14:16] #147 closed, assigned to nobody

[2019-08-20 18:03] #132 closed, assigned to nobody

[2019-08-27 16:50] joelvbernier opened #158 "GUI crashing randomly on Mac OS 10.14.6 (2.2 GHz Intel Core i7)"
There were first the troubling segfaults seemingly coming from PySide2, but I have a new one:

``Bus error: 10``

got this after playing with the interactors in the polar mode (tth ranges).

Also, the segfaulting behavior is still there, rendering the GUI essentially unusable on mac OS.  Perhaps we need to find build versions of Qy and PySide2 that behave better on the Mac?

Again, this happens wi

[2019-08-27 20:14] joelvbernier opened #159 "show ranges doesn't work without show rings toggled"
show ranges doesn't work independently of show rings -- specifically nothing happens if show rings is not toggled.

[2019-08-27 21:10] joelvbernier opened #160 "Min/max colormap boxes don't update after "reset range" button"
...until you refocus

[2019-08-28 12:09] #159 closed, assigned to nobody

[2019-08-28 22:42] joelvbernier opened #163 "Image borders for cartesian and polar views"
Need to export detector boundary separately for these views with a toggle for display.  Requires additional output from rendering code.

[2019-08-30 20:56] psavery opened #167 "Scientific spin box arrows not emitting "valueChanged""
It does not look like the distortion parameters in the "Form View" are updating the internal config when the arrows are clicked. It looks like it might be because they are scientific spin boxes, and they don't appear to be emitting "valueChanged".

The internal config gets updated fine when the spinbox text is edited itself.

I can look into this.

[2019-09-03 12:59] #167 closed, assigned to psavery

[2019-09-06 18:46] #106 closed, assigned to cjh1, psavery

[2019-09-09 22:07] joelvbernier opened #170 "TypeError in calibration_config_widget.py"
upon latest pull, gui dies on startup with:

[code]

[2019-09-17 21:20] joelvbernier opened #173 "ring overlays "show ranges" not tied to the selected hkls"
the show rings is ok, but the ranges get drawn for the full set, not the selected subset.

![Screen Shot 2019-09-17 at 2 19 22 PM](https://user-images.githubusercontent.com/1154130/65080444-2ef90f80-d956-11e9-9940-b8b84c6d72f4.png)

[2019-09-18 17:37] #173 closed, assigned to cryos, psavery

[2019-09-18 18:33] #109 closed, assigned to nobody

[2019-09-19 07:07] #170 closed, assigned to nobody

[2019-09-19 07:59] joelvbernier opened #177 "Tilt conversion is broken"
Just noticed that this is not working properly -- more to follow.

[2019-09-20 14:08] #158 closed, assigned to cryos, cjh1, psavery, bnmajor

[2019-10-08 00:55] joelvbernier opened #182 "Add option to apply snip1d background subtraction to polar view"
I just added a new module to hexrd3: [https://github.com/joelvbernier/hexrd3/blob/master/hexrd/imageutil.py](url)

I would like the option to apply the routine `snip1d` to the polar view with a checkbox.  There should also be interactors for the 'w' (kernel width) and 'numiter' (number of iterations) kwargs.  The former is an input in *pixels*, but the interactor should be in *degrees*, using the

[2019-10-08 01:43] #37 closed, assigned to cryos, cjh1, psavery, bnmajor

[2019-10-08 19:57] #32 closed, assigned to nobody

[2019-10-08 19:59] #138 closed, assigned to cjh1

[2019-10-10 23:59] joelvbernier opened #184 "Log scale not applied to polar view"
has no effect on this polar image -- I removed the log scaling that was inside polarview; would be nice to toggle on/off in the GUI

[2019-10-11 15:43] #182 closed, assigned to cryos, psavery

[2019-10-11 15:45] #149 closed, assigned to bnmajor

[2019-10-11 17:57] cryos opened #185 "Packages for installing/running as an application"
We need to get downloadable installers working, with the goal of offering a simple download where a user gets the complete HEXRD GUI. We are looking at a Conda-based approach coupled with CPack to generate the installers

- [x] Linux
- [x] macOS
- [x] Windows

Additionally, once open source release permission is obtained we should add the package to conda so that anyone can conda install the GUI i

[2019-10-18 14:37] psavery opened #188 "Add dock icon"
This is probably not urgent, but it might be nice to add a dock icon at some point. The current one on Ubuntu looks like this.

![Screenshot from 2019-10-18 10-35-08](https://user-images.githubusercontent.com/9558430/67103492-3ac53500-f193-11e9-814a-998bb3be5163.png)

[2019-10-22 19:24] cjh1 opened #191 "Move 'Update material' dialog to the bottom half of the materials panel."
The idea here is that the user should be able to update the materials and see live updates.

[2019-10-22 19:28] cjh1 opened #192 "Showing raw image view but the polar view is the selected option"
@joelvbernier How do you get into this state?

[2019-10-22 19:29] cjh1 opened #193 "Add the ability to reset to the loaded configuration"
This would probably be added to the slider view.

[2019-10-22 19:31] cjh1 opened #194 "Add sliders for energy, azimuth and polar"

[2019-10-22 19:32] cjh1 opened #195 "Add ability to draw mask to zero out bright areas"
this would be in the polar view.

[2019-10-22 19:33] cjh1 opened #196 "Resetting the range doesn't force a render"

[2019-10-22 19:34] cjh1 opened #197 "Remove the erosion option"
it doesn't work well ...

[2019-10-22 19:35] cjh1 opened #198 "Add the ability to generate a mask based on a threshold"
This would be in the raw view.

[2019-10-22 19:36] cjh1 opened #199 "Add the ability to export the polar plot in npz format"
@joelvbernier has some code we could use for this.

[2019-10-25 23:09] joelvbernier opened #201 "Modifying tilt in Slider view makes value disappear in tree view"
It also looks like it is coming back as an array object instead of a float, as evidenced by the saved yaml configuration.  This might be why there is an error casting to the tree view?

[2019-10-28 14:55] #194 closed, assigned to psavery

[2019-10-28 14:56] #197 closed, assigned to psavery

[2019-10-28 14:57] #28 closed, assigned to psavery

[2019-10-28 15:23] #199 closed, assigned to psavery

[2019-10-28 15:36] #201 closed, assigned to psavery

[2019-10-28 15:59] psavery opened #204 ""Show snip1d" only allows custom colormap on first button press"
If you press the button a second time, it always uses the default colormap, and the user cannot customize it.

[2019-10-28 16:23] psavery opened #205 "Large beam energy changes cause errors for other slider widgets"
In the slider widget, if you change the energy of the beam by a lot, the modifying the tilt and translation slider widgets result in an error similar to this:

[code]

The problem goes away if a re-render of the whole image is forced.

[2019-10-31 17:57] joelvbernier opened #209 "User picked calibration option"
Ok -- I have some skeleton code for a simple, fast powder calibration mode based on user-picked points.  Here we go:

`fig` and `ax` are the polar view plot

First my line-based picker class:
[code]
Now for the code that needs to be called when we start the picker process, *e.g.* from a button signal

[code]
and this is what adding a ring looks like:
[code]
for example, first line:
![Screen Shot 2

[2019-11-04 15:11] #185 closed, assigned to nobody

[2019-11-05 18:19] #192 closed, assigned to nobody

[2019-11-06 23:16] #177 closed, assigned to cryos, cjh1, donald-e-boyce, joelvbernier, psavery, bnmajor

[2019-11-08 14:29] #193 closed, assigned to psavery

[2019-11-14 21:23] #191 closed, assigned to cryos, cjh1, joelvbernier, psavery

[2020-01-14 02:33] joelvbernier opened #216 "Open Imageseries does not recognize all imageseries input format"
Need to add adaptors for "image-files" yaml spec and "frame-cache" (i.e. .npz) imageseries in addition to HDF5 format.  Refer to Don's [wiki](https://github.com/donald-e-boyce/hexrd/wiki/ims-load-options) for usage

[2020-01-20 15:41] cryos commented on #216
Can you confirm that this works @bnmajor? Thanks.

[2020-01-20 17:05] bnmajor commented on #216
At this point the load panel seems to handle all file types for me. I was able to load `hdf5`, `yaml`, `tiff`, and `npz` images. I did also document the load panel in more detail in the original PR #156 in case that is useful.

Currently the `APS Imageseries` option for opening files allows the user to select a directory and then all images within that directory are used to create an `image-files`

[2020-01-20 19:58] cryos commented on #216
I think you mean does not here

[2020-01-20 20:02] bnmajor commented on #216
@cryos You are correct, thank you for catching that.

[2020-01-21 14:31] psavery commented on #92
@joelvbernier Hi Joel. For some clarification here, do we want to keep the materials options inside the panel, or move it somewhere else?

I was thinking that if we keep it in the panel, we could perhaps add another table above the hkl table (see below), and the new table would contain the list of materials. The user could add, modify, or delete materials. The hkl table and space group info would

[2020-01-22 07:07] joelvbernier commented on #216
yes, confirmed.  I do think, however, that the APS ImageSeries directory munging import should somehow be worked into the directory selection ("change image folder") button on the load dialog.

[2020-01-22 07:16] joelvbernier opened #219 "Detector selector doesn't update upon instrument config (re)load"
The detector id list dosn't refresh upon loading a new instrument config.  Also, I'm confused about the usage; does it auto-detect the detector association using pattern matching (like the raw image load), or do you select each imageseries file for each detector?
![Screenshot 2020-01-21 23 11 28](https://user-images.githubusercontent.com/1154130/72873162-f373a680-3ca3-11ea-9896-a8932ce90bfc.png)

[2020-01-22 07:38] joelvbernier commented on #219
update:  it does refresh upon quitting and restarting the app, just not when loading a new instrument config file.

[2020-01-23 00:23] #195 closed

[2020-01-23 00:23] #209 closed

[2020-01-23 14:05] bnmajor commented on #219
#220 addresses the first part of this problem. When a new configuration file is uploaded, the detector names are updated in the load panel and the file table is reset.

Should the currently loaded images (if any) be cleared as well to avoid confusion? Also the table is always cleared after a new configuration file is loaded - is this correct, or should this only happen if the name and/or number of

[2020-01-23 14:08] bnmajor commented on #219
To address usage:
To select an `imageseries` where all files are located in one directory you only need to select one of each of the files and it will use pattern matching to find the equivalent files for each remaining detector. When using sub-directories for each detector, you will select all of the needed files for a single detector and again, pattern matching will be used to look in the remain

[2020-01-23 14:10] bnmajor commented on #216
To the best of my knowledge there is no way to edit the actual file dialog to request directory data munging, but this could be handled with a 'Use APS Imageseries' (or differently worded) checkbox that would disable the `Select Image Files`. This could use existing logic to look for sibling directories like `Use Subdirectories` does, assuming each directory would have the name of the relevant det

[2020-01-23 16:13] psavery commented on #92
I think another potentially simpler option that I might go with is to just add a checkbox at the bottom that says `Show All Materials`, and when it is checked, it will show overlays of all the materials in hexrd. The user will be able to edit the styles of each material individually. And, in the future, we will add options for the different materials to have a type (options for types would be some

[2020-01-27 22:33] darrencpagan opened #223 "Load data interface doesn't allow for different detector-specific options"
In general the image transforms and dark mode options for each detector can be different.  The current interface doesn't allow for this.

[2020-01-27 22:43] joelvbernier commented on #223
PS -- I submitted this logged in as Darren.

[2020-01-28 15:42] cryos commented on #223
Is there a real example we can work on where there are different detectors? It will complicate the code, and we will have to look at where we made these assumptions but I am sure we can work to generalize things.

[2020-01-28 18:08] bnmajor commented on #216
@joelvbernier I think I've got this working, just need to know if selecting directories should be manual for each detector, follow the sub-directories pattern of assuming the directories are siblings and named for their respective detector, or both (manually select unless `Use Subdirectories` is checked, then assume location and directory names).

[2020-01-29 20:43] cryos opened #225 "Current index in the series should be reset to zero on file load"
There may be other places too, but the index is retained. I.e. we load a series, look at image 20, then load a file containing two frames, and we get a failure shown in the console. We should be resetting to 0 and setting the range to 0. We probably need to assure the application is in a reasonable state when loading a new file as we don't know how many images are in the sequence until they are lo

[2020-01-31 17:38] psavery opened #234 "Clear saturation text when loading new images"
The saturation text needs to be cleared when reloading images or loading new images.

[2020-01-31 19:17] psavery opened #235 "Update PlaneData's tThMax with materials panel limits"
@joelvbernier Do we want the max Bragg angle and the min d spacing options in the materials panel to update the tThMax for all materials, or just the currently selected material?

[2020-01-31 19:47] psavery commented on #235
I set it up so that each material has it's own tThMax. Let me know if I should change it.

[2020-02-03 17:17] cryos commented on #163
This is working, I want @joelvbernier to verify it works as he wants before closing the issue out.

[2020-02-03 17:36] psavery opened #237 "Use plane data exclusions for ring selections"
Have the ring selections in the materials panel use and be synced up with the plane data exclusions. This makes it so that ring selection also affects the rings used in calibration.

[2020-02-03 18:02] psavery commented on #107
As of #236, the materials now default to selecting the first 5 rings when they are modified. When a material is added, it has the same exclusions as the previously selected material (from which it was copied).

With regard to my comment above, #236 now also makes it so that the rings that are selected in the materials panel are the ones that are used during calibration.

[2020-02-03 19:36] psavery opened #239 "Add progress updates to some of the progress bars"
I am not sure which ones we should target. Maybe @joelvbernier or @cryos can specify?

Here is a probable strategy that we can follow for doing this:
1. Pass in a progress function to the [call in AsyncWorker](https://github.com/HEXRD/hexrdgui/blob/c53dc0d19819f156edc609eb6356b70e4a052442/hexrd/ui/async_worker.py#L71). This function will take an integer between 0 and 100, which indicates the progr

[2020-02-03 19:40] psavery opened #240 "Display dummy images when no images are loaded"
These dummy images will have shapes matching the specification in the current instrument config.

[2020-02-03 19:43] cryos commented on #239
Our main goal is to have updates for the aggregation functions - they can take five minutes on a typical data set. We thought the async worker could call a function that does perhaps 1/50th of the work, returns, we update the progress bar, and then call to do 2/50 until complete.

[2020-02-03 19:44] psavery opened #241 "Export polar image data to HDF5 file"
Add an option to export the numpy array data of the polar images to an HDF5 file. We can also write out the axis values (intensity and 2-theta) to the file.

[2020-02-03 19:48] psavery opened #242 "Two-click mode for Calibration Line Picker"
Add an option in the calibration line picker for a two-click mode, in which you click once on the main image, then it locks the position of the zoom canvas, and then you click a second time in the zoomed canvas. This allows for finer point picking.

[2020-02-03 20:09] psavery opened #243 "Keep un-aggregated images in memory"
Currently, the un-aggregated images appear to be over-written by the aggregated images. Keep the un-aggregated images in memory so they can be viewed and/or saved.

[2020-02-03 20:24] psavery commented on #163
Yeah, so I think this is indeed working. However, it currently works by editing the image, rather than drawing an extra plot on top of the image (as is done for the overlays). This makes it so that the azimuthal integration in the polar plot is affected by the borders. I'm wondering if we should get it to start drawing an extra plot on top of the image instead of modifying the image.

[2020-02-03 20:41] psavery opened #244 "Modify number of images when loading a new config"
Currently, if the user tries to load a new config while there are already images loaded, and the number of detectors in the new config doesn't match the number of images already loaded, an error is produced.

Rather than producing an error, we should modify the number of images so that it matches. Perhaps just removing all images will also be a good solution (since, the mismatch in the number of d

[2020-02-03 20:46] psavery opened #245 "Fix overlays that extend outside the borders"
If the overlays extend beyond the borders of the image, they end up looking like this:

![overlays](https://user-images.githubusercontent.com/9558430/73689361-13d83380-469c-11ea-8196-c64efe34534c.png)

They need to not flatten on the edges.

[2020-02-04 14:47] cryos commented on #245
@joelvbernier was planning to use NaNs to cause a break in the lines where they hit the edges

[2020-02-04 14:48] cryos commented on #163
Yes, that is what must happen at this point as we start to rely on that plot more. Let's prioritize this

[2020-02-04 14:49] psavery commented on #245
Yeah, that makes sense.

[2020-02-04 14:50] #234 closed

[2020-02-05 16:59] #107 closed

[2020-02-05 16:59] #235 closed

[2020-02-06 22:07] joelvbernier commented on #216
I think we can use the detector names and forget about having to specify manually.  Thanks for this!

[2020-02-06 22:12] joelvbernier commented on #92
The current master is a big step in the right direction.  After using it, one simple enhancement  would be to add a button to "hide all" instead of having to thumb through the material list to toggle each "visible" checkbox.  The next step is to add the hooks for different types of overlays.  Currently we only have powder rings, but I would also like to plot Laue patterns; this requires both a mat

[2020-02-07 15:22] bnmajor commented on #216
Perfect! The changes for this are available in #248.

[2020-02-10 11:53] psavery commented on #92
@joelvbernier Okay. I kept around the "Calibration Crystal Editor" in a pop-up dialog (it used to be a part of the instrument config). It's currently under "Edit"->"Calibration Crystal", but it doesn't actually do anything. I think we can hopefully re-use this dialog.

![image](https://user-images.githubusercontent.com/9558430/74147752-e296c080-4bd1-11ea-9d91-8178b7218009.png)

[2020-02-10 17:58] psavery opened #251 "Azimuthal integration plot not updating with detector changes"
In the polar view, it looks like the azimuthal integration plot doesn't update when a detector's translation or tilt get modified (such as when the slider widgets are modified).

We should probably make sure this gets updated. I think it should be as simple as re-plotting the azimuthal integration axis [here](https://github.com/HEXRD/hexrdgui/blob/d8b41c46a8440fca0f30e1a145ded6fd5878bd24/hexrd/ui/

[2020-02-10 19:52] cryos commented on #239
To be clear, the plan is for @donald-e-boyce to add some entry points where we can call them multiple times, and have a predictable path for updates to the user interface. We think maximum will be the most useful, and then we will look at adding support for the others. We just want to update the progress bar, and were not thinking about providing a view of partial data, i.e. 20% done max etc.

[2020-02-10 21:33] donald-e-boyce commented on #239
I'll finish that soon.

On Mon, Feb 10, 2020 at 2:52 PM Marcus D. Hanwell <notifications@github.com>
wrote:

[2020-02-11 15:19] donald-e-boyce commented on #239
I put in the changes for the median function. That should give you
something to try out. Meanwhile, I'll set up the chunking for other
functions, such as average, max and percentile.

On Mon, Feb 10, 2020 at 4:33 PM Donald Boyce <donald.e.boyce@gmail.com>
wrote:

[2020-02-11 19:23] joelvbernier commented on #92
Patrick, I think instead of inverse stretch, we can have the user import stretch values into the upper triangle of a 3x3 matrix-layout (symmetric matrix, so the 3 lower triangle values are forced to be equal to their counterparts in the upper triangle), and compute the scaled inverse internally, rather than make the use input inverse stretch values.

| 0 | 5 | 4 |
|:-:|:-:|:-:|
| . | 1 | 3 |
| . |

[2020-02-11 19:35] joelvbernier opened #252 "auto-compute initial polarview pixel sized based on instrument config"
Given the large variation in detector resolutions we deal with, I'd like to use the current instrument config to auto generate starting values for the polarview pixel sizes (tth, eta).  The code snippet below calculates the min, median, and max angular pixel sizes over the whole instrument.  For lack of anything better to try first, let's use the median as the 'default' starting resolution.  We ca

[2020-02-11 20:04] joelvbernier commented on #241
all of these attributes are hanging off of the PolarView class.

[2020-02-11 20:42] psavery commented on #252
This sounds good. However, I should note that it looks like this code takes ~13 seconds to run on my desktop with our GE example (see image below).

And for reference: our default (tth, eta) resolutions are (0.05, 0.2) degrees. This function produces (tth, eta) resolutions of (0.004, 0.028) degrees for the example below.

![image](https://user-images.githubusercontent.com/9558430/74277095-eb2beb80

[2020-02-13 04:31] joelvbernier commented on #252
Hmmm...  good point.  Maybe we should 10x median?  Or some scaling of the max pixel size...  But yes, I agree that is too slow.  Not sure if there are many ways to speed the calc up internally -- could multiprocess it over the list of multiple detectors if it isn't already.

[2020-02-13 12:11] psavery commented on #252
Yeah, it's currently doing it all in one thread. Multiprocessing might be an option.

Also, I wonder if a random sampling might work?

[2020-02-14 14:43] psavery commented on #241
@joelvbernier Actually, I just realized that "Export"->"Polar Plot" exports the polar image data as npz, with all of these keys:
[code]

Do we want to modify this menu item to export HDF5 instead of npz? Or, make it so that this menu item can export to both NPZ and HDF5? Or just leave the NPZ exporter and skip the HDF5 export?

[2020-02-14 17:28] cryos commented on #225
This is now resolved.

[2020-02-14 17:28] #225 closed

[2020-02-14 17:28] cryos commented on #223
This is working now.

[2020-02-14 17:28] #223 closed

[2020-02-14 17:29] cryos commented on #216
I think we are done here, closing. Please reopen if any further issues remain.

[2020-02-14 17:29] #216 closed

[2020-02-14 17:39] cjh1 commented on #219
Lets confirm this is fixed

[2020-02-14 18:06] psavery commented on #237
To do: make sure the tth ranges get set on the material's plane data.

[2020-02-14 18:25] psavery commented on #237
@joelvbernier @cryos
So, I just realized from the code, that the plane data's `tThWidth` does get set, but all of the materials' `tThWidth`'s are forced to be the same, and they are set based upon what is in the "Show Ranges" spinbox (0.125 degrees by default).

This also means that the loaded materials' tthwidth do not get preserved, but get forced to be 0.125 degrees.

Maybe we want each materia

[2020-02-14 21:31] bnmajor commented on #219
Fixed in #220. Tested again and the detector list is updated on new configuration load.

[2020-02-14 21:35] #219 closed

[2020-02-17 14:49] psavery opened #254 "Edit angles and edit ims are actions with no connections"
I just noticed that, in the main window, there are a couple of actions (`action_edit_ims` and `action_edit_angles`), that are being enabled/disabled in certain parts of the code ([here](https://github.com/HEXRD/hexrdgui/blob/ac4c9331e45008e184bfe08a4ee44c6dd6bf627a/hexrd/ui/main_window.py#L225-L226), for instance), but it looks like they aren't connected to anything.

Were these features removed,

[2020-02-17 15:45] bnmajor commented on #254
Yes, these actions are from old, now removed features. #255 removes this dead code.

[2020-02-17 16:22] bnmajor commented on #244
#256 removes any loaded images when a new configuration file is loaded. Currently this happens for every new config file. Should this only happen when the new config has a different number of detectors and/or different detector names than the currently loaded config file?

[2020-02-17 17:10] psavery commented on #244
I think it might be good to check the detector names before/after to see if they match (so something like `prev_detectors = HexrdConfig().get_detector_names()`, then after the load, `new_detectors = HexrdConfig().get_detector_names()`, then check):

[code]

Just because someone might be comparing different configs of the same detector, and this would allow them to not have to re-load the images ea

[2020-02-17 18:59] #163 closed

[2020-02-17 20:00] bnmajor commented on #243
#257 attempts to solve this issue by remembering the un-aggregated images and checking for them before saving. This currently only handles saving, but could be applied to viewing the images as well. Aggregation can sometimes take quite a while, so if toggling between aggregation states is a possible use case this could save time.

[2020-02-17 20:38] bnmajor commented on #244
I've added in a check to see if the new detectors differ from the old before clearing the images. Additionally, the loaded images are now also cleared if a detector is manually added or removed using the `Instrument Calibration` panel, under the `Form View` tab.

[2020-02-18 00:23] psavery opened #261 "Can't select first and second tabs in "Tabbed View""
In the raw image view, if "Tabbed View" is checked, the user can switch between the third and fourth tabs if there are four images. But they can't switch to the first and second tabs (clicking the tabs seems to not do anything).

I'm not sure if anyone uses the tabbed view, but I thought I'd at least record this issue.

[2020-02-18 14:44] psavery commented on #244
Fixed by #256
#260 Will also make it so dummy images are loaded when a new config is loaded.

[2020-02-18 14:44] #244 closed

[2020-02-18 14:44] psavery commented on #254
Fixed by #255

[2020-02-18 14:44] #254 closed

[2020-02-18 16:08] psavery commented on #237
I allowed each material to have it's own `tThWidth` in #262. I think this should fix any issues we were facing.

[2020-02-18 16:58] psavery commented on #261
Update: this actually only appears to be a problem in #260.

[2020-02-18 18:37] psavery commented on #261
The issue seems to be caused by the images being loaded and drawn before the Qt event loop has started. It seems like a strange issue, and I'm not sure what the problem exactly is.

[2020-02-18 19:05] psavery commented on #188
This might be nice to have for the packaging. I think we could add most kinds of image files, including `.png` or `.ico`.

[2020-02-19 23:18] joelvbernier commented on #188
I'll try to come up with something flashy -- must be square, I assume?

[2020-02-19 23:20] joelvbernier commented on #241
Maybe add the HDF5 output as an option -- for generality's sake?

I have a little recursive function for unwrapping a dict (of dicts) to HDF5 if that is useful to you.

[2020-02-20 14:57] bnmajor opened #264 "Perform transformations on raw images"
Often at least one detector will need to be rotated when loading raw images, allow for transformations on load.

[2020-02-20 14:57] bnmajor commented on #264
It was mentioned in the meeting last week that it should be possible to transform raw images as well as an `ImageSeries`. This should all be possible through the load panel, as I believe that the intention was to eventually altogether remove the `File > Open > Images` menu option (although this may very well have changed).

@joelvbernier I am currently able to load `.tiff` files with the panel, an

[2020-02-20 16:13] psavery commented on #261
So, this bug is not really an issue anymore, because some changes in #260, that were needed anyways, fix the issue.

However, I dug just a little deeper here to get more information in case we run into this bug in the future. I found out that the bug occurs if [this line](https://github.com/HEXRD/hexrdgui/blob/8d214cf3bf5bade4c72a37fee432be9877157e45/hexrd/ui/image_tab_widget.py#L119-L120) is call

[2020-02-20 16:33] #240 closed

[2020-02-20 16:33] #261 closed

[2020-02-20 16:35] #237 closed

[2020-02-20 18:54] cjh1 opened #265 "Image aren't removed when a detector is deleted"
if you remove a detector the image associated with the detector remains.

[2020-02-20 19:00] bnmajor commented on #243
Fixed in #257

[2020-02-20 19:00] #243 closed

[2020-02-20 19:24] bnmajor opened #266 "Color Map not updated per detector"
Currently the color map is set based on values from all of the detectors. Since the dark subtraction can now be set on a per-detector basis, this means that the color map is not adjusted for each detector and the image is not displayed properly.

![colormap](https://user-images.githubusercontent.com/51238406/74970205-fa4d2080-53eb-11ea-8f9f-e7d278df0d75.png)

It seems like we might need to determi

[2020-02-20 22:32] psavery commented on #241
@joelvbernier Yeah I think adding an HDF5 option sounds good.

I think that one option we might be able to do is to have one menu item "Export->Polar Plot", but if the user names the file with a ".h5" extension, write it out as HDF5, and for a ".npz" extension, write it out as npz.

[2020-02-21 18:37] joelvbernier commented on #188
Try this:

![hexrd](https://user-images.githubusercontent.com/1154130/75061719-22915980-5496-11ea-8e67-f52cddcf4150.png)

[2020-02-21 18:40] psavery commented on #188
@joelvbernier Cool :slightly_smiling_face:

I'll give it a try.

[2020-02-21 18:40] joelvbernier commented on #252
Patrick, how about we set the defaults to 100x the median?  That way it will render fast for the initial view.  If it looks too chunky, then maybe we relax to 10.  That should be generally applicable.

[2020-02-21 18:47] joelvbernier commented on #245
I'll try to get to the draw_rings command today

[2020-02-21 19:53] joelvbernier commented on #188
Original artwork credit to @donald-e-boyce

You will close this out once done @psavery ?

[2020-02-21 19:54] psavery commented on #188
@joelvbernier Yep! Will do.

[2020-02-21 19:58] joelvbernier commented on #237
There is also the minor issue in the GUI that the number is not ±, but the full width.  We should update the formatting in the spin controller (or have it display half the tThWidth value with the ±).

When instantiating an material object, the tThWidth is set to None; perhaps having a default value of ±0.125° is reasonable.

[2020-02-21 20:05] joelvbernier commented on #184
Hmmm...  will poke around.  Also, did you removed the "fake" border application with the border overlay PR @psavery ?

[2020-02-21 20:21] donald-e-boyce commented on #252
I'm starting to think average might be a better choice than median for
estimating the background. I noticed that the median image for the frame
cache (multiruby) that Patrick sent me is zero identically, while average
is not. It appears that what few peaks there are only show up on a handful
of frames, so the median would be zero. That data is probably already
thresholded. I think we should look m

[2020-02-21 20:32] psavery commented on #184
@joelvbernier Yep! Fake border is gone.

[2020-02-21 20:38] psavery commented on #188
So, I found that the `.ico` format seemed to work better for the icon. I hope it's cross-platform.

I converted it to `.ico` with imagemagick via `convert -resize 256X256 hexrd.png hexrd.ico`.

[2020-02-21 20:45] psavery commented on #237
@joelvbernier  I modified this in #262, which is now merged.

Here's what it looks like now:
![Screenshot from 2020-02-21 15-44-19](https://user-images.githubusercontent.com/9558430/75070367-0e168680-54c1-11ea-8ca0-1efe6a5677b3.png)

So I removed the ± and renamed it to "width".

[2020-02-21 21:30] psavery opened #271 "Fix exception in Cartesian view when showing rings with tThWidth==None"
This is a follow-up issue to the discussion from hexrd/hexrd#14

We will need to either set the `delta_tth`, or set the `tThWidth` on the plane data, and then set it back to `None` after the function finishes.

[code]

[2020-02-27 21:37] bnmajor opened #275 "Sliders incorrect on tab view or config change"
The slider tool for scrolling through the frame of an ImageSeries is not being created/displayed properly when in tab view, or when a new configuration with different detectors is loaded. Switching into tab view (or loading images in tab view) displays the slider widget for all detectors, rather than just the current detector. Switching back out of the tab view keeps all of the slider widgets visi

[2020-03-02 19:18] #271 closed

[2020-03-02 19:23] #188 closed

[2020-03-02 19:35] #251 closed

[2020-03-02 19:57] #241 closed

[2020-03-02 19:57] #265 closed

[2020-03-06 14:12] bnmajor opened #279 "Slider logic between tabbed views"
Currently, the slider for the first detector in the tabbed view is shared with the global slider in the un-tabbed view. This means that any changes to the global slider in the un-tabbed will affect the first detector in the tabbed view and vice versa, but changes to the remaining detectors are not reflected when switching between views.

![sliders](https://user-images.githubusercontent.com/5123840

[2020-03-06 14:12] #275 closed

[2020-03-06 20:20] cryos opened #280 "Package a .zip for Windows - not admin"
We need to add a .zip file so that Windows users can run without needing admin rights.

[2020-03-11 00:20] joelvbernier opened #281 "Load Data parsing failure"
The following filenames give a load error:

[code]
for the detector keys:
[code]
This is for the current master.

[2020-03-11 00:32] joelvbernier commented on #281
Looks like we should in general just be able to use the `find()` builtin method for strings, no?

[code]

[2020-03-11 17:05] joelvbernier opened #283 "Loaded images not updated if in cartesian view"
I just encountered this problem: if you have loaded an imageseries (from the "File➜Open➜Images" dialog), if you try to load another while in the cartesian view, it does not update.  If you toggle between raw and cartesian, however, it does.  I would suspect the same bug is also present for the polar view.

One of the obvious signs something was off is that I went form imageseries to single tiff fi

[2020-03-11 17:31] psavery commented on #283
I will take a look.

[2020-03-11 19:10] bnmajor commented on #283
@joelvbernier The option to load images will be removed from the file menu eventually, but when I followed the same steps using the load panel I did still find a bug. Loading a new `ImageSeries` updates the images (and the slider), but it displays the `Raw` images while the `Image Mode` tab does not update (it remains in `Cartestian` or `Polar` mode, whichever was last selected).

Would the prefer

[2020-03-11 20:25] joelvbernier commented on #283
FWIW I went from imageseries to single tiffs per detector.

[2020-03-11 20:29] joelvbernier commented on #283
@bnmajor we definitely want to preserve the ability to "quick load" images -- in fact, I would like to add the same basic aggregation options to the simple load that we have for the imageseries "Load Data" panel (flipping, aggregation, dark subtraction).  I was unaware that menu item was slated for removal.

[2020-03-11 20:37] joelvbernier commented on #283
@bnmajor To further elaborate, I would imagine there is raw image data in memory which is updated from the loading callback; the raw view displays those data, while the cartesian and polar views are calculated from that data.  I'd say the behavior should be that any time the active image data is updated, all the views should be updated accordingly.

I am also working on the Mac, which might be par

[2020-03-11 20:58] joelvbernier commented on #283
Update:

Ok -- if I toggle between loading single image files for each detector and imageseries while in
- cartesian mode: the canvas does update, but the appearance of the scrolling bar is "sticky" in that it does not appear if I go from single images to multiframe imageseries (or disappear in the opposite workflow) unless I toggle back to the raw mode view.
- polar mode: same behavior as above.

[2020-03-12 12:36] cryos commented on #283
If you want to keep these two paths then we should probably move some of the logic for loading to a utility class. That can then take care of the loading, and the dialogs defer more to that and become simpler dialog classes. I would hate to duplicate the code in two places, knowing your desire to keep both helps direct our development effort.

[2020-03-13 19:54] psavery commented on #283
So, I guess we need to just make sure that the scrolling bar at the bottom updates when we switch between image loading types.

[2020-03-13 20:30] cjh1 opened #285 "Loss of focus when editing detector name in form view"
You only seem to be able to type a single character and then the field loses focus. This makes editing difficult.

[2020-03-13 20:33] cjh1 commented on #285
In fact is also seems that when you add a new detector a edit the name is applied the update to the wrong detector.

[2020-03-16 16:03] cjh1 commented on #285
We should try to fix this before the next release.

[2020-03-16 16:43] #239 closed

[2020-03-16 16:47] cjh1 opened #287 "IndexError when delete last detector"
[code]

[2020-03-16 17:06] psavery commented on #287
So, is this if you delete the detectors by pressing the minus button on the form view? I thought I had put in something to prevent you from deleting all of the detectors...

[2020-03-16 17:10] psavery commented on #285
I think an easy fix for this would be to turn off keyboard tracking for that line edit. We probably don't want the detectors re-loading anyways, until the user finishes typing.

[2020-03-16 17:11] cjh1 commented on #287
Yes, the minus button with a single detector.

[2020-03-16 17:14] psavery commented on #285
Or, rather, it should update when the `editingFinished` signal gets emitted. I will try to add this.

[2020-03-16 17:16] psavery commented on #285
But yeah, I see that other problem too. Will try to fix that also.

[2020-03-16 20:39] #283 closed

[2020-03-16 20:41] bnmajor commented on #281
Closing for now as this seems to be fixed with #282, we can always re-open if there are any issues.

[2020-03-16 20:41] #281 closed

[2020-03-17 13:19] bnmajor commented on #264
As discussed in #283 and fixed in #286, we will continue to use both menu and load panel loading options, so this feature is still needed.

[2020-03-17 13:59] #285 closed

[2020-03-17 13:59] #287 closed

[2020-03-19 23:30] joelvbernier opened #295 "Azimuthal integration axes not auto-zooming in 0.7.1"
I just noticed this on a fresh build from master on Mac OS (will update for Linux).  The azimuthal integration axes are getting `ylim = (0, 1)` and not auto zooming.  The result is that you can't see the line plot.
![Screen Shot 2020-03-19 at 4 29 54 PM](https://user-images.githubusercontent.com/1154130/77123988-df77c700-69fe-11ea-9fbc-eeac8bb8f59e.png)

[2020-03-19 23:41] joelvbernier opened #296 "Dock icon not appearing for v0.7.1 and Mac OS"
It was there, now it is gone.

[2020-03-20 05:03] joelvbernier opened #297 "extend draw overlays to raw view as well"
A straightforward feature to extend.  The associated detectors have all the necessary machinery for this (analogous what the artificial detector is doing in the cartesian view).

[2020-03-20 12:07] psavery commented on #295
Strange - it seems to be autoscaling for me on Linux. I can take a look at Mac later.

[2020-03-20 13:11] psavery commented on #296
On the mac that I tried, it looks like there is no icon for the `.app` file - so there is no icon when you drag it into your applications, and no icon when you click on it to open it.

But then, when I started the program, the icon appears to be in the dock.

[2020-03-20 13:25] cjh1 commented on #296
Now that we have an icon, we can also use it for the package icon.

[2020-03-20 14:47] psavery opened #298 "Updates to conda install instructions"
~~It looks like `psutil` is not being installed. I had to install it myself with `conda install -c conda-forge psutil`. We should probably add that (it is required for hexrd master).~~

The above is now fixed in hexrd master

~~I had to **not** use `-e` when installing hexrd and hexrdgui, like this:~~
[code]

~~Because, if I used `-e`, the program would complain when I tried to load it that `PySid

[2020-03-20 14:58] psavery opened #299 "Crash on Mac when switching image modes"
There is a crash on Mac that frequently occurs when images are loaded, and you switch image modes using the image mode widget.

I have reproduced the crash both in the package, and locally via a conda install (I did not experience a crash with a pip install, but I didn't test it much either).

Below are the backtraces. It looks like there may be some incompatibility with our versions of numpy and

[2020-03-20 19:35] cryos opened #300 "Make table on materials tab popout from panel"
The table needs more space, doesn't need to be there all the time,
![image](https://user-images.githubusercontent.com/42214/77200141-617bf480-6ac0-11ea-823a-6ab1efdb3674.png)
Make that something in a dialog and we can open the dialog on demand.

[2020-03-20 19:59] psavery opened #301 "Use 2-theta instead of Bragg angle for max angle"
In the materials panel, rather than using the Bragg angle for the max angle, we should use 2-theta instead.

[2020-03-20 20:02] psavery opened #302 "Use more decimals for tree view"
It currently rounds to two decimal places.

[2020-03-24 15:00] psavery commented on #295
I was able to reproduce this issue on Mac.

[2020-03-24 19:51] psavery commented on #299
The crash appears to be caused by `libopenblas==0.3.9`. `libopenblas==0.3.7` seems to work, though.

I am not completely sure why 0.3.9 was being installed. It seems that numpy installs 0.3.7 by default.

[2020-03-29 02:36] joelvbernier commented on #299
Me neither, but 0.3.7 seems to be working on Mac without issues.

[2020-03-29 02:46] joelvbernier commented on #184
I am currently running the 0.7.1 package on a fresh Ubuntu install, and the log scale checkbox still appears to not be working properly.  First, there is no update to the canvas (exception is thrown), then if you click on the canvas to, e.g. zoom, it disappears entirely.  See traceback below -- looks like the log is getting invalid values.

[code]

[2020-03-29 02:55] joelvbernier commented on #295
Whelp -- I am running 0.7.1 package on Ubuntu (python 3.7.6, matplotlib 3.2.0, example data from [here](https://github.com/HEXRD/examples/tree/master/NIST_ruby/multiruby_dexelas)), this issue still persists (see below).  No exception thrown to stdout.

![hexrdgui_bug_azimuthal_sum](https://user-images.githubusercontent.com/1154130/77838969-ac83b080-712d-11ea-8b6b-419e0133772a.png)

[2020-03-29 03:03] joelvbernier commented on #295
**_Update_**: so the [single GE case](https://github.com/HEXRD/examples/tree/master/NIST_ruby/single_GE) seems to work, but the [dual dexela case](https://github.com/HEXRD/examples/tree/master/NIST_ruby/multiruby_dexelas) from above not so much...  same session open.  There appears to be just _no_ lineout in the latter.

![Screenshot from 2020-03-28 20-01-04](https://user-images.githubusercontent.

[2020-03-29 19:53] psavery commented on #299
It looks like @cjh1 changed the conda recipe in #303 (not yet merged) to use 0.3.7. Maybe that will be enough?

[2020-03-29 20:24] psavery commented on #295
@joelvbernier I, also, was able to reproduce this problem with the Linux package for v0.7.1 for that dataset (and I was able to reproduce the problem on the Mac as well).

This should be fixed in master, though (#304). I just tried out the fix locally and it does indeed appear to solve the problem.

But because that PR was merged after v0.7.1 was tagged, it is unfortunately not part of v0.7.1...

[2020-03-29 20:59] psavery commented on #184
@joelvbernier I was able to reproduce this problem on the v0.7.1 package.

It looks like the problem only occurs with specific datasets. It doesn't appear to occur with our simple "ge" test dataset (which is why I wasn't able to reproduce the problem earlier).

But I was able to cause this problem on the "mruby" example for the dexela config.

For a local build using the same dataset, there is als

[2020-03-30 11:04] psavery commented on #184
An update here. It appears that the issue occurs if the `Minimum Value:` in the color map editor is 0. This causes the exception, since the matplotlib LogNorm must have positive `vmin` and `vmax` values.
![Screenshot from 2020-03-30 06-45-23](https://user-images.githubusercontent.com/9558430/77904771-16e24100-7253-11ea-8884-c293ae1abc3b.png)

Maybe one fix for this would be to make sure `min` is n

[2020-03-30 17:35] joelvbernier commented on #295
_Another update_: If I start the 0.7.1 GUI on Linux and load the dual dexela case first, I get no azimuthal integration plot (empty axes, as shown above).  No exceptions echoed back to stdout.  If I load the single GE case, it works.  Then if I reload the dual dexela case, voila, it works.  Strange.

[2020-03-30 23:08] joelvbernier commented on #299
Should we pin this in the install req's in setup.py for pip install as well?

[2020-03-31 06:00] joelvbernier commented on #295
Yeah, looks like this is no longer an issue in master, so I'll close it again.  Thanks!

[2020-03-31 06:00] #295 closed

[2020-04-01 20:36] joelvbernier opened #305 "Auto-select cartesian view params based on loaded instrument config"
Feature request -- auto select the `Distance` and `Pixel Size` based on the average values of the `translation` (the last component, labeled `2`), and the `2*pixels:size` across the detectors.

[2020-04-02 06:27] joelvbernier commented on #296
This one seems closed?  @psavery @cjh1

[2020-04-02 12:25] cjh1 commented on #296
Yes, its in the latest package.

[2020-04-02 12:25] #296 closed

[2020-04-06 14:21] psavery commented on #280
I think this is being done now. Should we close?

[2020-04-06 14:24] cjh1 commented on #280
yes, this can be closed ...

[2020-04-06 14:25] #280 closed

[2020-04-06 14:40] psavery commented on #299
It looks like on Linux and Mac (and possibly Windows), the `numpy` on PyPI comes with `libopenblas` embedded inside of it, rather than it being installed separately. So we can't control the version. However, it is currently using `0.3.7`, so that is good. We might be able to close this issue.

By the way, as a side note, if you install numpy from the default channel (the anaconda channel), it come

[2020-04-10 14:24] psavery commented on #305
@joelvbernier Should we remove the options to set these in the image mode widget, or just reset their values via the calculation every time the cartesian tab is selected?
![Screenshot from 2020-04-10 10-17-13](https://user-images.githubusercontent.com/9558430/78997387-7aeaec00-7b14-11ea-9afe-b17ebe8cea70.png)

[2020-04-13 20:41] joelvbernier commented on #299
Crashes _every time_ I manipulate anything in polar view.  Note that `libopenblas` is 0.3.7.

[code]

[2020-04-14 18:16] psavery commented on #299
I was able to reproduce this on my local mac, for a conda-installed version (it did not occur for a pip-installed version, and did not occur for the 0.7.1 release).

I wonder if we should install numpy from the anaconda channel, which uses mkl instead of libopenblas. The conda-forge channel uses libopenblas.

[2020-04-14 18:51] psavery commented on #299
Re-opening to continue looking at the new crash.

[2020-04-14 18:52] psavery commented on #300
Should this always be in a dialog? Or should there be an option to move it back and forth between the dialog and the panel?

[2020-04-17 18:24] joelvbernier opened #310 "Multiprocessed/multithreaded data loading"
In the course of using the GUI for an 8-detector setup, it has become clear that we desperately need to multiprocess or multithread the load data actions across the individual panels.  Not sure which one is better from a performance point of view, but it would be simple to throw to a process pool as they run independently.

[2020-04-20 14:06] psavery commented on #310
I think I have some good work towards this. I have one example that is running much faster due to multiprocessing.

It looks to me that multiprocessing might be better for us than multithreading because for multithreading, the GIL will only allow one thread of python code to execute at a time. The [multiprocessing library](https://docs.python.org/3/library/multiprocessing.html) also makes multipro

[2020-04-20 15:54] psavery commented on #310
Actually, since the numpy functions are implemented in C/Fortran, it might also be faster to do multithreading instead of multiprocessing because it avoids the pickling. Maybe the best option is to benchmark.

[2020-04-20 17:07] psavery commented on #310
As a side note on this issue as well, I noticed that, for my examples, if you perform dark background subtraction, it takes significantly longer (5-8x longer) to aggregate the images. It looks like this is because, in my examples, the original data is uint16, and after we perform the background subtraction, the output data is float64. This increases the size of our data by 4x.

Can we truncate tha

[2020-04-20 17:25] psavery commented on #299
@joelvbernier We discussed the way we are installing the conda dependencies for hexrdgui, and we think that this might be a better command to try out:
[code]

with the extra `-c anaconda` inserted in there. This will try to install the dependencies from anaconda before it tries to find them in conda-forge. The packages in anaconda may work together more reliably than those on conda-forge since ana

[2020-04-21 18:33] donald-e-boyce commented on #310
That's a good question and the issue should be clarified.  

The imageseries.process module (line 57) preserves the datatype on dark subtraction. That made most sense to me.
[code]

[2020-04-22 21:09] psavery commented on #310
@donald-e-boyce Yeah, so it looks like when we create a dark image using one of the aggregation functions (like `imageseries.stats.median`), the input is `np.uint16`, and the output is `np.float64`, which probably makes sense, because the stats output can be fractions.

Then the dark image gets added to the list of ops, and then when it is passed into `imageseries.process.ProcessedImageSeries`, th

[2020-04-23 15:32] joelvbernier commented on #310
I’ll upload it today

Sent from my iPhone

[2020-04-24 15:52] cryos commented on #310
We ended up discussing this a lot in the Tomviz project where most detector data is also 8 bit or 16 bit unsigned. After a lot of testing, and comparison it was clear that we should never use anything above float32. We rewrote a lot of code to avoid the promotion to float64 which is often a mistake in Python-based pipelines taken out of an abundance of caution. Too much accuracy with no value cost

[2020-04-27 21:01] joelvbernier commented on #300
I'd say a dialog is a good default -- not familiar with other options.  Are you suggesting a dialog that is dockable inside the panel if desired?

[2020-04-28 17:43] psavery commented on #300
Although I'm not 100% sure, I think we could make it into something like a dock widget. And you can add buttons to show/hide dock widgets.

But I can just do the dialog for now since it will be easier.

[2020-04-28 21:47] psavery commented on #298
We may also want the conda install instruction to be:

[code]

Which gives preference to packages being installed from the `anaconda` channel over `conda-forge`.

[2020-04-29 17:57] #184 closed

[2020-04-29 17:58] #301 closed

[2020-05-04 21:56] joelvbernier opened #312 "Material inputs are slow..."
In v0.7.1, I've noticed that the inputs (e.g., changing a material's name, making a new material) are prohibitively slow.  Is it regenerating the entire material with every keystroke/input?  Maybe we need to force enter or tab in the name field at the very least to improve usability -- we have to do something because it is not very usable in it's current state.

[2020-05-05 17:09] psavery commented on #312
I think that only a shallow copy should be made. That is done [here](https://github.com/HEXRD/hexrdgui/blob/50c7528128ea8057150f6d2a62d4f730eb3c343b/hexrd/ui/hexrd_config.py#L754-L755).

The [gui is also updated](https://github.com/HEXRD/hexrdgui/blob/50c7528128ea8057150f6d2a62d4f730eb3c343b/hexrd/ui/materials_panel.py#L324), which might cause a little slowness.

However, updating the internal con

[2020-05-05 17:46] #302 closed

[2020-05-06 21:45] joelvbernier commented on #310
I think it makes sense to cast the dark image as the same dtype as the input.

[2020-05-07 18:07] psavery commented on #310
I think casting it back to the original dtype sounds good to me, but either is good.

@donald-e-boyce Is there an easy way to convert the dtype of an imageseries?

[2020-05-09 02:56] joelvbernier commented on #310
Hmmm, in theory it looks like the `_toarray()` helper function in `imageseries.stats` is supposed to be casting back to the dtype attribute set on the input.  @donald-e-boyce?

[2020-05-09 15:38] donald-e-boyce commented on #310
_toarray() is only used in percentile/median, but even there, they are only
used as input to the numpy function, which usually returns float. It would
be a simple fix to convert the output of percentile/median to the original
type.Min/max are computed frame by frame in a way that doesn't change the
dtype, but average() does do a division. In any case, this would be easy.
Should I do this?

On Fri,

[2020-05-11 19:38] joelvbernier commented on #310
I think preserving the dtype is probably the best practice, or at worst int32.

On May 9, 2020 at 8:39 AM, Donald Boyce <notifications@github.com> wrote:

_toarray() is only used in percentile/median, but even there, they are only
used as input to the numpy function, which usually returns float. It would
be a simple fix to convert the output of percentile/median to the original
type.Min/max are co

[2020-05-12 17:46] cryos commented on #160
Can this be closed, or can we zero in on the remaining issue?

[2020-05-12 22:29] psavery opened #314 "Automatic packaging"
Use GitHub Actions to make some automatic packaging for our operating systems.

[2020-05-12 22:34] psavery opened #315 "Ensure precision stays the same when switching tabs"
We should make sure that the precision does not change when you switch "Instrument Calibration" tabs. The widgets should not set values on the config unless they are modified by the user.

[2020-05-26 17:30] psavery commented on #315
I have so far been unable to reproduce this, and I wonder if it was fixed by a PR already (such as #308).

The different views have different precisions on display. Here is the order from most precise to least precise:

1. Tree View
2. Form View
3. Slider View

When I modify the last digits of numbers in the tree view (which allows for about 10 digits of precision), and switch to the other tabs an

[2020-05-26 18:11] #312 closed

[2020-05-26 19:38] #297 closed

[2020-05-26 21:00] #300 closed

[2020-05-27 17:33] joelvbernier commented on #315
I'll rebuild and take a look.

[2020-05-27 17:37] joelvbernier commented on #245
Bump on this -- looks like we have a path forward on this in general, and the related issue #309. Awaiting the PR merging my overlay classes, which should be live today after our call.

[2020-05-27 17:37] #245 closed

[2020-05-27 17:44] joelvbernier commented on #305
I think we should keep the interactors -- only auto-populate on load/reload of instrument config.  If the user wants a nice high-res figure (read: slow rendering), they can choose to do that.  I think a good rule of thumb is to use the average detector distance at 3x the native (or largest) pixel size.  We can adjust as necessary.

[2020-05-27 17:45] joelvbernier commented on #310
@psavery : have you taken a look at the 8-detector case in the examples?

[2020-05-27 17:50] psavery commented on #310
Yep, I'm actually running timers now. Will give the results soon...

[2020-05-27 18:04] psavery commented on #310
Here are my timing results for a single run each, for the 8-detector case. Looks like the use of float32 sped it up a lot. multiprocess and multithread were about the same speed, with just a little speedup. I'm happy to put up the code soon to see if we can think of improvements.
[code]

[2020-06-05 15:10] psavery opened #320 "Use new overlay classes for creating overlays"
I think I have been making some good progress on this so far. I have added ranges and range indices (to check for merged ranges) as output to the powder overlay class, and Cartesian and Polar are working so far with some re-centering (and the Cartesian is receiving a fake single-detector instrument).

However, I'm not sure what's going on with the overlays for the raw view. They are appearing in a

[2020-06-05 15:51] psavery opened #321 "Polar view error with hexrd master"
With the [current hexrd master](https://github.com/HEXRD/hexrd/tree/031d348dd27661d22d726dfdd4cc0838ca73a38b), there is an error in hexrdgui if you try to display the polar view for our tiff image 4-detector ge example. I am not sure what may have changed to cause this.

The error is pasted below.

[code]

[2020-06-05 20:23] joelvbernier commented on #321
Ok, figured this out.  I added an attribute on the detector panels to hold the buffer/mask that defaults to `None`; the routines that clip points to the panel extent uses the panel_buffer attribute.  This probably needs a bit more thought.  Anyhow, if you add a "buffer: <nonzero float in mm>" line in the instrument config, it works (see TARDIS example below).

This attribute in the yml file obviou

[2020-06-05 20:23] joelvbernier commented on #321
will close for now, with the caveat that the panel buffer needs some more thought.

[2020-06-05 20:23] #321 closed

[2020-06-05 20:43] joelvbernier commented on #321
@psavery you get it to work?

[2020-06-05 20:54] psavery commented on #321
Heading out for the weekend. I'll try it out on Monday :slightly_smiling_face:

[2020-06-05 21:14] joelvbernier commented on #320
Looks like we need to conver from (x, y) cartesian to pixel coordinates.  The detectors each have a `Planardetector.cartToPixel()` method that takes in vstacked (x, y) pairs and outputs vstack (i, j) -- row, col -- pairs.  So depends if we want to display the raw images with cartesian axes or pixel-based.  If the latter, we need to convert the overlay arrays.

[2020-06-05 21:16] joelvbernier commented on #321
I should mention we can hijack the buffers internally to the GUI if it comes in as `None`.

[2020-06-08 13:11] psavery commented on #321
@joelvbernier I think this is working fine. Is a default panel buffer of `0.5` good for the GUI, if it isn't specified in the config? The images seem to be coming out fine.

[2020-06-08 13:31] psavery opened #327 "Add indexing interfaces"
Part of this workflow is provided in [this file](https://github.com/HEXRD/hexrd/blob/master/hexrd/cli/find_orientations.py).

I've uploaded the example yaml we are working with in the shared drive at `examples/indexing/multidexela/mruby_config_composite.yml`.

The CLI can be ran via:
[code]

[2020-06-08 17:32] psavery opened #328 "Modifying beam energy enables tThWidth"
If the user disables the widths for an overlay, and then modifies the beam energy, the widths get re-enabled for some reason.

[2020-06-08 18:54] joelvbernier opened #330 "conda build spec"
Are the build instructions in the README up to date?

[2020-06-08 19:41] cjh1 commented on #330
@psavery has a PR that is making some updates: #324. However, I think he then ran into the issue the hexrd now forces using 3.8, so we also push #325, however I believe he ran into an issue with this that we need to look at.

[2020-06-08 20:11] psavery commented on #330
@joelvbernier When you install it with conda, try to install it via `conda install -c cjh1 -c anaconda -c conda-forge hexrdgui`, so that numpy will be installed from anaconda, and it will use mkl instead of libopenblas.

[2020-06-09 17:02] joelvbernier opened #331 "Remove panel buffer spec from refinable parameters."
Notices that the panel buffer shows up as refinable.  Should be editable, yes, but doesn't require a checkbox as this is not something that gets varied in an optimization problem.

[2020-06-09 17:19] psavery commented on #331
We can add it to the blacklist [here](https://github.com/HEXRD/hexrdgui/blob/9ef18ced8f51a4573f9041df29d0b270622150a0/hexrd/ui/cal_tree_view.py#L410).

[2020-06-09 17:30] joelvbernier commented on #331
@psavery sounds good!

[2020-06-09 19:08] #298 closed

[2020-06-09 19:08] #299 closed

[2020-06-09 19:17] psavery opened #333 "Proposal to remove "Show Live Updates" option"
There is an option under "View"->"Show Live Updates".

These days, I am pretty sure everyone who is working with hexrdgui wants this option to be checked. And, the behavior when it is not checked is not very intuitive, because some parts still have live updates anyways, while other parts don't.

For instance, any changes to detector settings always have live updates, whether the option is checked

[2020-06-09 19:31] psavery opened #335 "On mac, pop-up windows do not remain in front"
The materials table and the line-picked calibration zoom box are two different pop-up windows that should remain in front of the main window at all times.

This works fine on Linux, but on Mac, if you click on the main window, the pop-up windows are moved to the back.

We should fix this so the pop-up windows remain in the front for Mac as well.

This was first reported in [this comment](https://g

[2020-06-09 20:31] cryos commented on #335
This is not a bug, it is a feature of macOS. The behavior is to conform to Apple's standards, we should perhaps use sheets instead but we hit this in several other projects.

[2020-06-12 15:56] #320 closed

[2020-06-15 13:39] psavery opened #337 "Easier way to get Cartesian image in `mm` units?"
Currently, the [image that gets generated](https://github.com/HEXRD/hexrdgui/blob/2290f7d100afddf6f4a7d74725eb2468aabd65a0/hexrd/ui/image_canvas.py#L346) for the Cartesian viewer is, I believe, in pixel units. We [rescale the output image](https://github.com/HEXRD/hexrdgui/blob/2290f7d100afddf6f4a7d74725eb2468aabd65a0/hexrd/ui/image_canvas.py#L364-L370) to be in millimeter units after the image ha

[2020-06-15 13:46] cjh1 commented on #337
@joelvbernier This is the situation I was talking about on the call, any pointers?

[2020-06-15 14:01] psavery commented on #337
By the way, the code for creating the individual detector images that are then summed together is [here](https://github.com/HEXRD/hexrdgui/blob/2290f7d100afddf6f4a7d74725eb2468aabd65a0/hexrd/ui/calibration/cartesian_plot.py#L187-L219).

[2020-06-15 14:07] psavery commented on #310
This got fixed by #319.

[2020-06-15 14:07] #310 closed

[2020-06-15 14:07] psavery commented on #330
This should be up-to-date now. Let us know if there are any more issues.

[2020-06-15 14:07] #330 closed

[2020-06-15 16:54] psavery commented on #305
This is fixed in #338

[2020-06-15 18:38] psavery commented on #315
@joelvbernier Were you able to cause this issue? If not, we can close this issue unless it pops up again.

[2020-06-15 18:39] #328 closed

[2020-06-16 17:20] joelvbernier commented on #337
The dimensions for the extents you want are properties on detectors attached to the "fake" instrument object.  Specifically, the fist and last entries of the [row/col edge vectors](https://github.com/HEXRD/hexrdgui/blob/2290f7d100afddf6f4a7d74725eb2468aabd65a0/hexrd/ui/calibration/cartesian_plot.py#L202), which are in mm, can be used to define the extents in the plot.

[2020-06-16 17:31] #315 closed

[2020-06-16 17:32] joelvbernier commented on #330
Build is stable so far!  👏👏👏

[2020-06-16 17:44] joelvbernier commented on #333
I was actually going to suggest that we leave it, but have it default to `True`.  Either that or remove it completely.  I agree with the initial thoughts behind the option, but yeah, I am always checking it on when using the GUI after realizing the canvas isn't updating.  One case I can imagine disabling it would be if you were going to set up parameters to render the image canvas that will take a

[2020-06-16 17:46] joelvbernier commented on #299
So far on 10.14 this build hasn't crashed.  🤞🏼

[2020-06-16 17:51] cjh1 opened #340 "Upstream fabio changes"
@joelvbernier I just raised this to remind us. If we can use upstream fabio it will simplify our install ( we  can remove the cjh1 channel ...)

[2020-06-16 17:58] #305 closed

[2020-06-16 18:01] joelvbernier commented on #340
I will submit a pull request with a sheepish explanation of the bastardized GE file format right now...

[2020-06-16 20:52] joelvbernier commented on #340
[PR](https://github.com/silx-kit/fabio/pull/395) submitted to the silx-kit fork, which I believe serves as the canonical fabio repo now.

[2020-06-16 20:55] joelvbernier commented on #252
@donald-e-boyce this is for pixel size, not intensity.  On that note, @psavery we can also look for the max and do a scaling from there to "reasonable" numbers rather than the median.

[2020-06-16 20:55] cjh1 commented on #340
@joelvbernier Looking at the PR it looks like it pulls in a set of other commits (not made by your), do you need to rebase on master?

[2020-06-17 01:09] joelvbernier commented on #340
Those were all me (at the beamline computer) and I did rebase.  They were always poking aroung in the same 2 files.

[2020-06-17 03:34] joelvbernier opened #341 "Cartesian view mode ignores beam vector"
Just caught this with a new example.  The cartesian mode overlays do not recognize the beam vector.  Didn't catch it before with the examples we were using because the beam vector default was correct for those examples.  I think the best way to fix this is to make sure that the fake instrument for the display plane inherits the beam vector from the config dict.  I havent' checked yet, but I assume

[2020-06-17 04:16] joelvbernier commented on #341
Yep @psavery -- looks like the `temp_instr` needs to have its bvec attribute set to the instrument's `beam_vector` attribute.  It looks like it might not be?  The intrument copy presumably has the correct beam vector, but at the detctor level, [`self.dplane`](https://github.com/HEXRD/hexrdgui/blob/f6c124a455be94f27b2773607d946eaf2b6cd17b/hexrd/ui/calibration/cartesian_plot.py#L83) does not.  When

[2020-06-17 04:29] joelvbernier commented on #341
Question for @psavery or @cjh1: which dict hanging off of `HexrdConfig()` has the current instrument config values?  Is it `HexrdConfig().internal_instrument_config`?

[2020-06-17 11:42] cjh1 commented on #340
@joelvbernier OK, I see two identities :smile:

[2020-06-17 17:15] psavery commented on #341
@joelvbernier Sounds good. I'll have a fix for this soon.

[2020-06-17 19:39] psavery commented on #337
Yeah, we have actually been setting the extents [here](https://github.com/HEXRD/hexrdgui/blob/f6c124a455be94f27b2773607d946eaf2b6cd17b/hexrd/ui/image_canvas.py#L365-L367), using the [panel size](https://github.com/HEXRD/hexrdgui/blob/f6c124a455be94f27b2773607d946eaf2b6cd17b/hexrd/ui/calibration/display_plane.py#L17-L44) that gets [passed into the fake instrument's detector](https://github.com/HEXR

[2020-06-17 20:19] psavery commented on #341
I gave the above proto fix a try to see if I could reproduce the elliptical overlays for my GE example. Unfortunately, they still look circular. You can see the diff for my proto fix below.

Let me know if you upload that example somewhere so I can try it out.

![image](https://user-images.githubusercontent.com/9558430/84946033-0acd8900-b0b6-11ea-9b97-70308fb0964e.png)

[code]

[2020-06-17 20:33] psavery commented on #333
Okay, we can keep it.

I actually set it up to be enabled by default in #215. But it looks like it isn't being enabled by default anymore. Not sure what happened.

I think we can also make enabling it to cause a re-render. That way, the user doesn't have to switch tabs to force a re-render.

[2020-06-17 20:39] psavery commented on #333
I see the problem. `True == 'true'` is returning `False` right [here](https://github.com/HEXRD/hexrdgui/blob/1c56362c8d32146d0a73bb83f250894eed1d5898/hexrd/ui/hexrd_config.py#L187).

A fix is on the way...

[2020-06-17 21:05] #333 closed

[2020-06-17 22:54] joelvbernier commented on #340
After a few fixes, should be able to get this merged in.

[2020-06-17 22:56] joelvbernier commented on #337
Ah, this is a consequence of my cartesian frame, which has ij coords with the origin at the top left, like you'd expect, but the cartesian frame has the origin in the center of the panel (local detector coords).  That ain't changing ;-)

[2020-06-18 06:28] joelvbernier commented on #160
reset updates the boxes, but doesn't affect a change in the plot.

[2020-06-18 12:41] psavery commented on #160
It seems to be working for me on Linux. I'll give it a try on Mac too.

![Peek 2020-06-17 14-03](https://user-images.githubusercontent.com/9558430/85021164-727be680-b13f-11ea-990c-6d639dffa73a.gif)

[2020-06-18 13:41] psavery commented on #160
I just confirmed on Mac that something sketchy is going on!

It's true, the `Reset Range` button doesn't update the values in the boxes until you re-focus.

Then, the image doesn't update as well unless I change active windows and then come back.

[2020-06-18 14:54] psavery commented on #160
ContinuumIO/anaconda-issues#11297 might be similar.

[2020-06-18 15:25] psavery commented on #337
Okay! Well, let us know if you'd like us to change our coordinate system to have 0 in the center as well for the Cartesian view.

[2020-06-19 00:53] joelvbernier commented on #337
If you are using the extents coming from the panel dimensions, the yes, (0,0) is the center of the rectangle.  Same goes for the individual detector raw views if we choose to plot those in millimeters.

Sent from my iPhone

[2020-06-19 00:53] joelvbernier commented on #160
Oh, Apple...

Sent from my iPhone

[2020-06-19 16:01] psavery commented on #160
Note that this also appears to happen for other buttons as well. For instance, if I try to click "Hide All" for the overlays, it doesn't update unless I make the main hexrd window lose focus and then re-gain focus.

[2020-06-19 20:58] cjh1 opened #348 "Document the various artifacts uploaded during packaging"

[2020-06-22 09:16] psavery commented on #196
This is the same as #160. Looks like it is specific to the conda version on the Mac, and it might be caused by incompatibilities between the gcc version used to compile conda's python and the gcc version used to compile PySide2.

Tracking this in #160.

[2020-06-22 09:16] #196 closed

[2020-06-22 14:29] #341 closed

[2020-06-22 18:06] psavery commented on #160
So yes, I think I have figured out the problem and have a solution as well.

This is the same issue as conda-forge/pyside2-feedstock#46

The problem is that PySide2 is not compatible with the python on anaconda (both in the `anaconda` and `conda-forge` channels). The reason is that the python on anaconda is being built using an older macOS SDK. [Qt requires newer versions of the SDK for building](

[2020-06-22 19:01] psavery commented on #160
This should be fixed for us, by the way, when conda-forge/conda-forge-ci-setup-feedstock#67 gets resolved.

[2020-06-22 21:29] cjh1 commented on #314
Fixed by #347

[2020-06-22 21:29] #314 closed

[2020-06-23 17:42] psavery commented on #205
This currently now only happens in the following circumstances:

1. Move a detector so that it is partially outside the bounds of the Cartesian view.
2. Move the rings out of bounds along the same axis.
3. Try to move the detectors again, you get this error.

What I believe is happening is that moving the detector outside the bounds of the Cartesian view increases the bounds of the "fake detector"

[2020-06-23 17:47] #337 closed

[2020-06-23 19:11] psavery opened #354 "Use Astropy Convolution Module"
For dark background subtraction, we want to look into using the [astropy convolution module](https://github.com/astropy/astropy/tree/master/astropy/convolution).

We don't want to depend on all of astropy, since it is so big. But we will see if there is a way we can copy and use their convolution module.

They use a [3-clause BSD license](https://docs.astropy.org/en/stable/license.html), so we sho

[2020-06-24 16:24] psavery opened #356 ""Apply Selections to All Detectors" not preserved between runs"
This option appears to always be unchecked when the program starts, even if we exited the program before in a normal way, with it checked.

I think it should be saved to the settings, and then loaded and set when the program starts.

[2020-06-25 17:46] bnmajor opened #359 "Issues remembering HDF5 path"
In fixing #356 I discovered that the `hdf5` path was no longer being preserved between runs either. Additionally, I found a bug in testing the fix in #358 by taking the following steps:
- Load `hdf5` image(s) through the load panel (the settings do not matter)
- Do not select `Remember Path` in the `hdf5` dialog
- Press `Read Files`
- Use `Select Image Files` to re-select the same images
- Do not

[2020-06-25 19:24] #356 closed

[2020-06-25 19:36] #359 closed

[2020-06-26 05:07] joelvbernier opened #361 "Apply mask to polar causing IndexError"
I noticed that if changing resolution in the polar view, the mask throws and IndexError (makes sense)

[code]

I think we will need a manager for mask elements, and for a change of polar view parameters should either

1. save the mask points in angular coordinates and reapply, or
2. clobber existing masks

we would also want the ability to add to a mask "layer" successively.

[2020-06-26 14:49] cjh1 commented on #354
@joelvbernier Do you have the changes you made locally to use astropy? I what to know how we should be invoking it?

[2020-06-26 16:07] psavery commented on #354
@cjh1 [Here](https://github.com/HEXRD/hexrd/blob/aaf883dcb2ec8bf694f1bc222576200439431e3b/hexrd/imageutil.py#L4-L8) is a place where it's being used in hexrd, by the way.

[2020-06-26 16:10] cjh1 commented on #354
@psavery Thanks, @joelvbernier That is all I need, I will see what we can do ...

[2020-07-01 20:37] cjh1 commented on #354
This was done in https://github.com/HEXRD/hexrd/pull/37

[2020-07-01 20:53] psavery commented on #335
We can try to look into sheets and drawers. It looks like you can set [a window flag](https://doc.qt.io/qt-5/qt.html#WindowType-enum) for the dialog to use this.

[2020-07-01 21:56] psavery commented on #335
It looks like [Qt::Tool windows](https://doc.qt.io/qt-5/qt.html#WindowType-enum) remain in front as well.

For reference, two dialogs of interest are:

[The materials table](https://github.com/HEXRD/hexrdgui/blob/fe5c58068995e4f3b09f87017d581cfc3325bd55/hexrd/ui/materials_table.py#L10)
===================
![materials_table](https://user-images.githubusercontent.com/9558430/86295194-09c34e00-bbc4-1

[2020-07-01 22:05] psavery opened #368 "Additional indexing visualization is needed"
#363 adds visualization for the eta omega maps, and it runs the indexing when it is complete, but the output is not currently visualized.

We might want to visualize two things:
 - [x] The [orientation fibers](https://github.com/HEXRD/hexrdgui/blob/3c86306eee628b8743299f3c87057cad913a4edc/hexrd/ui/indexing/run.py#L81)
- [x] The [completeness](https://github.com/HEXRD/hexrdgui/blob/3c86306eee628b87

[2020-07-01 22:08] psavery opened #369 "New visualization methods for eta omega maps"
#363 adds some [basic visualization for the eta omega maps](https://github.com/HEXRD/hexrdgui/blob/3c86306eee628b8743299f3c87057cad913a4edc/hexrd/ui/indexing/ome_maps_viewer_dialog.py#L24):
![image](https://user-images.githubusercontent.com/9558430/86295907-98849a80-bbc5-11ea-93ad-d54db15917a8.png)

This map can be thought of as a sphere, and it might be useful for us to visualize it in new ways,

[2020-07-01 22:18] psavery opened #370 "Add progress bars for indexing steps"
Several indexing steps are ran in #363

However, there are no progress bars, and the GUI just freezes when the steps are running.

Some steps of interest are:

- [x] [Eta omega map generation](https://github.com/HEXRD/hexrdgui/blob/3c86306eee628b8743299f3c87057cad913a4edc/hexrd/ui/indexing/run.py#L53)
- [x] [Orientation fiber generation](https://github.com/HEXRD/hexrdgui/blob/3c86306eee628b8743299

[2020-07-02 12:51] johnkit commented on #335
Yes, the `Qt::WindowStaysOnTopHint` flag appears to do what we are looking for. I can show you guys later this morning (I'm offline until 10am or so).

[2020-07-02 14:45] cjh1 commented on #361
@johnkit You need to change the pixel size to recreate this ....

[2020-07-02 15:04] johnkit commented on #335
After a little more exploration, on macOS
* the `Qt::WindowStaysOnTopHint` flag works per se, put the window is on top until you close it, even if you minimize the app.
* the `Qt::Tool` flag also keeps the popup on top. It has its own minimize control separate from the main app. Better but not ideal. Will look into it a bit further.

[2020-07-02 17:26] johnkit commented on #335
1\. I learned from Bob that macOS applications have a "hide" option in the native application menu (command-H), which is how users would typically hide (minimize) all windows open for a given application.

2\. As for the minimize button in the menu bar, I am pretty sure Qt also has a way to capture when it is clicked. We should be then be able to send the command-H key event to hide (minimize) all

[2020-07-02 17:36] cjh1 commented on #335
@johnkit Lets just use the `Qt::Tool` and move on, we can make improvements in the future if necessary.

[2020-07-02 18:53] joelvbernier opened #371 "Revamp claibration classes"
Main points of improvement are

- [x] Move all the calibration classes to hexrd repo
- [x] Generalize the API to allow for assembling multi-component calibration problems
- [x] intermediate visualizations, mainly to verify "measured" input to the calibration problem.

[2020-07-02 19:01] johnkit commented on #335
Sorry I got distracted on some other projects. I'll double-check that the PR doesn't hose linux.

[2020-07-02 19:06] cjh1 commented on #335
It worked good for me

[2020-07-02 19:08] johnkit commented on #335
Thanks, turns out that I will need to build py3.8 on my dusty Ubuntu 16.04 machine before I can run the gui. Maybe I'll stick on macOS anyway so we have more exposure there.

[2020-07-02 19:18] cjh1 commented on #335
You can probably install from a PPA, https://websiteforstudents.com/how-to-install-python-3-8-on-ubuntu-18-04-16-04/

[2020-07-02 19:42] psavery commented on #371
I have some updates coming within the next couple of days to the calibration classes. Mainly, generalizing the overlay generation so they will work for overlay types other than powder.

Will have that up soon.

[2020-07-02 22:24] joelvbernier commented on #369
Nice!

Sent from my iPhone

[2020-07-02 23:40] #335 closed

[2020-07-03 15:44] psavery opened #374 "Add validation for indexing steps"
We should disable indexing by default and only enable it when:

1. Data has been loaded
2. There is more than one image in the unaggregated imageseries that was loaded

The above two are the only ones I know of, but we can add more if we find more.

[2020-07-03 17:28] psavery opened #375 "Add UI for grain fitting"
#363 adds UI for indexing. UI should be added as well for the grain fitting.

As of #400, grain fitting is ran automatically after indexing is complete. We now
just need to create a dialog around [here](https://github.com/HEXRD/hexrdgui/blob/1556de632910c2ace7c27ff06933e2f0143aa999/hexrd/ui/indexing/run.py#L103-L107) so the user can set grain fitting options,
and we need to add some visualization

[2020-07-06 13:56] johnkit commented on #361
@cjh1 I pushed branch https://github.com/johnkit/hexrdgui/tree/resize-polar-masks with a somewhat brute-force change, but there's a threading problem that can cause an intermittent seg fault. If I'm doing something foolish in the code, I can't find it. Would appreciate if you would try the branch. Fyi it is littered with debug messages and some mods to try to detect the cause - the first commit ha

[2020-07-06 14:51] cjh1 opened #376 "Error when closing polar mask editor"
[code]

[2020-07-06 17:03] johnkit commented on #361
Patrick has given me some history on problems we have seen combining macOS, python, pyside, threading, and libopenblas; and indeed the seg fault I observe occurs in libopenblas off the main thread. I will try the conda env on macOS to see if the issue is reproduced there.

[2020-07-06 17:18] cjh1 commented on #361
Yes, I was unable recreate the crash ....

[2020-07-07 13:48] cjh1 commented on #252
@psavery Are the initial changes for this pushed in a PR?

[2020-07-07 13:50] cjh1 commented on #31
@joelvbernier Did you manage to get us an example?

[2020-07-07 14:09] johnkit commented on #361
Mostly FYI, I pushed the original commit for this to https://github.com/johnkit/hexrdgui/tree/orig-resize-polar-masks, without all the debug messages and fix attempts.

[2020-07-07 14:49] cjh1 commented on #242
@joelvbernier Is this still something we would like to add? It couple of days work.

[2020-07-07 14:54] cjh1 commented on #198
@bnmajor I think this is related to the work you are doing.

[2020-07-07 15:11] #348 closed

[2020-07-07 15:16] cjh1 commented on #340
Looks like the PR has been  merged :boom:

[2020-07-07 15:18] cjh1 commented on #340
We just need to wait for it to get into a release ....

[2020-07-07 15:39] johnkit commented on #361
News flash. After Google led me to [this thread on the Julia repo](https://github.com/JuliaLang/julia/issues/3369), I tried running hexrdgui with `OPENBLAS_NUM_THREADS=1` and have not crashed since. I will proceed with PR shortly.

[2020-07-07 16:15] #376 closed

[2020-07-07 19:27] psavery commented on #369
This might involve scikit image projective transform.

[2020-07-07 19:43] psavery opened #379 "Fixes for Distortion of None"
For LLNL, a distortion of `None` will most often be used. When the distortion is `None`, there shouldn't be parameters for the distortion function in the tree view. There will be a few things that need to be done.

- [x] Remove the distortion function parameters from [the default instrument config](https://github.com/HEXRD/hexrdgui/blob/89d70ded426eee1e9993ac7e6de90d90d7a0e86c/hexrd/ui/resources/c

[2020-07-07 19:44] cjh1 commented on #379
Thanks

[2020-07-07 19:45] #327 closed

[2020-07-07 19:46] #354 closed

[2020-07-07 19:48] psavery commented on #375
From our discussion, it sounds like we will eventually also need to add some visualization via callback functions after certain steps in the grain fitting, for sanity checking.

[2020-07-07 19:53] psavery opened #380 "Try numpy's masked arrays for polar view masking"
This might allow us to switch between masked/unmasked views.

[2020-07-07 20:11] psavery opened #381 "Add masking via Laue overlays"
Laue overlays were added in #373, and widths for the Laue overlays in the polar view are added in #394.

We want to add an option to mask based upon the Laue overlay widths (which are rectangles in the polar view).

In the polar view, the overlay widths are stored as corners of the rectangle, and they are stored in this location:
[code]

Where `overlay_idx` is the index of the overlay, and `detect

[2020-07-07 20:18] psavery opened #382 "Add manager for line picked calibration"
This means to add a table of picked points to the calibration line picker dialog, where the user can see, edit, and remove points. When modified, it should update the points that are drawn in the canvas.

[2020-07-07 20:19] psavery opened #383 "Separate HEDM and LLNL stuff in packaging"
They are separate workflows, and one workflow should not display options from the other workflow.

We'll need to come up with a way to enable/disable features based upon which workflow it belongs in.

[2020-07-07 21:02] johnkit commented on #361
Added UI_ETA_MIN_DEGREES and UI_ETA_MAX_DEGREES to constants.py

[2020-07-08 12:46] cjh1 opened #384 "LLNL IO: Support masking out detector shape when images are loaded"
- We will have a library of detector geometries that the user can select from.
- We need to be able flip and translate the mask
- Once in the right position is will be applied to all images.

@joelvbernier Can you add any more details?

[2020-07-08 13:27] #361 closed

[2020-07-08 14:29] cjh1 commented on #384
@joelvbernier So for this we are proposed doing the following:

- Add a new load panel that will be specific to the LLNL use case.
- The user will select one of the images contain the detector images.
- The user will be able to add masks to mask out the image for each detector, rotate and translating as necessary.
- These masks will be used to extract out the separate images for each detector. The

[2020-07-08 14:31] cjh1 opened #385 "Add mask manager component"
Should allow:

- Adding
- Removing
- Turning on and off

[2020-07-08 15:17] psavery commented on #385
This might be related to #380

[2020-07-08 15:59] psavery opened #386 "Add mono rotation series overlays"
An overlay manager and Laue overlays are added in #373

This overlay manager allows the user to select mono rotation series, but it does not do anything (or will produce a `NotImplemented` error) if they do.

We will, at some point, need to add mono rotation series overlays.

This will likely require changes in the following sections of the code:
1. The [overlay data generator](https://github.com/

[2020-07-08 17:24] #92 closed

[2020-07-08 17:30] psavery opened #387 "Input calibration crystal stretch values"
Currently, in the overlay manager added in #373, the user inputs stretch values as inverse stretch values into the calibration crystal parameters:
![image](https://user-images.githubusercontent.com/9558430/86951027-f9a8f280-c11e-11ea-9b18-52b6baf10db6.png)

As noted in #92 ([this comment](https://github.com/HEXRD/hexrdgui/issues/92#issuecomment-584807140)), it would be better to have the user inpu

[2020-07-08 18:58] psavery commented on #374
@johnkit [Here](https://github.com/HEXRD/hexrdgui/blob/f7cab9e84e9099c49a6f019e4a26b592a990cda2/hexrd/ui/image_load_manager.py#L300) is where the omega metadata gets added to the imageseries. It looks like it gets added into the `metadata` dict. So you might be able to check for the presence of `omega` in that dict for enabling/disabling the indexing.

[2020-07-08 20:02] psavery opened #389 "Slider widgets for Laue overlay options"
In the overlay manager added in #373, there are widgets for editing Laue overlay options.

![image](https://user-images.githubusercontent.com/9558430/86964324-dd638080-c133-11ea-84da-666f411601b5.png)

We should look into adding slider widgets to them to make them more interactive. The slider widgets may operate in a similar way that the detector slider widgets do, in the slider view:
![image](htt

[2020-07-08 20:47] psavery opened #390 "Euler angle input for Laue overlay orientation"
Currently, the orientation in the Laue overlay options uses exponential map parameters.

![image](https://user-images.githubusercontent.com/9558430/86965384-75ae3500-c135-11ea-81f1-86866b3c2cfe.png)

These are less intuitive to work with than actual degree angles. So we want to allow for the user to input the orientation using Euler angles in degrees instead of exponential map parameters (but we w

[2020-07-08 20:55] psavery commented on #90
I think this one can be closed in favor of #379. We will continue exploring new options for the distortion, though.

[2020-07-08 20:55] #90 closed

[2020-07-08 21:09] psavery opened #391 "Ensure Laue overlays are correct"
When you choose to display Laue overlays, *something* gets plotted. But I'm not sure if it's correct or not.

![laue_overlays](https://user-images.githubusercontent.com/9558430/86970235-105e4200-c13d-11ea-836a-11487c02adb1.png)

We should compare this to some real examples for the Raw, Cartesian, and Polar views, and ensure that they are truly correct.

Some things that could be wrong:
1. We could

[2020-07-09 15:14] psavery commented on #375
It sounds like we might use the same config dict for the indexing as for the grain fitting.

If that is the case, the current default options for the grain fitting are [here](https://github.com/HEXRD/hexrdgui/blob/ef0a8d1ad996c6f30f8e684bc815bec7ccaa9962/hexrd/ui/resources/indexing/default_indexing_config.yml#L84-L102). Whatever dialog provides the grain fitting options can set those options in th

[2020-07-09 18:18] psavery opened #395 "Add Laue overlay widths for raw and cartesian views"
Laue overlay widths are added to the polar view in #394

The polar view is probably the easiest for this, because the widths result in rectangles. The Cartesian and raw views might be a little trickier, since two of the edges will likely be curved, if I'm imagining it correctly.

The code for creating the polar ranges is [here](https://github.com/HEXRD/hexrdgui/blob/03bfd7f26feacc8768ffc859864972f

[2020-07-09 19:03] psavery opened #396 "Add ability to swap between aggregated and unaggregated views of the data"
We started keeping a copy of the unaggregated data in #257

We should copy what the old WX gui did for aggregated and unaggregated views, and add that to hexrdgui.

[2020-07-09 22:28] joelvbernier commented on #396
We kept a container for images (raw) that the user could append to from the current canvas (list of images in the old GUI case -- needs to be a list of dictionaries of images in ours).  Then upon re-loading of images, it would take back control of the canvas.  If you wanted to toggle between image data, you could do it via a selector on the image list

<img width="1528" alt="Screen Shot 2020-07-09

[2020-07-09 22:37] joelvbernier commented on #395
For the cartesian versions of the angular, here is an code snippet:

[code]

and the resulting plot:

<img width="1349" alt="Screen Shot 2020-07-09 at 3 36 36 PM" src="https://user-images.githubusercontent.com/1154130/87097410-02222b80-c1fa-11ea-8af8-590c9188b3f7.png">

[2020-07-10 16:18] joelvbernier opened #399 "Use detector perimeter information for cropping"
In the shared Google Drive, I have uploaded detector perimeters for the TARDIS instrument (for now we will only deal with IMAGE-PLATE-[1,2]; IMAGE-PLATE-3 is cylindrically bent and I have to get that detector type finished).  The image data in the assoc. hdf5 archives is scanned into a 750 x 1250 array (100µm pixels), which is much bigger than the actual film.  Here is a view of ip4:
<img width="1

[2020-07-10 16:34] bnmajor commented on #399
This is great, thanks @joelvbernier!

[2020-07-10 16:40] joelvbernier commented on #399
I'll get perimeters for the PXRDIP and BBXRD up as well -- those are the cases where all of the image plates (read: detectors) are scanned into a single big image, and the user will have to specify the crop for each detector's image sequentially.  The TARDIS case is easier in that there is one file per detector.

[2020-07-10 16:47] bnmajor commented on #399
@joelvbernier Awesome, thank you. At this point I will proceed with the plan outlined in #384 to create a new load panel that will apply to this workflow, unless you see any problems with the current ideas.

[2020-07-10 16:51] joelvbernier commented on #399
@bnmajor yeah, Let's call it an "Import Data" panel.  At this point, we could just have profiles for the different instruments (might be easiest way?).

[2020-07-10 16:57] joelvbernier commented on #396
I'd say in general, the way to think of the image list manager is a tool that lets the user append the currently displayed image into a dict -- wheteher that is aggregated or a single frame of an unagregated image series -- and recall it for viewing via a selector (either in the main canvas or a separate window).

[2020-07-10 16:58] joelvbernier commented on #375
Actually, panel_buffer is no longer a config option in the fit_grains block of the hedm config; rather it is a detector-level property.

[2020-07-10 17:12] psavery commented on #375
@joelvbernier Sounds good, I removed it from the example above.

[2020-07-10 20:22] #374 closed

[2020-07-10 20:48] psavery commented on #391
This is fixed in #394

An example dataset that we can use for testing the Laue spots was uploaded to our shared google drive, in "examples/simulated_laue".

[2020-07-10 20:49] psavery commented on #31
An example dataset that we can use for testing the Laue spots was uploaded to our shared google drive, in "examples/simulated_laue".

[2020-07-10 20:52] #391 closed

[2020-07-10 20:55] psavery opened #402 "Polar and Raw views resize when they draw out-of-bound overlays"
We should keep the extents of the polar view fixed, because they are set by the user in the image mode widget.

Keeping them fixed should prevent problems like this, when out-of-bound overlays are drawn:

![polar_out_of_bounds_overlays](https://user-images.githubusercontent.com/9558430/87202218-10417c00-c2ce-11ea-8e61-b19ce098788f.png)

[2020-07-11 04:32] joelvbernier commented on #31
I will add an example this weekend.

[2020-07-13 15:42] #390 closed

[2020-07-13 18:25] psavery opened #405 "Overlays re-created too many times for raw tabbed view"
In the raw tabbed view, there is an image canvas for each raw image. Each image canvas [re-creates the overlays](https://github.com/HEXRD/hexrdgui/blob/ba9a96d7c8e168934c5de13f61334ca02e26cfa8/hexrd/ui/image_canvas.py#L234) when an `overlay_config_changed` signal is emitted from `HexrdConfig`.

The overlays only need to be recreated once. And, for some Laue overlays, it takes a while to generate t

[2020-07-13 20:10] #402 closed

[2020-07-13 20:34] #395 closed

[2020-07-13 20:53] bnmajor commented on #198
Added in #398

[2020-07-13 21:03] cjh1 commented on #383
Fixed in #392

[2020-07-13 21:03] #383 closed

[2020-07-14 19:06] cjh1 opened #409 "ValueError: cannot convert float NaN to integer"
[code]

To reproduce:

1. Start up HEXRD ( two detectors )
2. Switch to Cartesian view.

[2020-07-14 19:08] #405 closed

[2020-07-14 19:29] psavery commented on #375
In the master branch, you can now run the indexing, and it is automatically followed by the grain fitting (no dialog options for grain fitting yet, but it should be coming soon).

@joelvbernier Can you try it out, and can we get some feedback and info on what exactly we should be trying to visualize next?

[2020-07-14 19:54] joelvbernier commented on #409
What instrument are you using, and which commit did this appear in?  There have been no changes to the underlying hexrd code.

Sent from my iPhone

[2020-07-14 20:00] cjh1 commented on #409
@joelvbernier Not sure when it appeared. It may well be a problem in hexrdgui, haven't looked that deeply, just wanted to record it as an issue.

[2020-07-14 20:25] bnmajor commented on #399
@joelvbernier What will the config file look like for this use case? I'm curious what may be missing or need to be updated (like the rows and columns for each detector) after the cropping and detector masking has been applied.

[2020-07-14 21:01] psavery commented on #409
It looks like the NaNs first show up in [this line](https://github.com/HEXRD/hexrdgui/blob/5d7484027daa416cd41214b65d4984d1afb2e483/hexrd/ui/calibration/display_plane.py#L31).

[2020-07-14 21:30] joelvbernier commented on #409
Are you using an instrument with parallel detectors?  That code has not been altered in quite a while.

On July 14, 2020 at 2:02 PM, Patrick Avery <notifications@github.com> wrote:

It looks like the NaNs first show up in this line.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-14 21:33] joelvbernier commented on #399
Good question!  The rows/cols have to match the crop box.  I imagine we can store a default instrument for each type, given that 1:1 correspondence.  I envision the user selecting which panel is active, then perfomring hte associated crop.

-Joel

On July 14, 2020 at 1:26 PM, bnmajor <notifications@github.com> wrote:

@joelvbernier What will the config file look like for this use case? I'm curious

[2020-07-14 21:35] joelvbernier commented on #409
You get NaNs if the ray you are trying to map can't intersect the specified plane.

On July 14, 2020 at 2:02 PM, Patrick Avery <notifications@github.com> wrote:

It looks like the NaNs first show up in this line.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-14 21:35] psavery commented on #409
It's our default instrument config (full of default values) that we've had for a long time. It only really shows up if you start the program for the first time.

We can probably just change our default instrument config, if that's the easiest thing to do. Here it is.

[code]

[2020-07-14 21:55] joelvbernier commented on #409
it is the translation value of all zeros; which puts the origin on the detector plane.  make t_z, say -100.

On July 14, 2020 at 2:36 PM, Patrick Avery <notifications@github.com> wrote:

It's our default instrument config (full of default values) that we've had for a long time. It only really shows up if you start the program for the first time.

We can probably just change our default instrument

[2020-07-14 21:58] psavery commented on #387
Note that for the `Calibration Crystal` section, the 12 spin boxes are set/get as a list of 12 numbers (this is what gets passed directly to hexrd). The getter/setter for this are [here](https://github.com/HEXRD/hexrdgui/blob/5d7484027daa416cd41214b65d4984d1afb2e483/hexrd/ui/overlay_editor.py#L142-L161).

We can put more code in there alongside the euler angle convention conversion code, that esse

[2020-07-14 21:58] joelvbernier commented on #409
Actually, just make it 1 detector (do we need multiple in the default?), call it 'detector_1', and make 
translation: [0.0, 0.0, -1000.0]

That would represent a "generic" transmission instrument for synchrotron XRD.

-Joel

On July 14, 2020 at 2:36 PM, Patrick Avery <notifications@github.com> wrote:

It's our default instrument config (full of default values) that we've had for a long time. It on

[2020-07-14 22:06] psavery commented on #409
Sounds good, #413 fixes this.

[2020-07-14 22:07] psavery commented on #389
Also note that as we work on this, we may also need to look into speeding up some of the Laue spot generation code, to make this as interactive as possible.

[2020-07-14 23:43] #409 closed

[2020-07-14 23:45] joelvbernier commented on #389
We are going to push some updates to the material, which might help.  But yes, I am sure there is room for optimization in the simulator.

[2020-07-14 23:52] joelvbernier commented on #387
Lets go one further:  Let's lay the stretch out in matrix form, where the 6 values make up the diagonal and upper triangle of the symmetric matrix (3 x 3).  The components 0-5 map to:
[code]
Then we can internally take the inverse (and the off diagonal components get a scaling of √2 as well).

[2020-07-14 23:55] joelvbernier commented on #386
The omega channel of the output points has a 1:1 correspondence with a frame index in the imageseries; if the display is aggregated then the omega channel is ignored, and we plot them as we do the Laue spots.

[2020-07-15 14:42] psavery commented on #389
Should we add sliders for the stretch matrix values as well? Or only for the orientation, position, and min and max energies?

[2020-07-15 15:43] joelvbernier commented on #375
Will try this out today -- I owe you guys a bunch of feedback on the HEDM workflow

[2020-07-15 16:03] joelvbernier opened #414 "Need to unify approach for associating image filename with detector names"
I am still having the occasional issue with image loading.  Currently, I have a single-detector instrument with the detector name `ge5`; I get an error when I try to load `CeO2_0pt3s_000024.ge5` with the Load Data panel, but I can load it with the File --> Open --> Images dialog.

Is there a reason why we can't simply use the `in` (or `find`, or `count`) built-in to detect the occurrence of the de

[2020-07-15 18:32] johnkit commented on #375
Here is a mockup of the fit-grains dialog.

![image](https://user-images.githubusercontent.com/5559383/87582070-deeaf680-c6a7-11ea-9ba3-c630d9b49ec4.png)

[2020-07-15 18:33] cjh1 commented on #375
@joelvbernier Would be great to get some feedback on this.

[2020-07-15 19:26] bnmajor commented on #414
@joelvbernier I believe the reason regex was used was to handle a case where a directory contained more than one file with that detector name so that the correct file would be selected. For example, if `first_ge1.h4` was selected for the `ge1` detector `first_ge2.h5` would be selected for the `ge2` detector, but `second_ge2.h5` would be ignored (if it was located in the same directory as `first_ge

[2020-07-15 19:49] psavery commented on #414
@bnmajor I think the quick loader uses a regex that is different from the load panel. We might be able to make them both use the load panel way of finding images.

[2020-07-15 20:41] #379 closed

[2020-07-15 20:54] cjh1 commented on #385
We will need to take into account the masks being added by #407

[2020-07-15 20:58] #381 closed

[2020-07-16 05:14] joelvbernier commented on #414
Yes, using the `in` approach only works if the user has specified the files they want to load one way or another.  The default behavior can be to just force the user to explicitly select all the image filenames.  While that is fine for simple instruments with a small number of detectors, I can see cases (_e.g._, a 24 detector case we have) where it would definitely be preferred to specify a `glob`

[2020-07-16 19:10] bnmajor commented on #414
@joelvbernier Absolutely, we want to handle the all of the use cases and minimize confusing requirements. I want to make sure that I am understanding the cases that we need to handle and how much is actually changing -

My understanding is that whether the user uses quick load (the `File` -> `Open` -> `Images` path) or the load panel (for the `HEDM` workflow), the files should go through (up to) t

[2020-07-16 20:57] #252 closed

[2020-07-16 22:39] psavery commented on #387
So, the stretch matrix off-diagonal components get a scaling of √2, and then it gets inverted. Is that right? Or is the scaling after the inversion?

[2020-07-17 01:03] joelvbernier commented on #414
@bnmajor yep, looks good!

[2020-07-17 01:13] joelvbernier commented on #387
inversion, then scaling.  You can use the following utility from hexrd to take the unscaled V components to the scaled inv(V) that the code needs in the grain parameters:
[code]
where `v_matx` is symmetric, (3, 3) and `vinv_vecs` are the 6 values that go into the grain parameter list for the Laue simulation.

[2020-07-17 01:17] joelvbernier commented on #387
for your own edification, here is a description of the 6-vector basis we use for representing 3x3 symmetric martrices (and explains the √2).  Dug this up from the wayback machine :-)

[MVNotes.pdf](https://github.com/HEXRD/hexrdgui/files/4935175/MVNotes.pdf)

[2020-07-17 17:28] joelvbernier opened #420 "distortion overhaul"
I'll put you on notice that I am finally fixing the distortion, which remains to be `None` or hard coded the the 6-parameter GE-style function that is defined in distortion.py

Summary of the changes:

1. distortion.py is moving to a package
2. defining an abc to provide a single interface for the distortion application
3. start a registry of different adapters for the various distortion functions

[2020-07-17 17:44] psavery commented on #420
About the GUI, there might be a better way to do this (that involves dynamically creating spin boxes), but I think these steps will work as well for the new distortion cases:

1. Determine the max number of parameters that any of the distortion functions may have.
2. Add spinboxes for the max number of parameters in [the UI file](https://github.com/HEXRD/hexrdgui/blob/master/hexrd/ui/resources/ui/

[2020-07-17 20:01] psavery commented on #386
To whoever works on this: before doing this, by the way, we might want to separate all of the laue stuff in the [`OverlayEditor`](https://github.com/HEXRD/hexrdgui/blob/593e874401c3f9910e844443c1f200420330db5a/hexrd/ui/overlay_editor.py#L12) into a separate `LaueEditor` widget, so we don't need to prefix/suffix all of the functions and variable names with `laue`.

This isn't so bad for laue, but p

[2020-07-19 18:28] joelvbernier opened #424 "Load data options become inactive after file read"
am trying to load a single image for which I have a standalone dark image (same GE format).  I select "file" for the dark mode and select the filename, but when I read the image, it toggles to None and the buttons become inactive.  see below.
<img width="1712" alt="Screen Shot 2020-07-19 at 10 41 55 AM" src="https://user-images.githubusercontent.com/1154130/87882128-e1549580-c9b2-11ea-9f5a-2636fcf

[2020-07-20 16:14] joelvbernier opened #425 "Crash on GUI startup on Mac after pull 991fea4..593e874"
Segfault 11 on attempt to start up.  991fea4 was working.

[2020-07-20 17:20] joelvbernier commented on #425
Happens on both 10.14 and 10.15.

crash log below

[code]

[2020-07-20 17:22] joelvbernier commented on #425
also confirmed that  991fea4 is working.

[2020-07-20 17:33] joelvbernier commented on #424
@bnmajor a screen cap to illustrate the issue.

![load_data_dark_file_bug_480p](https://user-images.githubusercontent.com/1154130/87967909-6fdd1b80-ca74-11ea-987b-52256717c569.gif)

[2020-07-20 17:46] joelvbernier opened #426 "Strange overlay behavior"
Preface: this is on Mac OS 10.15.5

A few things:

1. The overlays don't disappear on "hide all"; you have to toggle the checkbox.  There is also a logical disconnent with the global checkbox on the materials panel -- I would think that we would have that checkbox toggle the visibility for all overlays, while the manager allows the user to toggle individual overlay visibility.  See below:
![overla

[2020-07-20 19:22] cjh1 commented on #425
Resolved by #427

[2020-07-20 20:28] #425 closed

[2020-07-20 20:46] joelvbernier commented on #426
Addendum: the overlays also disapper in the cartesian view if you change any of the generating parameters.

[2020-07-21 18:26] cjh1 commented on #370
May be capture logger output ...

[2020-07-21 18:52] cjh1 opened #429 "Visualize the grain fitting results"
@joelvbernier Is going to provide some code examples.

[2020-07-21 20:37] joelvbernier opened #430 "Double matplotlib toolbar?"
May very well be a Mac-specific issue, but switching between view modes a second toolbar appeared and won't go away 😂
![Screenshot 2020-07-21 13 35 54](https://user-images.githubusercontent.com/1154130/88104474-5365df80-cb57-11ea-91b3-3dfce903a5a6.png)

[2020-07-21 21:06] joelvbernier commented on #429
Ok -- first let me tabulate the anatomy of the `grains.out` file.  There are 21 columns; they represent:
[code]
The 12 parameters in the slice `[:, 3:15]` are the grain parameters that are used by the various models and methods, 3 orientation parameters, 3 center-of-mass coordinates (x, y, z), and 6 strain parameters as the scaled components of the inverse stretch tensor in the sample frame (not p

[2020-07-22 13:15] bnmajor commented on #424
@joelvbernier This was set to be this way in #292 when aggregation was prevented for single frame images. There is no record or issue explaining why dark subtraction was also disabled, so as far as I can tell there is no good reason for it. #431 reverses this, but can be adjusted or limited if there are cases where all dark subtraction options should not be available.

[2020-07-23 22:55] joelvbernier opened #432 "Add mask to elliptical, rectangular regions"
In addition to the hand-drawn component already merged in, can we add a tool to specify generic elliptical and rectangular areas?  Hopefully you have code to steal from other projects...  I am stealing my inspiration from ImageJ:
![ImageJ_rect_ellp_selectors](https://user-images.githubusercontent.com/1154130/88346319-e8560d80-ccfc-11ea-9ba8-e47068eaacbe.gif)
Somewhat lower priority than other issu

[2020-07-24 13:50] cjh1 commented on #429
@joelvbernier Thanks for this @johnkit It going to push a PR to refactor the grain fitting code so it returns the results. It would be great if we can get the colormap generator and example plot code soon.

[2020-07-24 14:37] cjh1 opened #433 "HEXRDGUI can't read config files with embedded yaml files"
For example [this one](https://github.com/HEXRD/examples/blob/master/NIST_ruby/multiruby_dexelas/include/mruby_config_composite.yml).

[2020-07-24 14:37] cjh1 commented on #433
It would be easy enough to implement if this is needed.

[2020-07-24 19:05] bnmajor commented on #424
For now the only dark subtraction option that will be enabled when a single image is loaded is the file option. Additional (or all other) options can be added in in future PRs if needed.

[2020-07-24 20:30] cjh1 commented on #426
I am pretty sure this is related to #160

[2020-07-24 21:22] joelvbernier opened #434 "Key error in instrument config"
The `panel_buffer` key in the detector blocks should be simply `buffer`.

[2020-07-24 21:25] joelvbernier commented on #433
The CLI reads this, and the config class processes it to yield the instrument object (`cfg.instrument.hedm`).  Not sure that helps what you are trying to do.  Just keeping track of the instrument filename from the raw HEDM yaml input is probably a smart idea.  Can instantiate and instrument directly from a yaml stream of that file.

[2020-07-24 21:31] joelvbernier commented on #426
@cjh1, who has inhereted this in @psavery's absence?

[2020-07-24 23:57] cjh1 commented on #433
We were also think it would be a way of user loading the indexing parameters, so they don't have to manually enter them all.

[2020-07-24 23:58] cjh1 commented on #426
@johnkit Has been looking at this and we have a work around, however, I am pretty sure the underlying cause is #160, we can push the work around.

[2020-07-25 00:24] cjh1 commented on #426
Regarding #160 I am trying to get @psavery change upstreamed so that we can at least request they build with the latest Mac SDK. However, I think we are probably going to have to end up build our own python and pushing it to our HEXRD org.

[2020-07-25 00:27] cjh1 commented on #432
@joelvbernier as a side note the animated gifs are really useful thanks.

[2020-07-25 07:36] joelvbernier opened #435 "Materials table not updating on new instrument configuration load"
Just noticed this one.  Loaded two configurations with different X-ray wavelengths, and noticed that the materials table (specifically the two-theta values) don't get recalculated.  I can force the update by reloading the materials database, but we need to get the wavelength-based update of the `planeData` object wired in.  The class will auto update all of the energy-dependent parameters by setti

[2020-07-27 13:46] #435 closed

[2020-07-27 13:49] cjh1 commented on #434
I think this is a issue with hexrd? There is not reference to `panel_buffer` in the hexrdgui repo.

[2020-07-27 13:53] cjh1 commented on #429
@joelvbernier ping

[2020-07-27 14:12] cjh1 commented on #160
@psavery I think its time to raise an issue against python-feedstock, now the  conda-forge/conda-forge-ci-setup-feedstock#67  is merged. Do you want to do it or shall I?

[2020-07-27 14:51] #387 closed

[2020-07-28 19:44] joelvbernier commented on #424
This still seems broken, now I get an image with identically 0 everywhere for the same dark subtraction example (files can be found in the shared Google Drive under sample_images, 4553 is image, 4555 is dark)

![dark_subtr_from_file_broken_trim](https://user-images.githubusercontent.com/1154130/88713179-c0392680-d0cf-11ea-913a-b3745c6c43e1.gif)

For ref, here are what the source images and the bac

[2020-07-29 14:09] #424 closed

[2020-07-29 14:11] bnmajor commented on #424
@joelvbernier There was a bug with dark subtraction when using a file but this should have been fixed in #439. Changes have been merged into master. If there are any further issues we can re-open this again.

[2020-07-29 16:09] joelvbernier commented on #424
WIll test right now, thanks.

[2020-07-30 20:06] cjh1 commented on #385
@bnmajor Is going to look at this once we have IO work done.

[2020-07-30 20:11] joelvbernier commented on #385
got it.

[2020-07-30 20:24] joelvbernier commented on #434
I think the panel's config dump had it wrong.  The init method for the instrument should recognize "buffer" keyword, but we still need to address the case of saving a 2-d mask-like buffers (can't stuff them in the YAML).

[2020-07-30 20:25] cjh1 commented on #385
I think once we have most of the templating functionality we will better understand the requirements for the manager component.

[2020-07-30 20:29] joelvbernier opened #442 "Need to update instrument config writer to handle 2-d array-like buffers"
Thought there was already an issue for this one; no matter, we currently have no acceptable way of saving the yaml style instrument config for panels that have a 2-d arrays for the `panel_buffer` property (_e.g._, irregular shapes like the TARDIS example).  The best fix would be to add a trigger to save/load from an auto-named .npy files.  The imageseries 'image-files' adapter does something simil

[2020-07-30 20:49] bnmajor commented on #399
@joelvbernier Couple of questions related to this:

- I am assuming there will be cases where you will need to load multiple images at a time in order to create multi-frame image series. If this is the case will the template positioning for each detector be consistent across all frames, or will the detector outline need to be positioned for each frame?
- Will the raw `TARDIS` consistently be store

[2020-07-30 23:25] joelvbernier commented on #426
Additional issue: setting orientation via the spin boxes is broken?  Looks like `self.params` is getting set to `None` in `calibration_crystal_editor.py`
[code]

[2020-07-31 12:03] cjh1 commented on #426
@joelvbernier I will take a look at the spin box issue. We continue to push upstream to get the more general Qt Mac issues resolved.

[2020-07-31 15:15] joelvbernier commented on #426
I have virtual box with ubuntu on my mac, so I can test those two platforms.  Windows soon...

[2020-07-31 15:19] cjh1 commented on #426
@joelvbernier I just fix the spinbox issue in #443

[2020-07-31 15:20] cjh1 commented on #426
I am also going to upload a version of python we have built that you can try out on your mac.

[2020-07-31 15:22] joelvbernier commented on #399
@bnmajor

for the LLNL workflow, these are all ”single shot”, so there is only one image per panel.  There might be e exception with a new instrument in which the detectors are multiplexed to grab a burst of frames (~2-10), but I don't have an example yet.  Luckily, those detectors usually aren't irregular in shape like the image plates￼.  I’d say the toughest cases in the single-shot paradigm are

[2020-07-31 15:22] cjh1 commented on #429
@joelvbernier, @johnkit has pushed the [fit grains work](https://github.com/HEXRD/hexrdgui/pull/423), we will have to put this to one side until we have an example of the viz.

[2020-07-31 15:46] joelvbernier commented on #434
This will be closed with a pending PR in hexrd.

[2020-07-31 15:48] #434 closed

[2020-07-31 16:02] bnmajor commented on #399
@joelvbernier In order to use the same load path for all data we do need to use an imageseries - this could certainly be worked around but the current fix seems to work fine and be relatively simple so unless it becomes a more complicated problem or we decide to catch the case in the adapter I will just leave it as it is for now.

Thanks for the help!

[2020-07-31 16:48] joelvbernier commented on #399
I think we'll make the edit to the imageseries module anyhow, but I'll consult with @donald-e-boyce and keep you posted.

Regarding the TARDIS, as I just spend the last 3 days analyzing data...

Attached are updated boundary files to represent the proper origin and orientation of the local detector cartesian coordinates (plus some useful header information).  The bounding boxes for the 3 images ar

[2020-07-31 19:53] cjh1 commented on #442
@donald-e-boyce If you don't have time or interest, I can take this on.

[2020-07-31 20:18] donald-e-boyce commented on #442
I'll suggest you take a look at imageseries/load/metadata.py.

https://github.com/HEXRD/hexrd/blob/master/hexrd/imageseries/load/metadata.py

The idea was that more than one format might use yaml for metadata, so I
set up a standard reader.  It looks like the original approach was to use
the keyword "++np.array" to indicate an np array was to be read. I made it
more general by having a keyword tha

[2020-07-31 20:25] cjh1 commented on #442
@joelvbernier We do have a issue for this, its here HEXRD/hexrd#28

[2020-08-04 18:17] cjh1 commented on #429
@joelvbernier WiIl add the mplot 3d code for this.

[2020-08-04 18:22] cjh1 commented on #429
@joelvbernier To provide HDF5 file and code for visualizing a single grain.

[2020-08-05 15:34] bnmajor commented on #380
`Numpy` offers the [`numpy.ma.MaskedArray`](https://numpy.org/doc/stable/reference/maskedarray.baseclass.html#the-maskedarray-class) class which allows setting a mask on data and also allows accessing either the original data `MaskedArray.data`) or the masked data (`MaskedArray.mask`). Only one mask can be set on the data at a time, which means that using this class would require creating a master

[2020-08-05 15:38] bnmajor commented on #430
This may indeed be Mac-specific and related to #160, I was unable to reproduce on Ubuntu

[2020-08-05 17:33] joelvbernier commented on #430
oh mac...  I haven't been able to reliably reproduce, so we'll close for now.

[2020-08-05 17:33] #430 closed

[2020-08-05 17:36] joelvbernier commented on #380
Yes!  I 100% think we should use a masked array for the polarview as it plays so nicely with the column summing.  Then as the mask array (boolean) is manipulated with the manager, we just update the mask in the ma and the sum with be updated automagically.  I think it will plot as an unmasked image still, but I am not positive abou that (need to test).

[2020-08-05 18:51] johnkit commented on #429
Here is a look at the beginning of a "fit grains results dialog". There is more to do, but I thought I should show everyone where I am heading and give you a chance to comment/redirect.

![image](https://user-images.githubusercontent.com/5559383/89451795-bc8a4d00-d72a-11ea-9525-ebfa19a9ae6b.png)

[2020-08-05 21:04] cjh1 commented on #160
I raised a PR against [python-feedstock](https://github.com/conda-forge/python-feedstock/pull/371)

[2020-08-11 19:28] psavery opened #448 "Laue ranges in raw and Cartesian views do not update with position change"
Although the ranges appear to be correct when the position of the crystal is (0, 0, 0), if the position is modified, the spots move, but the ranges don't.

![position_issue](https://user-images.githubusercontent.com/9558430/89939992-d6bea200-dbe6-11ea-8546-ab64c6ffe934.png)

The [current strategy](https://github.com/HEXRD/hexrdgui/blob/8dd2b4aad7c2763b4ea02991401e17abaaa14e2e/hexrd/ui/overlays/lau

[2020-08-12 15:20] bnmajor commented on #380
@joelvbernier For mask manipulation and the mask manager using `MaskedArray` would be an additional step, as we would need to keep the current approach we have as well - keeping track of each individual mask and which view(s) they belong to. Are there other needs or use cases that this would serve to simplify or improve?

[2020-08-12 15:31] cjh1 commented on #264
@bnmajor Is this now fixed? If so can we close this?

[2020-08-12 15:38] cjh1 commented on #31
@joelvbernier Any progress on an example?

[2020-08-12 15:54] bnmajor commented on #264
Yes, I believe #290 solved this

[2020-08-12 15:54] #264 closed

[2020-08-12 20:00] johnkit commented on #389
@joelvbernier   Here is a strawman/mockup for revising the crystal calibration widget to include "form" and "slider" tabs. (The "form" tab is essentially the current widget.) To conserve vertical space, the slider tab has a dropdown box to select between position and orientation.

![mockup-calcrystal-form2](https://user-images.githubusercontent.com/5559383/90061393-1606f480-dcb4-11ea-84fb-7d1dfe95

[2020-08-12 20:10] cjh1 commented on #389
@johnkit This look great. My one question for @joelvbernier is do you want to be able adjust the orientation and position at the same time. In which case we might want the duplicate the sliders, so they are accessible without using the drop down.

[2020-08-12 20:29] joelvbernier commented on #389
On that, not sure why it is slower in this case — was fine in the python 2...

Sent from my iPhone

[2020-08-12 21:25] cjh1 commented on #370
@johnkit This is now in master?

[2020-08-12 21:26] cjh1 commented on #389
@joelvbernier Any thoughts of the layout? 3 sliders and combo vs 6 sliders?

[2020-08-13 04:18] bnmajor commented on #385
Added in #446

[2020-08-13 04:18] #385 closed

[2020-08-14 13:35] cjh1 commented on #420
@joelvbernier Are the changes in hexrd for this done?

[2020-08-14 17:53] psavery commented on #33
@joelvbernier I have the tardis example here, where the angle between the two detectors is 180 degrees, and it looks like hexrdgui is still able to generate a Cartesian view of it.

![tardis](https://user-images.githubusercontent.com/9558430/90278143-e92e1b00-de34-11ea-90ab-776ad88247b0.png)

Should we still follow this issue, and produce an error if the angle between the two detectors is greater

[2020-08-14 22:12] joelvbernier commented on #448
Can't the ranges be done on the fly from the simulation data itself?  Simply expanding the simulation to the box vertices?

[2020-08-14 22:17] joelvbernier commented on #442
@cjh1 yes, we can close this issue and lieu of that -- one note, however.  Once we set up the masks in the GUI, we will in theory want to set the panel_buffer attribute on the detectors.  We will nee to do some interpolation for mask regions defined in the angle space.

[2020-08-15 10:08] psavery commented on #448
I think that's what we're doing, but the widths are in angles and need to be converted to Cartesian coordinates.

This issue gets fixed by #451 and HEXRD/hexrd#66

[2020-08-18 00:04] joelvbernier commented on #448
merged.

[2020-08-18 00:26] joelvbernier commented on #414
Seems to be an issue here:  I was trying to load a PXRDIP data example to get set up for you and the load selector seems broken.  Two things:
1. It doesn't seem to auto-detect the associated detector names from the filenames anymore; and
2. when I manually select the detector associates, they are not set correctly.
Observe:
![load_from_image_files_broken](https://user-images.githubusercontent.com/

[2020-08-18 15:52] bnmajor commented on #414
@joelvbernier This should be fixed in #456
![quick-load-association](https://user-images.githubusercontent.com/51238406/90535697-31a54b80-e149-11ea-938e-50c3182988b3.gif)

[2020-08-18 16:31] #448 closed

[2020-08-18 16:49] bnmajor commented on #382
There are a couple of GUI options to address for the manager for picked points -

The manager could be located in the line edit dialog:
![line_edit_in_dialog](https://user-images.githubusercontent.com/51238406/90541183-3d484080-e150-11ea-8d12-5c80464e9fc9.png)

Or in a separate dialog the way the mask manager is:
![mask-manager](https://user-images.githubusercontent.com/51238406/90541246-50f3a700-

[2020-08-18 19:29] cjh1 opened #457 "Add the ability to set the panel buffer from a npy file"

[2020-08-18 19:30] cjh1 opened #458 "fit grains: Allow the user to switch between strain and stress"

[2020-08-18 19:31] cjh1 opened #459 "fit grains: Add axes labels"

[2020-08-18 19:32] cjh1 opened #460 "fit grains: Add matplotlib toolbar ( so we can save plot )"

[2020-08-18 19:33] cjh1 opened #461 "fit grains: Allow the user to toggle axes labels on and off"

[2020-08-18 19:33] cjh1 opened #462 "fit grains: Separate out visualization from running fit grains"
The current viz dialog is displayed at the end of grain fitting. This feature will add a menu item for the user to select a `grains.out` file and display its content in the FitGrainsResultsDialog.

[2020-08-18 19:34] cjh1 opened #464 "Add support for export a multi-document configuration file that could be run using the CLI"

[2020-08-18 19:35] cjh1 commented on #464
@joelvbernier Could you give use an example of this?

[2020-08-18 19:36] cjh1 opened #465 "Look into adding stereographic projection"
@joelvbernier Is going to provide example code.

[2020-08-18 19:40] cjh1 opened #466 "fit grains: Add average for the y component"

[2020-08-18 19:44] psavery commented on #460
We currently have [a custom navigation toolbar class](https://github.com/HEXRD/hexrdgui/blob/f1d049096c16ec0298ba66053d239ba25a39558c/hexrd/ui/navigation_toolbar.py#L4) that  inherits from the matplotlib one but turns off the subplots button, since that is available elsewhere in the GUI.

We can either use that, or if we want to keep the subplots button for this, we can just use the navigation too

[2020-08-18 20:12] bnmajor commented on #382
Another thought - if the plan is to stop using the line picker dialog for masking by hand the concept of a separate dialog (like the mask manager) could be re-used to edit points for the hand drawn masks as well as the line picked calibration, whereas keeping the table in the line picker dialog would limit editing to calibration lines only. This may not be a real concern for masking though, just t

[2020-08-18 20:56] cjh1 commented on #384
Fixed by #410

[2020-08-18 20:56] #384 closed

[2020-08-18 21:10] cjh1 commented on #369
@joelvbernier Do we still want to look at other visualization methods, such as stereographic project?

[2020-08-18 22:23] joelvbernier commented on #432
Bumping this up in priority as we have a detector case where we need to be able to generate a drawn mask in the raw view (see interpanel stripes below) using a series of rectangular regions (can't be done with intensity thresh in this case).  Also need to be able to export as we discussed today.
![Screen Shot 2020-08-18 at 3 20 23 PM](https://user-images.githubusercontent.com/1154130/90571465-a3d8

[2020-08-18 22:26] joelvbernier commented on #464
Currently, [this example](https://github.com/HEXRD/examples/blob/master/NIST_ruby/single_GE/include/ruby_config.yml) has a multi-document config; the first is used the index, then the results are pushed onto 5 different image sets for fitting.

[2020-08-18 22:45] joelvbernier opened #468 "Cleanup overlay controls"
As we discussed this morning, I would like to move the "enable width" toggle and assoc. spin controller to a settings panel for the powder diffraction overlay type to streamline the interface.  Also, given the additional visibility controls in the overlay manager, ther "Show Overlays" toggle and "Hide All" button visible on the materials panel should be combined into a single toggle for global sho

[2020-08-19 12:49] cjh1 commented on #432
@joelvbernier This is in @bnmajor 's queue

[2020-08-19 14:54] psavery commented on #468
@joelvbernier Sounds good.

I'll note one thing: one difference between the powder widths and the Laue widths are that the powder widths are set on the material itself (`tThWidth`), whereas the Laue widths are not.

Are we going to keep it this way? If so, all powder overlays for the same material will always have the same widths. However, I know that for some operations, such as powder calibratio

[2020-08-19 17:08] joelvbernier commented on #468
You make a good point Patrick, but I think that practically speaking it will be ok to set the width attribute via the overlay manager (won't really do it w/o graphical feedback).  And there will only ever be one powder overlay for a given material (can't see having multiple).  I think overall it will be a cleaner interface.  We'll just keep a global toggle for the selected overlays on the main mat

[2020-08-19 18:05] joelvbernier commented on #429
@johnkit -- so far so good!

One thing I forgot to mention yesterday would be the ability to visualize the Bragg peak ("spot") data associated with a given grain.  These are the data structures that get distilled into the `spots_<grain_id>.out` files for each detector, and are the output of `hexrd.instrument.HEDMInstrument.pull_spots()` ([here](https://github.com/HEXRD/hexrd/blob/eab4483bf8e7ac4d3

[2020-08-19 18:08] joelvbernier commented on #458
@cjh1 -- I _think_ the best way to do this involves utilizing @saransh13's new material class, as there will be attributes there for material properties (_i.e._, elastic moduli).  He has rebased off of master, and it making some edits, then we should be ready to merge...  at any rate, let's hold off until that is ready.

[2020-08-19 18:09] joelvbernier commented on #457
@cjh1 I am working on a perfect example for this using an instrument at stanford.  stay tuned...

[2020-08-19 18:10] joelvbernier commented on #414
@bnmajor, weren't we going to have it auto-associate detectors, then fall back to manual associate if that failed?

[2020-08-19 18:15] cjh1 commented on #458
@joelvbernier Sounds like a good plan, we will wait for that to me merged.

[2020-08-19 18:34] joelvbernier commented on #464
@cjh1 is that what you were referring to with this issue?

[2020-08-19 18:35] cjh1 commented on #464
Yes, thank you, I will update the title.

[2020-08-19 20:10] cjh1 commented on #464
To implement this we will have to provide some sort of export GUI that will provide the ability to control what sections are added to the exported configuration. As a first step we could pre-can most of the configuration and for example just control the images used for fitting?

[2020-08-20 03:10] bnmajor commented on #414
@joelvbernier Yes, that should be the behavior and seems to be the case for other instruments. Looking at your examples I found that the issue was using `in` to find a single character detector name - it was finding the detector name in other parts of the path and not making the correct association. #470 should fix this. I tested these changes as thoroughly as I could and I've uploaded a zipped fi

[2020-08-20 17:51] joelvbernier opened #472 "Deactivate enter key capture for dialogs"
Many of the separate dialogs (_e.g._, the overlay manager, the picker widow, ...) have a button in focus by default that captures the enter key.  Can we disable this behavior in all cases?  I know it is not necessary, but I invariably hit enter after inputing text into widgets (habit...).

[2020-08-20 18:00] joelvbernier opened #474 "Enhancements to hand-drawn mask options"
After using this a bit, I am requesting the following enhancements:

- [x] remove the picker window; this is not needed for picking mask region points
- [x] it seems to want to reset a zoomed view in the canvas (at least polar); is this necessary?
- [ ] want to add the ability to draw masks in the raw view
- [ ] store all masked regions in **raw pixel coordinates**; that way the selections will up

[2020-08-20 18:21] psavery commented on #474
For point 2, yes, it looks like the x-axis is being reset on the polar view when the user is zoomed in and any edits are made to the image. I'll look into why.

[2020-08-20 18:55] joelvbernier opened #475 "Modifications to overlay behavior"
There is an interesting dichotomy between how we need to use the material table for the different overlays.  The selections in the material are really only relevant to the powder (and maybe the rotation series overlay).  For the Laue, the simulator must receive **all** the reflections (_i.e._, ignore the exclusions on plane_data), as it applies the geometry and energy ranges to determine which wil

[2020-08-20 19:19] joelvbernier opened #476 "Polarview enhancements"
We'd like to add the ability to specify the min/max eta ranges.  Currently defaults to (-180, 180), but there are cases where we'd like to have the ability to shift the view and even limit the coverage range to < 360° (_e.g._, for instruments with limited coverage).  The hooks are there in polarview.py to set the ranges.  Just need a check that `eta_max - eta_min` is in (0, 2π).

[2020-08-20 19:34] psavery commented on #476
This sounds good.

There are a few places in the code where -180 to 180 are hard-coded, like [here](https://github.com/HEXRD/hexrdgui/blob/292327b95247a683c289bba1682a2b46d7409731/hexrd/ui/calibration/polar_plot.py#L50), [here](https://github.com/HEXRD/hexrdgui/blob/292327b95247a683c289bba1682a2b46d7409731/hexrd/ui/constants.py#L32-L33), and [here](https://github.com/HEXRD/hexrdgui/blob/292327b952

[2020-08-21 20:01] cjh1 opened #478 "AttributeError when starting and then exiting"
If I start and then exit the app, I am seeing the following.

[code]

[2020-08-24 16:01] cjh1 commented on #457
Fixed by #480

[2020-08-24 20:13] cjh1 opened #482 "Add adapt to new material package in hexrd"
The following [PR](https://github.com/HEXRD/hexrd/pull/55) replaces the material module. Material information will be stored in a HDF5 format and will contain atomic information. The first stage will be to replace our existing [materials.hexrd](https://github.com/HEXRD/hexrdgui/blob/master/hexrd/ui/resources/materials/materials.hexrd) with the new HDF5 format, @joelvbernier  and @saransh13 are goi

[2020-08-24 20:21] cjh1 opened #483 "Add new "structure" tab to materials panel"
This will be used provide the atomic information. We are going to need some sort of periodic table widget, to be able to pick the elements. [this is one](http://www.silx.org/doc/silx/0.9.0/modules/gui/widgets/periodictable.html) possibility.

[2020-08-24 20:24] cjh1 opened #484 "Integrating WPPF"
Provide support for spectrum fitting.

[2020-08-24 21:17] joelvbernier commented on #482
@saransh13, perhaps we should hold off on deleting the sglite and existing (legacy) materials modules if there still there in order to maintain compatibility with cpickles materials spec for the near term.  We can mark them for deletion in the future.

[2020-08-24 21:20] joelvbernier commented on #484
Tasks
- [ ] Provide form design for parameter input
- [ ] dialog to capture fit execution messages (if any)
- [ ] update polar plot to display spectrum fit
- [ ] dialog for fit results (modify active materials?)

[2020-08-24 21:22] joelvbernier commented on #474
@psavery I assume the picker window slows things down a bit; for such coarse point picking, we can default to picks on the raw canvas without the zoom window.  I also wanted to modify the behavior of the picker window itself.

[2020-08-24 21:55] joelvbernier opened #485 "Picker window enhancements"
After playing with this a bit, I think some minor modifications might enhance the picker window utility.  I think that it will be most useful in a "two-click" usage case, where you want to do the picking on a zoom canvas for more accuracy.  This is how the venerable Fit2d software worked (albeit in a less fancy package):

![fit2d_2-click-00 00 39 779-00 01 03 267](https://user-images.githubusercon

[2020-08-24 23:38] joelvbernier opened #486 "TARDIS boundardy issues"
@bnmajor I noticed that the TARDIS boundaries are coming in upside-down.  I want to have the boundary files define the detector coordinate system, so they have to be consistent.  I realize that I supplied the templates in cartesian coordinates; the logic behind this (rather than pixel coordinates) is that the scanned pixel size can change (though it defaults to 0.1mm).  Since displaying images def

[2020-08-25 15:55] #475 closed

[2020-08-25 16:19] saransh13 commented on #482
Yeah, that sounds like a good plan.

[2020-08-25 17:33] bnmajor commented on #486
@joelvbernier I've updated the code use the `cartToPixel` function [here](https://github.com/HEXRD/hexrdgui/blob/70bbacffb7f6a0cdf63ff3ded199f5978282ca12/hexrd/ui/interactive_template.py#L26) in #487, which should be loading the templates properly now.

[2020-08-25 21:00] #486 closed

[2020-08-26 01:18] bnmajor opened #488 "Additional LLNL I/O Capabilities"
In the case of the `PXRDIP` instrument (and possibly others) we need the ability to:

- [x] Adjust the height and/or width of the boundary
- [x] Rotate the image one or more times after crop
- [x] Rotate `PXRDIP` boundary 90 degrees when template is added, then rotate cropped image back -90 degrees

1. In order to adjust panel and crop sizes I would suggest something like the following:
![set_h_w_

[2020-08-26 19:11] joelvbernier commented on #488
The TARDIS and XRDT (coming...) panels are very close to the provided boundaries and the circumscribing box shouldn't require modification.  The PXRDIP and BBXRD, however can vary.  The nominal dimensions are maximal; if anything in those cases we'll have to make them smaller (for ref, been using a box specification in ImageJ like you are suggesting above on the fly).  The last piece of the puzzle

[2020-08-26 21:08] #457 closed

[2020-08-26 22:59] joelvbernier opened #489 "Special case the cartesian view for LLNL pinhole camera instrument types"
After thinking about it a bit more, I think we can utilize the canvas for the cartesian view to offer special-case composite detector views for the different pinhole camera instruments (TARDIS, PXRDIP, and BBXRD).  They will essentially be specially arranged GridSpec images of the raw data (incl. overlays).

For TARDIS:
![HED_instrument_composite_views 001](https://user-images.githubusercontent.co

[2020-09-02 17:51] cjh1 commented on #442
This is now resolved

[2020-09-02 17:51] #442 closed

[2020-09-02 17:52] cjh1 commented on #420
@joelvbernier I think this can closed now?

[2020-09-02 17:53] cjh1 commented on #414
Closing for now, reopen if necessary.

[2020-09-02 17:53] #414 closed

[2020-09-02 20:11] joelvbernier opened #491 "Add selector to specify different SNIP algorithms"
There are 2 snip implementations in the code currently, `hexrd.imageutil.fast_snip1d()` and `hexrd.imageutil.snip1d()`; I'd like to add a selector on the polar view tab to toggle between, defaulting to the fast version as it make interaction much smoother.  The non-fast version, however, gives better results, so once a configuration is roughed in I can envision switching.

[2020-09-02 20:15] joelvbernier commented on #491
I'll add that we should add the option to run the `snip2d` as well; API can be the same.   I've found a need for it dealing with very high background data.

[2020-09-02 20:45] psavery commented on #482
@joelvbernier @saransh13 Should I also try to migrate from using `hexrd.spacegroup` to `hexrd.symbols`? We are currently using `hexrd.spacegroup` to get the following:

1. Hall symbol
2. Hermann–Mauguin symbol
3. Laue group
4. Lattice type
5. Required params (ie., do we need just **a**, or **a** and **c**, etc.).

[2020-09-02 21:30] joelvbernier opened #492 "New errors in LLNL I/O"
I am getting some new errors when I try to execute the LLNL I/O.  This is on the Mac (I'll try to reporduce on Ubuntu).

For TARDIS selected:

1. with overlays selected (_e.g._, from a saved state) I get the following exception
[code]
and the image doesn't load.  Note that we **do not** want to do overlays in the I/O graphics canvas, rather only after the images are loaded and processed.

2. when

[2020-09-02 21:49] joelvbernier commented on #492
Adding to this, the reference tilts are also not being assigned to the different image plates.  For the LLNL instruments, the tilt parameterization is always going to be intrinsic zxz, and my reference instruments have the default tilt parameters for the as-loaded orientations of the detector borders.

Further, rotating the cropped image array (I don't think it is actually doing the image interpol

[2020-09-02 22:02] saransh13 commented on #482
I think we can just stick to `hexrd.spacegroup` for now. Can eventually be replaced by `hexrd.symbols` in the future.
@joelvbernier ?

[2020-09-02 22:16] joelvbernier opened #493 "Strange behavior in Instrument Calibration widget"
I've noticed some odd inconsistencies in the instrument calibration widget on the Mac -- haven't tested the same on linux yet but I'll try to and update this issue accordingly.

1. In the Slider View:
  - The labels for the tilt (X, Y ,Z) are misleading if you are using a tilt parameterization other than extrinsic XYZ; we should either update them to match the selected parameterization (if possibl

[2020-09-02 23:28] joelvbernier commented on #492
Another change request:

For the TARDIS, let's use the following detector keys, as they match the data taxonomy in the archive:

- IMAGE-PLATE-2
- IMAGE-PLATE-3
- IMAGE-PLATE-4

For PXRDIP:

- IMAGE-PLATE-L
- IMAGE-PLATE-D
- IMAGE-PLATE-R
- IMAGE-PLATE-U
- IMAGE-PLATE-B

For BBXRD:

- LFT
- DWN
- RGT
- TOP
- BCK

[2020-09-02 23:35] joelvbernier opened #494 "Setting panel_buffer and detector borders from specified boundary in LLNL I/O"
Beyond the cropping, we also want to set the panel_buffer attribute on each detector **_and_** the boundaries useing in the plotting using the specified boundary data in the resources.  The former should be pretty straightforward (can at least make a companion boolean array) and the latter might be handled best by defining a new propery on the detector class (@psavery  thoughts?).

[2020-09-03 00:27] saransh13 commented on #482
@psavery the latest push should have the `material.dum_material` function.

[2020-09-03 10:18] psavery commented on #482
Thanks @saransh13. I'll give it a try.

[2020-09-03 14:18] cjh1 commented on #491
@joelvbernier Is needed for the demo?

[2020-09-04 14:42] psavery opened #497 "Do lazy generation of PlaneData"
In #496, when the default materials are loaded, plane data gets generated on all of the materials during hexrd start-up.

This can be an expensive operation, so it delays start-up time.

At start-up, we should only generate plane data of the active material (the one currently selected in the materials panel), and materials that are visible. We can then generate plane data of other materials when t

[2020-09-04 17:33] psavery commented on #483
@joelvbernier I think we're going to try out [silx](http://www.silx.org/doc/silx/0.9.0/modules/gui/widgets/periodictable.html) (also linked above), because it doesn't add many dependencies, and it seems good so far.

[2020-09-04 18:21] joelvbernier commented on #497
Agreed.

[2020-09-04 19:24] cjh1 opened #500 "Exception when added overlay"
[code]

[2020-09-04 21:06] psavery commented on #483
@joelvbernier Do we want to be able to select multiple atoms in the periodic table for a site, or just one atom for a site? I see the example we have appears to allow multiple atoms in a single site, and then you specify a partial occupancy for each.

[2020-09-04 21:26] johnkit commented on #472
FYI for buttons internal to the dialogs, we can disable the autoDefault property. For buttons in the QButtonBox widget, we'll add an event filter to ignore `<Enter>` keys because QButtonBox overrides the button autoDefault property.

[2020-09-07 15:28] cjh1 commented on #389
Fixed by #498

[2020-09-07 15:28] #389 closed

[2020-09-08 16:09] psavery opened #505 "Qt requires python built with newer SDK for macOS"
Currently, both the `anaconda` and `conda-forge` distributions of python for macOS are built with an old SDK (10.9 or 10.10) to ensure backward compatibility on old OS's. Normally, [you can simply specify an older MACOSX_DEPLOYMENT_TARGET](https://developer.apple.com/library/archive/documentation/DeveloperTools/Conceptual/cross_development/Configuring/configuring.html#//apple_ref/doc/uid/10000163i

[2020-09-08 16:09] psavery commented on #160
This is now tracked in #505. Closing.

[2020-09-08 16:09] #160 closed

[2020-09-08 16:10] psavery commented on #426
This is now being tracked in #505

[2020-09-08 16:10] #426 closed

[2020-09-08 17:10] psavery commented on #420
I don't think this needs any updates until more distortions are added. As more distortions are added, we will need to add the options to use them to hexrdgui as well (along with the number of parameters for each).

[2020-09-08 17:53] psavery commented on #493
For the X Y Z labels in the slider view, we can probably just add a function that sets them based on the current Euler angle convention.

Indeed the spin controllers are restricted to two decimal places. Maybe the best option is to use the [ScientificSpinBox](https://github.com/HEXRD/hexrdgui/blob/master/hexrd/ui/scientificspinbox.py) instead?

The min and max of the spinboxes are dynamically set

[2020-09-08 18:24] cjh1 commented on #493
@joelvbernier Will try again with the new python package.

[2020-09-08 18:30] #482 closed

[2020-09-08 18:42] cjh1 opened #506 "Add ability to set a 2 theta offset for the overlays"
@joelvbernier Is this a global setting for all overlays?

[2020-09-08 21:25] bnmajor commented on #493
#507 Updates the labels for tilt to match selected Euler angle convention and changes the units to degrees for tilts in tree view if convention is not `None`.

[2020-09-09 19:14] psavery commented on #483
@saransh13 @joelvbernier Okay, I've got a fair amount of the GUI in place so far.

Here is a site editor:
![Screenshot from 2020-09-09 14-50-17](https://user-images.githubusercontent.com/9558430/92640818-d5e36380-f2ab-11ea-9e55-989cadc15c73.png)

And if you press "Select Atom Types", a periodic table appears where you can select all of the atom types (yellow means it is selected, but we can change

[2020-09-09 19:24] psavery commented on #483
I think something like this works, for example, for expanding the sites:
[code]

[2020-09-09 19:31] psavery commented on #483
@saransh13 Or does the material class want the non-expanded version of the sites?

[2020-09-09 19:39] psavery commented on #483
Actually, it looks to me from the cif reader that it takes the reduced version of the sites. Let me know if otherwise is true.

[2020-09-09 20:09] saransh13 commented on #483
@psavery  That looks great!
We just need the reduced sites, the equivalent positions are calculated inside the unitcell class.
We also input the thermal factor in U and convert it to B inside the class. The U factor is the standard when reporting the thermal factors.

[2020-09-09 20:12] psavery commented on #483
Okay, sounds good.

I let the user choose between "B" or "U" (like Maud does). I'll make "U" the default instead of "B". It will automatically be converted to "U" for the material class.

[2020-09-09 20:13] psavery commented on #483
@saransh13 One more question. Do we need the user to specify the total quantity? Or can I get rid of that?

[2020-09-09 20:18] saransh13 commented on #483
We can get rid of that. I'm not 100%, but I think thats the multiplicity of the atom site.

[2020-09-09 21:22] #472 closed

[2020-09-09 21:30] psavery commented on #483
@saransh13 It looks like the Material class is [storing the thermal factor in the atom info as B](https://github.com/HEXRD/hexrd/blob/e028f7747f481462f663002b9fb844a11f667fca/hexrd/material.py#L94-L99), according to the comment above it. Is that correct?

[2020-09-09 21:35] saransh13 commented on #483
Okay, yeah old comment which I forgot to change.
If you look at [435] (https://github.com/HEXRD/hexrd/blob/e028f7747f481462f663002b9fb844a11f667fca/hexrd/material.py#L435-L436) in `materials`, that has the correct relation between B and U

[2020-09-09 21:38] psavery commented on #483
Okay, I will save them as `U` instead of `B`.

[2020-09-09 21:42] joelvbernier commented on #483
Looks so good @psavery !

[2020-09-09 21:42] joelvbernier commented on #472
Thanks guys.

[2020-09-09 21:47] saransh13 commented on #483
@psavery latest push should fix the comment and also default values.

[2020-09-09 22:23] psavery commented on #483
@saransh13 Oh okay. So there is one U for the whole material, then (not one U for each site)?

[2020-09-09 22:44] saransh13 commented on #483
Its one U for each site and atom. So two atoms on the same site with partial occupancies can have two different U values.
The default example just has one site with full ocuupancy, so a single U is required.
Sometimes U is defined as a 3x3 symmetric tensor (so 6 independent components) and there is support for this in the material class too.

[2020-09-09 22:48] psavery commented on #483
Oh okay, I see. `Material._U` is an array.

[2020-09-10 16:17] #478 closed

[2020-09-11 00:49] joelvbernier opened #510 "Add warning dialog on quit"
Just accidentally killed the GUI when my CMD + TAB was a CMD + Q on mac, which makes me appreciate the utility of a warning dialog to ask the user if they are SURE they want to quit 🤣

[2020-09-11 06:54] joelvbernier opened #511 "Colormap editor currently not suitable for float images with small intensities"
The QSpinBox widgets do not allow for adjusting the colormap appropriately for float images.  The fade corrected images in the NIF archive are of float type and I can't set the max appropriately low.  The simplest option would be to replace the widget with a DoubleSpinBox; we could alternatively rescale images, but that might be dicey.  Thoughts?

[2020-09-11 10:34] psavery commented on #511
The [ScientificDoubleSpinBox](https://github.com/HEXRD/hexrdgui/blob/master/hexrd/ui/scientificspinbox.py) might be a good option here too. It is currently used in a few parts of the code, including the distortion parameters (see below). It doesn't display trailing zeros, and it allows for scientific notation.

![Screenshot from 2020-09-11 06-30-10](https://user-images.githubusercontent.com/955843

[2020-09-11 15:28] psavery commented on #484
@saransh13 Do you have any examples of using WPPF in hexrd that I can start with?

[2020-09-11 16:12] #483 closed

[2020-09-11 17:20] saransh13 commented on #484
@psavery I do have a two example datasets for Ceria and PbSO4. Right now `WPPF` is i/o from file. Do you want to wait until I convert it to input from values or get started with the file input?

[2020-09-11 18:05] saransh13 commented on #484
@psavery I've uploaded ceria files on the google drive in the WPPF folder with an example script to initialize the class. I'm working on making the inputs directly from data instead of files.

[2020-09-11 18:07] cjh1 commented on #484
Thanks @saransh13

[2020-09-11 20:39] psavery opened #513 "Allow "U" to be specified as a symmetric tensor in the site editor"
`U` can either be a single value, or a 3x3 symmetric tensor. We should allow a symmetric tensor to be specified as well.

We can perhaps add a checkbox as to whether the `U` is a single value or a tensor. And, if it is a tensor, instead of a single spinbox in the `U` column, we can put an `Edit` button that brings up a small dialog with the matrix to be edited.

![Screenshot from 2020-09-11 16-36-

[2020-09-11 20:48] psavery opened #514 "Don't allow multiple sites to have the same fractional coordinates"
In the site editor in the material structure tab, it does not make sense physically for multiple sites to have the same fractional coordinates. And, in the GUI, it can lead to some unexpected results.

For instance, currently, if you add a site, it always copies whichever site is selected (or the last site if none are selected), so the new site ends up with the same fractional coordinates. If you

[2020-09-14 22:06] joelvbernier opened #516 "Overlay fixes for offsets"
Working on a PR to apply corrections to the angular overlays in the polar view mode consistent with an input offset vector.  The Laue overlays were actually broken in this regard already (_i.e._, wrong behavior when changing the crystal translation).  The issue in the polar view comes from the fact that the polar rebinning is done from the lab reference frame.  If you have a material point in your

[2020-09-15 18:43] cjh1 commented on #420
Closing for now

[2020-09-15 18:43] #420 closed

[2020-09-15 18:46] cjh1 commented on #493
Closing reopen if necessary

[2020-09-15 18:46] #493 closed

[2020-09-15 23:36] joelvbernier opened #518 "Laue overlay manager input error"
The parameters for the tilt (which should be zx'z'' angles in my current test case) don't seeme to be properly cast to grain parameters.  I will make a set of simulated TARDIS images with known perturbations in that context.

[2020-09-16 11:01] psavery commented on #511
@johnkit Here's one way you can promote the widgets to a scientific spinbox in Qt Designer, that I needed to do in another part of the code.

![promote_to_scientific_double_spin_box](https://user-images.githubusercontent.com/9558430/93328826-44637c80-f7ea-11ea-9c9a-af72a206bafc.gif)

[2020-09-16 13:08] psavery commented on #516
@joelvbernier I have a commit that adds the translation offset to the powder overlay editor, and it seems to work. Should I push it to #517?

[2020-09-16 13:40] johnkit commented on #511
@psavery yes the ScientificDoubleSpinBox works great. Seems too easy.

[2020-09-16 15:36] #511 closed

[2020-09-16 15:54] johnkit opened #522 "macOS only: snip1d popup only displays once"
In the polar image mode, the "Show snip1d" button generates and displays a popup window. On macOS, if you close that popup, clicking the "Show snip1d" button again does not re-display the window. Internally I have confirmed that the figure is generated and the matplotlib figure.show() function is called.

[2020-09-16 16:41] #491 closed

[2020-09-16 18:15] joelvbernier commented on #476
bumping the priority on this.

[2020-09-16 19:01] psavery commented on #522
Possibly related: #204

[2020-09-16 19:21] johnkit commented on #522
Yes same thing. Thanks for pointing that out, Patrick.

[2020-09-16 19:21] #522 closed

[2020-09-16 19:52] psavery commented on #476
@johnkit Maybe do a grep of '180' on the source code to make sure we catch all the cases. We can replace them with something like `HexrdConfig().polar_res_eta_min`, and max.

[2020-09-16 21:16] psavery opened #524 "Add calibration with line pick for each overlay"
This will go through the overlays, one at a time, and have the user pick lines for each one. For Laue spots, we will need the user pick them in the correct order, so we may need to highlight the width for the overlay to be picked. We will also allow for skipping over certain Laue spots.

[2020-09-16 21:18] psavery commented on #524
@joelvbernier Is this going to replace the current line picker in "Run"->"Calibration Line Picker", or will it be a new menu item?

[2020-09-16 21:30] joelvbernier commented on #524
Yes; there will be a single workflow for calibration.  We will essentially build the problem by picking a list of material/overlay types.  Then we need to select the data points that will go into each.  We can probably include a toggle to the effect of "include in calibration" in the existing overlay manager.  To flag which materials will get used.

[2020-09-16 21:54] psavery commented on #524
Maybe another option is that we could make it so if the overlay is visible, it gets included in the calibration? I can still add another checkbox for "include in calibration" if that is not preferred.

[2020-09-16 22:32] saransh13 commented on #484
I think we should repopulate the values in the WPPF dialogue box with the current values in `WPPF` class. Default values should be used when WPPF is run for the first time.

[2020-09-16 22:36] saransh13 opened #525 "Update simulated spectrum plot between each WPPF iteration"
Can we update the simulated plot after each iteration cycle i.e. everytime `LeBail.RefineCycle` is called?

[2020-09-16 22:45] joelvbernier commented on #492
Ok, @bnmajor new stuff:

Something werid going on with the tilt parameter initialization.  I repeatedly get these (see below) tilt angles for IP2 after importing TARDIS data -- and this is without applying any rotation.  They should be (180, 90, 180), or equivalently (0, -90, 0).

![tilt_init_error](https://user-images.githubusercontent.com/1154130/93397748-15232e80-f82f-11ea-9a8a-117fd8ae0632.png

[2020-09-16 22:47] joelvbernier commented on #492
side note @bnmajor (and @cjh1 and @johnkit): the "Loading Processed Imageseries" dialog appears after import and hangs around like a zombie widget (see bottom right in the pic above).  Can't close it.

[2020-09-16 23:19] joelvbernier commented on #492
I'll note that it is importing the reference values correctly:

![Screenshot from 2020-09-16 16-05-49](https://user-images.githubusercontent.com/1154130/93401239-97fbb780-f836-11ea-9e2f-5e766a7e4fba.png)

They are just getting erroneously munged.

[2020-09-16 23:20] joelvbernier commented on #492
Also, sub-issue: when applying a transform to the image in the I/O widget, the colormap gets reset.  This should be disabled.

[2020-09-16 23:20] cjh1 commented on #492
@johnkit Can you take care of the zombie please?

[2020-09-16 23:30] joelvbernier commented on #492
@cjh1 @johnkit : it appears after clicking the "complete and reload instrument" button.  Then just stays.  This is on Ubuntu.

[2020-09-16 23:31] joelvbernier commented on #516
Yes please!  I am pushing a few more commits to #517 right now as well.

[2020-09-17 04:31] bnmajor commented on #492
@joelvbernier The bug with `IP2` was caused by two issues: the defaults were being pulled from `IP4` instead of `IP2`, and the conversion to `instrinsic zxz` was then called on those values (which were already `instrinsic zxz`). This appears to be corrected in #526. Here's a screenshot of the config (with the added rotation) and polar view for the re-loaded `TARDIS` instrument:
![tardis-polar](htt

[2020-09-17 11:07] psavery commented on #492
I've seen this before occasionally as well, for progress dialogs in other parts of the code. It didn't happen consistently for me, but I never tracked down the reason for it when it did happen.

[2020-09-17 12:06] cjh1 commented on #492
I will break this out into an issue

[2020-09-17 12:06] cjh1 opened #528 "When applying a transform to the image in the I/O widget, the colormap ranges get reset. This should be disabled."

[2020-09-17 15:01] cjh1 opened #530 ""Loading Processed Imageseries" dialog appears after import and can't be close"

[2020-09-17 15:02] cjh1 commented on #492
I have created #530 for this

[2020-09-17 15:50] bnmajor commented on #528
@joelvbernier This has been addressed for the case of the LLNL I/O workflow in #529, but this is an issue that would occur if the `Transform Detectors` option is used through the `Edit` menu. Should we disable the color map reset in that case as well?

[2020-09-17 18:26] #525 closed

[2020-09-17 18:28] johnkit commented on #476
Notes:
* Adding eta range to the image mode widget increases height slightly from 138 to 152 pixels (even though spinbox vertical height is 20px).
* For now, I'll set the spinbox min/max to [-540, 540] so that you can offset a full 2pi on either end.

![image](https://user-images.githubusercontent.com/5559383/93512013-a9ee6080-f8f1-11ea-9596-bbdc1463b8a7.png)

[2020-09-17 18:43] psavery commented on #476
We might want to use the unicode η similar to what is being done for 2θ.

And yeah, decreasing the size of the main canvas isn't that nice. But I think we can think of ways to reduce the image mode widget size later, if it isn't urgent now.

[2020-09-17 19:15] joelvbernier opened #535 "Redraw of polarview unnecessary in mask application?"
It seems that when we apply masks, it is actually redrawing the whole polarview.  This is unnecessary, and negatively impacts the UX as it takes a while.  Can't we cast the polar image as a masked array and simple update the mask with the logical and of the active mask layers?  This should play nice with the summing for the lineout.

[2020-09-17 19:20] joelvbernier commented on #530
This one is somewhat lower priority -- no need to spend too much time on this until we tackle the other outstanding issues.

[2020-09-17 19:37] #33 closed

[2020-09-17 19:48] psavery commented on #535
Note that it is currently calling [MainWindow.update_all()](https://github.com/HEXRD/hexrdgui/blob/c968752f64beaebc44fe22cd8b7b2379de09d1ac/hexrd/ui/main_window.py#L773), generating the data, and [setting the data](https://github.com/HEXRD/hexrdgui/blob/c968752f64beaebc44fe22cd8b7b2379de09d1ac/hexrd/ui/image_canvas.py#L508) before re-drawing.

We might be able to skip the re-generation of data by

[2020-09-17 21:26] psavery commented on #476
@joelvbernier Question. Are we going to require eta_max - eta_min to be 360? Is eta_max - eta_min going to be the eta_period? Or is it always going to be eta_min + 360?

[2020-09-17 21:33] joelvbernier commented on #476
@psavery no; but eta period will always default to 360. + eta_min.

[2020-09-18 16:47] bnmajor commented on #488
Added in #539

[2020-09-18 18:19] joelvbernier commented on #476
@johnkit -- how about something like this for the form design?  Saves vertical space
![Screenshot from 2020-09-18 11-17-45](https://user-images.githubusercontent.com/1154130/93631664-d1e8cd00-f9a0-11ea-997a-0b0f91659894.png)

[2020-09-18 18:40] joelvbernier commented on #474
@psavery bumping this up in priority.  With regards to task 1, I still think just picking points on the image for the polygon masks is sufficient and likely faster (don't need the zoom).  There is also the desire to pick in the zoom window, as requested in #485 -- after playing with it more, this would be more intuitive for the users.

[2020-09-18 18:53] #476 closed

[2020-09-18 19:30] joelvbernier commented on #528
@cjh1 Yes -- since we are just mirroring/rotating the image, we want to preserve whatever cmap limits the user has input.

[2020-09-18 23:14] joelvbernier commented on #488
Oooh, is this ready to merge?

[2020-09-18 23:35] bnmajor commented on #488
@joelvbernier Yes, it's merged in and ready to be tested out!

[2020-09-18 23:40] joelvbernier commented on #488
ah, I was fooled by the fact this was still an open issue.  Pulling master now...

[2020-09-18 23:56] joelvbernier commented on #488
Uh oh -- my TARDIS images are coming in upside down now...  something is broken.  The look ok in the import panel, but then when it loads them, they appear upside down in the raw image view now.

[2020-09-19 06:59] joelvbernier opened #542 "Broken LLNL import"
...At least for TARDIS.  The commits merged in #539 broke the image orientation when finishing the import.  Observe:

from commit  a7bb576168604b46cd34315eff0edf7c3b4b64db I get this proper import of TARDIS data
![Screenshot from 2020-09-18 23-47-24](https://user-images.githubusercontent.com/1154130/93661161-7c490a80-fa0a-11ea-9114-abf0043d05e5.png)

from current master (commit 41c2b6e59b2ecedad7c

[2020-09-21 12:17] bnmajor commented on #542
@joelvbernier You were correct, seems like it was a silly mistake... Looks like it is coming in correctly now. Let me know if you see anything else that seems off

[2020-09-21 13:49] #542 closed

[2020-09-21 19:01] joelvbernier commented on #500
I think this is happening because no rings are selected in the planeData.exclusions by default.  We can make sure that at least the first one is set to True, and that should fix it￼.

[2020-09-21 20:27] joelvbernier commented on #518
@psavery -- can you take a look?

[2020-09-21 20:46] psavery commented on #518
I'll take a look!

[2020-09-21 20:47] cjh1 commented on #518
Thanks @psavery

[2020-09-21 21:05] psavery commented on #518
@joelvbernier Looks like I had just accidentally left out radians/degrees conversions. Oh unit conversions...

[2020-09-21 21:07] joelvbernier commented on #518
I figured that was exactly what it was — still making a pair of test images with know angles to try it out :-)

[2020-09-21 21:10] psavery commented on #518
@joelvbernier Yeah, so, the crystal editor for the Laue was displaying radians, even though there was a degree symbol. I'm about to push a fix so it actually displays degrees.

[2020-09-21 22:03] #518 closed

[2020-09-22 00:31] saransh13 opened #545 "creating new material using the structures tab"
I just got around to testing a new material creation feature. There are a few improvements to be made. I'm listing them here.

1. When a new material is created and the user switches to the structure tab and clicks on any site, then the arrow to add/import/delete material gets hidden.

2. All the data for the new material is reloaded from the previous material that was selected. The new material s

[2020-09-22 14:34] cjh1 opened #547 "Rework how we disable/enable reset of the colormap"
See #529

[2020-09-22 14:50] cjh1 opened #548 "Exception when closing app after applying mask to polar view"
[code]

[2020-09-22 14:55] cjh1 opened #549 "Add dialog to capture fit execution messages"
This will require hexrd to write the messages to a logger.

[2020-09-22 14:55] bnmajor commented on #548
@cjh1 This seems to be related to the `zoom canvas` and may end up being a non-issue since @joelvbernier has requested that we remove the picker window for hand-drawn masks in #474

[2020-09-22 14:57] cjh1 commented on #484
Implemented in #523 and #534

[2020-09-22 14:57] #535 closed

[2020-09-22 14:59] cjh1 commented on #516
@psavery do we still need to add the translation offset?

[2020-09-22 15:06] psavery commented on #545
Hi Saransh. Here are my responses for further thought.

1. I haven't been able to reproduce this on Linux. I'll give it a try on Mac later.

2. The current behavior in the general tab is that when a new material is added, its properties are copied from the most recently selected one. For the structure tab, we can make it so that the sites are not copied. And, indeed, if no atom site is selected, t

[2020-09-22 15:45] #528 closed

[2020-09-22 16:23] psavery commented on #516
@cjh1 This was added in #527 and #541. Closing this PR.

[2020-09-22 16:23] #516 closed

[2020-09-22 17:02] saransh13 commented on #545
Thanks, Patrick. Attaching gif for the first issue here.

![vanish](https://user-images.githubusercontent.com/15834451/93912727-fb636a80-fcb8-11ea-97b8-b716f74610b8.gif)

2. see 4.

3. Yes, there should be at least one atom type for each site. I couldn't figure out how to remove an atom that had already been selected. A "-" button makes more sense to me than deselecting from periodic table. I thin

[2020-09-22 19:06] cjh1 opened #550 "Allow color and line style of template outline to be selected"
We can re use the selectors from else where.

[2020-09-22 19:07] cjh1 opened #551 "Don't flip image after applying crop"

[2020-09-22 19:07] cjh1 opened #552 "Disable canvas zoom before masking"

[2020-09-22 19:11] saransh13 opened #554 "Material selector for WPPF"
Add an option in WPPF dialogue box to select which materials to use from the list of active materials.
The active materials should only have materials with "Powder" overlay option selected. The materials with "Laue" overlay can be ignored.

[2020-09-22 19:11] cjh1 opened #555 "Add ability to select materials in WPPF dialog"

[2020-09-22 19:12] cjh1 commented on #555
Duplicate of #554

[2020-09-22 19:12] #555 closed

[2020-09-22 19:13] psavery commented on #554
It is currently only using the active material (the one that is currently selected in the materials panel). Get the user to select the materials.

[2020-09-22 19:13] cjh1 opened #556 "Convert mask coordinates to raw pixels"
@joelvbernier Will provide code snippet

[2020-09-22 19:18] cjh1 opened #557 "Allow log scale to be applied to intensities in the polar view"

[2020-09-22 19:19] cjh1 opened #558 "Ensure that the columns resize to the widgets in the load images widget"

[2020-09-22 19:23] psavery commented on #554
@saransh13 Do you think it automatically using all visible powder overlays is acceptable? Or do we want the selector?

[2020-09-22 19:45] psavery commented on #552
I think the toolbars can all be accessed via something like `[x['tb'] for x in ImageTabWidget.toolbars]`. The type of the toolbar is matplotlib's `NavigationToolbar2QT`, which inherits from `NavigationToolbar2`. I guess we'll need to figure out how to programmatically turn off zoom. Maybe we can have `HexrdConfig` emit a signal like `picker_started` and connect to it to turn off the zoom.

[2020-09-22 20:01] psavery commented on #556
Don't forget to do this for the [Laue masks](https://github.com/HEXRD/hexrdgui/blob/d19f7cf4a4469b0d3b6978f2f65c5e8a6bd81785/hexrd/ui/main_window.py#L652-L680) also.

[2020-09-22 20:02] saransh13 commented on #554
I think we need the selector definitely. The default selection can have all materials with powder overlays, but an option to turn certain materials on/off is definitely required. In terms of passing this data to `LeBail` class, a simple list of these material objects should work.

[2020-09-22 20:35] psavery opened #561 "Specify refinements for Laue overlays"
Add the ability to specify whether or not various Laue overlay options should be refined in the calibration.

[2020-09-23 12:40] cjh1 opened #564 "Exception when clicking on translate button in load data panel"
Traceback (most recent call last):
  File "/home/cjh/work/source/hexrdgui/hexrd/ui/import_data_panel.py", line 249, in setup_translate
    self.it.disconnect_rotate()
  File "/home/cjh/work/source/hexrdgui/hexrd/ui/interactive_template.py", line 251, in disconnect_rotate
    self.parent.mpl_disconnect(self.button_drag_cid)
AttributeError: 'InteractiveTemplate' object has no attribute 'button_drag_

[2020-09-23 13:21] #558 closed

[2020-09-23 13:21] #551 closed

[2020-09-23 23:06] joelvbernier commented on #500
@saransh13 and @psavery, this is still happening.  Can we make sure the planeData object in the material has at least the first exclusion set to False?  For reference, we used the first 5 as a default "active" set in the old GUI when we instantiated a material object.

[code]

[2020-09-23 23:18] joelvbernier commented on #500
I fact, when I fire up the GUI from a previous state where an overlay was selected, this exception prevents me from loading a set of images via the `File --> Open --> Images` dialog.

In addition, when I open the hkls table for the default materials as loaded, they are empty; I have to change an interactor to trigger regen to see them (_e.g._ dmin), and I have to do this for each material to popul

[2020-09-23 23:19] joelvbernier commented on #564
Yep, seen this too.

[2020-09-23 23:20] joelvbernier commented on #561
I'd like to see a table view of the parameters akin to the WPPF panel.

[2020-09-23 23:25] joelvbernier commented on #561
Also...  we need to expose the lattice parameter(s) for the case of powder diffraction overlays.  @saransh13, probably best to go through PlaneData class as PlaneData.lparms is already symmetrically reduced.  There is also logic in the material panel to cast the proper parameters names to the reduced list associated with the lattice type, a, b, c, &alpha;, &beta;, &gamma;.

[2020-09-23 23:28] bnmajor commented on #564
@cjh1 @joelvbernier Do you know what steps you took before getting this error? I haven't been able to reproduce on my own so far.

[2020-09-23 23:33] joelvbernier commented on #561
Looks like [spacegroup](https://github.com/HEXRD/hexrdgui/blob/b31832f4f2e3a6717ef7450c0304dfd46af5d4e2/hexrd/ui/material_editor_widget.py#L124) knows how to parse the space group dependent number of reduced lattice parameters

[2020-09-24 00:11] joelvbernier commented on #564
@bnmajor -- Here are the steps.  I get it if I load an image, then click the translate button (even though it appears to be already selected).   Translate will not work, unless I click the rotate button and then the translate button again.  I'm trying to do a screen capture on my janky linux laptop.  I'll update the comment with a vid if I get it working.

[2020-09-24 00:32] joelvbernier commented on #557
The lineout in the lower axes, that is.

[2020-09-24 00:39] bnmajor commented on #564
@joelvbernier Thanks, that's perfect, I can replicate it now. I've added a fix in #567

[2020-09-24 00:52] psavery commented on #561
@joelvbernier Do you mean we need refinements for the lattice parameters?

The lattice parameter values themselves are currently exposed on the materials panel.

![Screenshot from 2020-09-23 20-51-20](https://user-images.githubusercontent.com/9558430/94088490-9ace4d80-fdde-11ea-9c41-ce7b8f2f67c0.png)

[2020-09-24 00:55] psavery commented on #557
I think we'll need to just perform a log on the y-axis of the azimuthal data generated [here](https://github.com/HEXRD/hexrdgui/blob/b31832f4f2e3a6717ef7450c0304dfd46af5d4e2/hexrd/ui/image_canvas.py#L521) and [here](https://github.com/HEXRD/hexrdgui/blob/b31832f4f2e3a6717ef7450c0304dfd46af5d4e2/hexrd/ui/image_canvas.py#L601).

[2020-09-24 00:59] joelvbernier commented on #556
If points are picked in the polar view, here is how to convert to pixels:
[code]
![pixel_points_from_angles](https://user-images.githubusercontent.com/1154130/94088860-664e9780-fdc6-11ea-81bd-adcb779d2ffc.png)

[2020-09-24 12:31] #564 closed

[2020-09-24 14:49] psavery opened #570 "Max 2θ in polar view not saved in between sessions"
If you load a config file, the polar resolution values are automatically computed and set. For instance, loading
the simulated tardis config and data yields this:

![image](https://user-images.githubusercontent.com/9558430/94160696-e3bfe980-fe52-11ea-8cee-4fb4aef50cc0.png)

However, if you exit the program normally (the settings will be saved), and then restart the program, the max
 2θ gets reset

[2020-09-24 14:50] psavery commented on #500
@joelvbernier I think the last comment might actually be caused by a different bug, and that one is now up in #570.

[2020-09-24 15:44] #500 closed

[2020-09-24 17:44] psavery opened #573 "Overlay energy not updating when they become visible"
If you make a new overlay in the overlay manager for a material that is not the currently selected one in the materials panel, and you make it visible, its energy is not updated immediately with the current beam energy. This makes it so the overlay is drawn incorrectly.

We should make sure that as soon as an overlay becomes visible, its associated material gets an update to its energy.

The reaso

[2020-09-24 17:58] #552 closed

[2020-09-24 18:11] saransh13 commented on #500
@joelvbernier @psavery I did a PR in `hexrd` the first `hkl` reflection always has `exclusion` set to `False` by default.

[2020-09-24 18:12] psavery commented on #500
@saransh13 That sounds great, thanks!

[2020-09-24 20:18] joelvbernier opened #579 ""Reset Range" in colormap widget not using log scale if checked"
Just noticed that the "reset range" button is not working as expected if log scaling is checked; I would anticipate it would reset the range based on the current image, but it appears to be tied to the as computed image with unscaled intensities.  Probably an easy fix.

[2020-09-24 21:09] #570 closed

[2020-09-24 21:09] #573 closed

[2020-09-24 21:32] #550 closed

[2020-09-24 21:37] saransh13 opened #580 "Update default material HDF5 file in resources"
New material file includes `LiF, MgO, diamond, sapphire, quartz, ceria`.

[2020-09-24 22:59] psavery commented on #579
Yeah, so it is actually using the underlying image data for the range. And the log scale in the color map editor doesn't currently affect the underlying data - it only affects the color map. This is the same reason also why it doesn't affect the azimuthal integral data at the bottom. [`matplotlib.colors.LogNorm`](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.colors.LogNorm.html) is the class

[2020-09-24 23:13] joelvbernier opened #582 "Structure tab issues"
If I try to add a new material, I'm noticing a few things.

1. The site labels are not editable; they seem to grab a string and advancing number from the last selected material
2. Site atom types are not editable; no option to remove a site if you add one accidentally.  In fact, if I try to change the atom site, it just keeps adding additional ones.  Maybe I am not understanding the interface?  Mu

[2020-09-24 23:32] psavery commented on #582
For 1, try two things:

1. Try double-clicking the site label. It works for me on Linux, but Saransh said it doesn't work on Mac.
2. You can also just select the row and start typing, and it should start editing it.

See example below.

![edit_sites](https://user-images.githubusercontent.com/9558430/94210395-98cac400-fe9c-11ea-8abc-f4442c816afb.gif)

For 2, yeah, the only way to removes atoms is t

[2020-09-25 04:47] joelvbernier opened #584 "New matplotlib warning on startup"
on Linux with matplotlib versions:

[code]
I am now seeing the following warnings:
[code]